<<<<<<< HEAD
extend ' .mobile-menu ul' has no matches
=======
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
.listpages,
.listcategories,
.featureditem,
.relatedpages,
.related-products {
  font-size: 0;
}
.listpages li,
.listcategories li,
.featureditem li,
.relatedpages li,
.related-products li {
<<<<<<< HEAD
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
}
#main-menu {
  background: none;
  position: static;
}
@media only screen and (max-width: 800px) {
  #main-menu {
    background: #83b421;
  }
}
.main_menu {
  font-size: 0;
}
.main_menu >* {
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
}
header {
  line-height: 50px;
}
header .main_menu {
  z-index: 110;
  background: none;
  color: #222;
}
header .main_menu li:hover ul,
header .main_menu li.current ul {
  display: block;
  z-index: 10;
}
header .main_menu li:hover ul {
  z-index: 11;
}
header .main_menu a {
  color: inherit;
  display: block;
  padding: 0 18px;
  font-size: 1.25em;
  text-transform: lowercase;
  white-space: nowrap;
}
header .main_menu a:hover {
  background: #f6f6f6;
  color: #222;
}
header .main_menu a.current {
  background: #929292;
  color: #fff;
}
header .main_menu a.current + ul {
  display: block;
}
header .main_menu ul {
  margin-left: calc(136px);
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 0;
  display: none;
  background: #4C9900;
  color: #fff;
}
.main header .main_menu ul {
  display: none !important;
}
@media only screen and (max-width: 800px) {
  header .main_menu ul {
    text-align: left;
  }
}
header .main_menu ul li {
  display: inline-block;
  vertical-align: top;
}
header .main_menu ul a {
  font-size: 1.15em;
  padding: 0 10px;
  text-transform: inherit;
}
header .main_menu ul a[class*="icon-"]:before {
  line-height: 1em;
}
header .main_menu ul a:hover,
header .main_menu ul a.active-prev {
  background: #ededed;
  color: #666;
}
header .main_menu ul a.current {
  background: #ededed;
  color: #666;
}
footer .main_menu {
  overflow: hidden;
  margin-top: 30px;
}
@media only screen and (max-width: 480px) {
  footer .main_menu {
    clear: both;
    margin-bottom: 20px;
    text-align: center;
  }
}
footer .main_menu li.category {
  margin-left: 2%;
  margin-right: 0;
  width: 32%;
}
footer .main_menu li.category:nth-of-type(3n + 1) {
  margin-left: 0;
}
footer .main_menu a {
  text-transform: lowercase;
  color: #000000;
}
footer .main_menu a:hover {
  color: #83b421;
}
footer .main_menu a.current {
  color: #83b421;
}
footer .main_menu ul li {
  display: block;
}
footer .main_menu ul li a {
  text-transform: none;
  color: #222;
}
.static_menu {
  overflow: hidden;
}
.static_menu li {
  float: left;
  padding: 0 8px;
}
.static_menu li + li {
  border-left: 1px solid #666;
}
.static_menu li a {
  color: inherit;
}
.static_menu li a.current,
.static_menu li a:hover {
  color: #83b421;
}
.new-index-style .static_menu {
  overflow: hidden;
=======
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
}
@media only screen and (min-width: 800px) {
  .main_menu {
    position: relative;
    z-index: 11;
    background: #83b421;
    color: #FFF;
  }
  .main_menu > li {
    float: left;
    position: relative;
  }
  .main_menu > li:hover,
  .main_menu a.current {
    background: #648919;
  }
  .main_menu > li:hover ul {
    display: block;
  }
  .main_menu a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: inherit;
  }
  .main_menu ul {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 0;
    display: none;
    width: 300px;
    background: #FFF;
    color: #888888;
    box-shadow: 0 3px 5px #555555;
  }
  .main_menu ul li {
    float: none;
  }
  .main_menu ul li:hover,
  .main_menu ul li a.current {
    background: #eeeeee;
  }
  .line-bottom-nav .main_menu {
    background: transparent;
    font-weight: 500;
  }
  .line-bottom-nav .main_menu > li,
  .line-bottom-nav .main_menu > li:hover {
    background: transparent;
  }
  .line-bottom-nav .main_menu a {
    display: inline-block;
    color: #FFF;
    text-transform: normal;
    font-family: "Roboto", Helvetica, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    line-height: 2em;
    padding: 0;
  }
  .line-bottom-nav .main_menu a:hover {
    color: #e6e6e6;
  }
  .line-bottom-nav .main_menu ul {
    display: block;
    position: relative;
    width: auto;
    background: transparent;
    color: #FFF;
    box-shadow: none;
  }
  .line-bottom-nav .main_menu ul li,
  .line-bottom-nav .main_menu ul li:hover {
    background: transparent;
  }
  .line-bottom-nav .main_menu .category {
    max-width: 150px;
  }
  .line-bottom-nav .main_menu .category + .category {
    margin-left: 7em;
  }
  .line-bottom-nav .main_menu .category > a {
    text-transform: uppercase;
    font-size: 1.15em;
  }
}
.static_menu {
  overflow: hidden;
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight: bold;
  margin-bottom: 60px;
}
<<<<<<< HEAD
.new-index-style .static_menu li {
=======
.static_menu li {
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
  display: inline-block;
  padding: 0 1.05em;
  margin: 0;
  line-height: 1;
}
<<<<<<< HEAD
.new-index-style .static_menu li:first-child {
  padding-left: 0;
}
.new-index-style .static_menu li + li {
  border-left: 1px solid #FFF;
}
.new-index-style .static_menu li a {
  color: #FFF;
  text-decoration: none;
  display: block;
  font-size: 1.2em;
}
.new-index-style .static_menu li a:hover {
  color: #b3b3b3;
}
main .featureapage,
main .featureditem li,
main .relatedpages li {
=======
.static_menu li:first-child {
  padding-left: 0;
}
.static_menu li + li {
  border-left: 1px solid #FFF;
}
.static_menu li a {
  color: #FFF;
  text-decoration: none;
  display: block;
}
.static_menu li a:hover {
  color: #b3b3b3;
}
.featureapage,
.featureditem li,
.relatedpages li {
  margin-bottom: 30px;
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
  margin-left: 2%;
  margin-right: 0;
  width: 32%;
}
<<<<<<< HEAD
main .featureapage:nth-of-type(3n + 1),
main .featureditem li:nth-of-type(3n + 1),
main .relatedpages li:nth-of-type(3n + 1) {
  margin-left: 0;
}
@media only screen and (max-width: 800px) and (min-width: 481px) {
  main .featureapage,
  main .featureditem li,
  main .relatedpages li {
    width: 49%;
  }
  main .featureapage:nth-of-type(n),
  main .featureditem li:nth-of-type(n),
  main .relatedpages li:nth-of-type(n) {
    margin-left: 2%;
  }
  main .featureapage:nth-of-type(2n + 1),
  main .featureditem li:nth-of-type(2n + 1),
  main .relatedpages li:nth-of-type(2n + 1) {
=======
.featureapage:nth-of-type(3n + 1),
.featureditem li:nth-of-type(3n + 1),
.relatedpages li:nth-of-type(3n + 1) {
  margin-left: 0;
}
@media only screen and (max-width: 800px) and (min-width: 481px) {
  .featureapage,
  .featureditem li,
  .relatedpages li {
    width: 49%;
  }
  .featureapage:nth-of-type(n),
  .featureditem li:nth-of-type(n),
  .relatedpages li:nth-of-type(n) {
    margin-left: 2%;
  }
  .featureapage:nth-of-type(2n + 1),
  .featureditem li:nth-of-type(2n + 1),
  .relatedpages li:nth-of-type(2n + 1) {
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
    margin-left: 0;
  }
}
@media only screen and (max-width: 480px) {
<<<<<<< HEAD
  main .featureapage,
  main .featureditem li,
  main .relatedpages li {
    width: 100%;
  }
  main .featureapage:nth-of-type(1n + 1),
  main .featureditem li:nth-of-type(1n + 1),
  main .relatedpages li:nth-of-type(1n + 1) {
    margin-left: 0;
  }
}
.featureapage,
.featureditem li,
.relatedpages li {
  margin-bottom: 30px;
}
=======
  .featureapage,
  .featureditem li,
  .relatedpages li {
    width: 100%;
  }
  .featureapage:nth-of-type(1n + 1),
  .featureditem li:nth-of-type(1n + 1),
  .relatedpages li:nth-of-type(1n + 1) {
    margin-left: 0;
  }
}
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
.featureapage .page-teaser-image,
.featureditem li .page-teaser-image,
.relatedpages li .page-teaser-image {
  overflow: hidden;
<<<<<<< HEAD
  margin-bottom: 0.8em;
}
.featureapage .page-teaser-image img,
.featureditem li .page-teaser-image img,
.relatedpages li .page-teaser-image img {
  max-width: 150px;
}
@media only print {
  .featureapage,
  .featureditem li,
  .relatedpages li {
    margin: 0 0 1em !important;
    width: auto !important;
    text-align: left !important;
  }
  .featureapage .page-teaser-image,
  .featureditem li .page-teaser-image,
  .relatedpages li .page-teaser-image {
    float: left !important;
  }
}
.fa-column .featureditem {
  font-size: 0;
  text-align: center;
}
.fa-column .featureditem >* {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
}
.fa-column .featureditem li {
  margin-left: 10%;
  margin-right: 0;
  width: 26.66666667%;
}
.fa-column .featureditem li:nth-of-type(3n + 1) {
  margin-left: 0;
}
@media only screen and (max-width: 800px) and (min-width: 481px) {
  .fa-column .featureditem li {
    width: 45%;
  }
  .fa-column .featureditem li:nth-of-type(n) {
    margin-left: 10%;
  }
  .fa-column .featureditem li:nth-of-type(2n + 1) {
    margin-left: 0;
  }
}
@media only screen and (max-width: 480px) {
  .fa-column .featureditem li {
    width: 100%;
  }
  .fa-column .featureditem li:nth-of-type(1n + 1) {
    margin-left: 0;
  }
}
.fa-column .featureditem a {
  font-size: 1.70em;
}
.fa-column .featureditem#Products a {
  color: #83b421;
}
.fa-column .featureditem#Services a {
  color: #31a0cc;
}
.fa-column .featureditem#Markets li {
  margin-left: 10%;
  margin-right: 0;
  width: 26.66666667%;
}
.fa-column .featureditem#Markets li:nth-of-type(3n + 1) {
  margin-left: 0;
}
@media only screen and (max-width: 800px) and (min-width: 481px) {
  .fa-column .featureditem#Markets li {
    width: 45%;
  }
  .fa-column .featureditem#Markets li:nth-of-type(n) {
    margin-left: 10%;
  }
  .fa-column .featureditem#Markets li:nth-of-type(2n + 1) {
    margin-left: 0;
  }
}
@media only screen and (max-width: 480px) {
  .fa-column .featureditem#Markets li {
    width: 100%;
  }
  .fa-column .featureditem#Markets li:nth-of-type(1n + 1) {
    margin-left: 0;
  }
}
.fa-column .featureditem#Markets a {
  color: #fd6301;
}
.fa-column .featureditem#Products li {
  margin-left: 5%;
  margin-right: 0;
  width: 21.25%;
}
.fa-column .featureditem#Products li:nth-of-type(4n + 1) {
  margin-left: 0;
}
@media only screen and (max-width: 800px) and (min-width: 481px) {
  .fa-column .featureditem#Products li {
    width: 47.5%;
  }
  .fa-column .featureditem#Products li:nth-of-type(n) {
    margin-left: 5%;
  }
  .fa-column .featureditem#Products li:nth-of-type(2n + 1) {
    margin-left: 0;
  }
}
@media only screen and (max-width: 480px) {
  .fa-column .featureditem#Products li {
    width: 100%;
  }
  .fa-column .featureditem#Products li:nth-of-type(1n + 1) {
    margin-left: 0;
  }
}
.fa-column .featureditem#Products a {
  color: #fd6301;
}
.fa-column .featureditem .page-teaser-image img {
  width: auto;
}
#news-categories .featureditem {
  display: table;
  width: 100%;
}
#news-categories .featureditem li {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
#news-categories .featureditem li + li {
  border-left: 2px solid #c1c1c1;
}
@media only screen and (max-width: 480px) {
  #news-categories .featureditem {
    display: block;
  }
  #news-categories .featureditem li {
    display: block;
    margin-bottom: 0;
  }
  #news-categories .featureditem li + li {
    border-left: none;
    border-top: 2px solid #c1c1c1;
  }
}
#news-categories .featureditem a {
  margin: 0;
  display: block;
  color: #fff;
  padding: 10px;
}
#news-categories .featureditem a:hover {
  background: #e7e7e7;
}
#news-categories .featureditem [title="Marketing Strategies"] {
  font-size: 0;
}
#news-categories .featureditem [title="Marketing Strategies"]:after {
  content: 'Blog home';
  font-size: 20px;
}
#news-categories .featureditem .page-teaser-image img {
  width: auto;
}
.icons-line.fixed .featureditem {
  margin-top: 15px;
}
.icons-line.fixed .featureditem li {
  margin-bottom: 0;
}
.icons-line .featureditem {
  margin: 40px 0 10px;
}
.icons-line .featureditem li {
  min-height: 100px;
  text-align: center;
  margin-left: 0%;
  margin-right: 0;
  width: 10%;
}
.icons-line .featureditem li:nth-of-type(10n + 1) {
  margin-left: 0;
}
@media only screen and (max-width: 800px) and (min-width: 481px) {
  .icons-line .featureditem li {
    width: 20%;
  }
  .icons-line .featureditem li:nth-of-type(n) {
    margin-left: 0%;
  }
  .icons-line .featureditem li:nth-of-type(5n + 1) {
    margin-left: 0;
  }
}
@media only screen and (max-width: 480px) {
  .icons-line .featureditem li {
    width: 50%;
  }
  .icons-line .featureditem li:nth-of-type(n) {
    margin-left: 0%;
  }
  .icons-line .featureditem li:nth-of-type(2n + 1) {
    margin-left: 0;
  }
}
.icons-line .featureditem li span {
  color: #83b421;
  font-size: 0.85em;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 8px;
}
.icons-line .featureditem li .page-title {
  font-size: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.icons-line .featureditem li .page-teaser-image {
  margin: 0;
  padding: 8px 0;
}
.icons-line .featureditem li .page-teaser-image img {
  width: auto;
  max-width: 49px;
  max-height: 49px;
}
.icons-line .featureditem li .page-teaser-image.current,
.icons-line .featureditem li .page-teaser-image.current ~ span {
  background: #f6f6f6;
}
.icons-line .featureditem li:hover .page-teaser-image,
.icons-line .featureditem li:hover .page-teaser-image ~ span {
  background: #f6f6f6;
}
.icons-line.short .featureditem {
  font-size: 0;
}
.icons-line.short .featureditem >* {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
}
.icons-line.short .featureditem li {
  margin-left: 0%;
  margin-right: 0;
  width: 20%;
}
.icons-line.short .featureditem li:nth-of-type(5n + 1) {
  margin-left: 0;
}
@media only screen and (max-width: 800px) and (min-width: 481px) {
  .icons-line.short .featureditem li {
    width: 33.33333333%;
  }
  .icons-line.short .featureditem li:nth-of-type(n) {
    margin-left: 0%;
  }
  .icons-line.short .featureditem li:nth-of-type(3n + 1) {
    margin-left: 0;
  }
}
@media only screen and (max-width: 480px) {
  .icons-line.short .featureditem li {
    width: 50%;
  }
  .icons-line.short .featureditem li:nth-of-type(n) {
    margin-left: 0%;
  }
  .icons-line.short .featureditem li:nth-of-type(2n + 1) {
    margin-left: 0;
  }
}
@media only print {
  #news-categories {
    display: none !important;
  }
}
.footer-box .featureditem li {
  width: 100%;
  margin: 0;
}
.footer-box .featureditem a {
  color: #222;
  font-size: 0.85em;
  margin: 0;
}
.footer-box .featureditem a:hover {
  color: #83b421;
}
.featureapage {
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 31.33333333%;
}
@media only screen and (max-width: 800px) and (min-width: 481px) {
  .featureapage {
    width: 48%;
  }
}
@media only screen and (max-width: 480px) {
  .featureapage {
    width: 98%;
  }
=======
  margin-bottom: 0.5em;
}
.line-bottom-nav .featureditem.meet li,
.line-bottom-nav .featureditem.learn li {
  display: block;
  margin: 0 0 0.35em;
  margin-left: 0%;
  margin-right: 0%;
  width: 100%;
}
@media only screen and (max-width: 800px) and (min-width: 481px) {
  .line-bottom-nav .featureditem.meet li,
  .line-bottom-nav .featureditem.learn li {
    width: 50%;
  }
}
@media only screen and (max-width: 480px) {
  .line-bottom-nav .featureditem.meet li,
  .line-bottom-nav .featureditem.learn li {
    width: 100%;
  }
}
.line-bottom-nav .featureditem.meet a,
.line-bottom-nav .featureditem.learn a {
  display: inline-block;
  color: #FFF;
  text-transform: normal;
  font-family: "Roboto", Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
  font-size: 1.1em;
  letter-spacing: 0.035em;
}
.line-bottom-nav .featureditem.meet a:hover,
.line-bottom-nav .featureditem.learn a:hover {
  color: #e6e6e6;
}
.featureapage {
  float: left;
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
}
.listpages li,
.listcategories li {
  margin-bottom: 30px;
}
.listpages .page-teaser-image,
.listcategories .page-teaser-image {
  float: left;
  margin-right: 3%;
  width: 150px;
  overflow: hidden;
}
aside .listpages li,
aside .listcategories li,
aside .featureditem li,
aside .featureapage,
aside .relatedpages li {
  width: 100%;
  margin: 0 0 2em;
}
<<<<<<< HEAD
aside .listpages li .page-teaser-image,
aside .listcategories li .page-teaser-image,
aside .featureditem li .page-teaser-image,
aside .featureapage .page-teaser-image,
aside .relatedpages li .page-teaser-image {
  width: 100%;
  float: none;
  margin: 0 0 0.5em;
}
aside .listpages li span,
aside .listcategories li span,
aside .featureditem li span,
aside .featureapage span,
aside .relatedpages li span,
aside .listpages li p,
aside .listcategories li p,
aside .featureditem li p,
aside .featureapage p,
aside .relatedpages li p {
  font-size: 0.85em;
  line-height: 1.25;
}
.listxrss li {
  margin-bottom: 20px;
}
.listxrss a {
  display: block;
  margin-bottom: 1em;
}
.listxrss a ~ a {
  float: left;
  margin-right: 2%;
}
aside .listxrss a ~ a {
  float: none;
  display: inline-block;
  vertical-align: middle;
}
#left .listxrss a ~ a,
#right .listxrss a ~ a {
  float: none;
  display: inline-block;
  vertical-align: middle;
}
.listxrss span {
  display: block;
  font-size: 0.75em;
  color: #484848;
  margin-bottom: 1em;
}
aside .listxrss p {
  font-size: 0.85em;
}
.news-list .news-list-item {
  margin-bottom: 2.5em;
}
.news-list .page-title {
  display: block;
  margin-bottom: 0.5em;
}
.news-list .newslog-admin-actions {
  text-align: right;
}
.news-list .news-item-date {
  color: #484848;
}
.news-list .news-item-date:before {
  top: 2px;
  font-size: 16px;
  color: #83b421;
}
.news-list .news-item-tags a {
  color: #666;
}
.news-list .news-item-tags a:hover {
  color: #1a1a1a;
}
.news-list .news-item-tags a + a {
  margin-left: 0.5em;
}
.news-list .news-item-tags a:before {
  color: #666;
  margin-right: 0.5em;
}
.user-photo img {
  max-width: 120px;
}
.news-grid {
  position: relative;
  width: 48%;
  margin: 0 1% 20px !important;
  border: 1px solid #f6f6f6;
  display: inline-block;
  vertical-align: top;
}
@media only screen and (max-width: 480px) {
  .news-grid {
    width: 98%;
  }
}
@media only print {
  .news-grid {
    width: 98%;
  }
}
.news-grid .page-teaser-image {
  margin: 0;
  float: left;
}
.news-grid .page-teaser-image.small {
  margin: 6% 5px;
}
.news-grid .page-teaser-image.big,
.news-grid .page-teaser-image.medium {
  display: none;
}
.news-grid .news-info {
  padding: 6% 5% 4%;
}
.news-grid .page-title {
  color: #222;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
}
.news-grid .news-item-description {
  display: none;
  color: #666;
}
.news-grid .news-item-date {
  color: #666;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  font-size: 11px;
  background: #f6f6f6;
  padding: 1px 5px;
}
.news-grid .news-item-date i {
  display: none;
}
.news-grid:first-child .page-teaser-image,
.news-grid:nth-child(2) .page-teaser-image,
.news-grid:nth-child(3) .page-teaser-image {
  float: none;
}
.news-grid:first-child .page-teaser-image.small,
.news-grid:nth-child(2) .page-teaser-image.small,
.news-grid:nth-child(3) .page-teaser-image.small {
  display: none;
}
.news-grid:first-child .page-title,
.news-grid:nth-child(2) .page-title,
.news-grid:nth-child(3) .page-title {
  font-size: 1.5em;
  margin-bottom: 15px;
}
.news-grid:first-child .news-item-description,
.news-grid:nth-child(2) .news-item-description,
.news-grid:nth-child(3) .news-item-description {
  display: block;
}
.news-grid:first-child .news-item-date,
.news-grid:nth-child(2) .news-item-date,
.news-grid:nth-child(3) .news-item-date {
  font-size: 0.85em;
  margin-top: 1.5em;
  padding: 0;
  background: none;
  position: static;
}
.news-grid:first-child .news-item-date i,
.news-grid:nth-child(2) .news-item-date i,
.news-grid:nth-child(3) .news-item-date i {
  display: inline-block;
  vertical-align: middle;
}
.news-grid:first-child {
  width: 98%;
}
.news-grid:first-child .page-teaser-image.big {
  display: block;
}
.news-grid:nth-child(2) .page-teaser-image.big,
.news-grid:nth-child(3) .page-teaser-image.big {
  display: block;
}
.bottom-news {
  list-style-type: none;
  padding-left: 0;
  margin-left: -1%;
  margin-right: -1%;
}
.bottom-news .news-list-pagination {
  padding-left: 1%;
  padding-right: 1%;
}
.news-related {
  position: relative;
  width: 48%;
  margin: 0 1% 20px !important;
  border: 1px solid #f6f6f6;
  padding: 2% 1%;
  display: inline-block;
  vertical-align: top;
}
.news-related .page-teaser-image {
  float: left;
  margin-top: 15px;
  margin-right: 5px;
}
.news-related .page-title {
  color: #222;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  overflow: hidden;
}
.news-related .news-item-date {
  color: #666;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  font-size: 11px;
  background: #f6f6f6;
  padding: 1px 5px;
}
.tagsClouds .generator-links {
  float: left;
  margin: 2px;
  margin-left: -21px;
}
.tagsClouds .generator-links::before {
  font-size: 9px !important;
  width: 9px !important;
  height: 9px !important;
}
.tagsClouds .newslog-tag-filter {
  line-height: 1;
  font-size: 13.6px;
  margin: 2px;
  padding: 4px 6px;
  background: #dadada;
  color: #666;
  float: left;
}
.tagsClouds .newslog-tag-filter:before {
  content: none;
}
.tagsClouds .newslog-tag-filter:hover {
  background: #83b421;
  color: #FFF;
}
.tagsClouds .newslog-tag-filter[title=""] {
  display: none;
}
.tagsClouds .newslog-tag-filter[title=""] + .generator-links {
  margin-left: 0;
}
.news-list-pagination span,
.news-list-pagination a {
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  height: auto;
  line-height: 2.5em;
  padding: 0 1em;
  font-family: 'Open Sans', Helvetica, "Helvetica Neue", Arial, sans-serif;
  display: inline-block;
  vertical-align: middle;
  color: #FFF;
  border-color: #437f04;
  background-color: #83b421;
  border-radius: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
  transition: background 0.3s;
}
.news-list-pagination span:hover,
.news-list-pagination a:hover,
.news-list-pagination span:active,
.news-list-pagination a:active,
.news-list-pagination span.active,
.news-list-pagination a.active {
  color: #FFF;
  border-color: #294e03;
  background-color: #648919;
}
.news-list-pagination span:active,
.news-list-pagination a:active,
.news-list-pagination span.active,
.news-list-pagination a.active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset;
}
.news-list-pagination span.disabled,
.news-list-pagination span.current {
  background: #f6f6f6;
  color: #222;
  pointer-events: none;
}
.search-results li {
  margin-bottom: 30px;
}
.search-results .page-teaser-image {
  overflow: hidden;
  float: left;
  margin-right: 2%;
  width: 150px;
}
@media (min-width: 801px) {
  .mobile-bar,
  .mobile-menu {
=======
aside .listpages li .page-teaser-image,
aside .listcategories li .page-teaser-image,
aside .featureditem li .page-teaser-image,
aside .featureapage .page-teaser-image,
aside .relatedpages li .page-teaser-image {
  width: 100%;
  float: none;
  margin: 0 0 0.5em;
}
aside .listpages li span,
aside .listcategories li span,
aside .featureditem li span,
aside .featureapage span,
aside .relatedpages li span,
aside .listpages li p,
aside .listcategories li p,
aside .featureditem li p,
aside .featureapage p,
aside .relatedpages li p {
  font-size: 0.85em;
  line-height: 1.25;
}
.news-item .newslog-admin-actions {
  text-align: right;
}
.news-item .news-item-date {
  color: #494949;
}
.news-item .news-item-date::before {
  top: 2px;
  font-size: 16px;
  color: #83b421;
}
.news-item .news-item-tags a {
  color: #888888;
}
.news-item .news-item-tags a:hover {
  color: #3c3c3c;
}
.news-item .news-item-tags a + a {
  margin-left: 0.5em;
}
.news-item .news-item-tags a::before {
  color: #888888;
  margin-right: 0.5em;
}
.news-item .newslog-tag-filter::before {
  font-family: flexkit-icons;
  content: "\e023";
}
.line-under-slider .news-item + .news-item {
  margin-top: 1em;
}
.line-under-slider .news-item .news-item-title {
  color: #34495E;
  text-decoration: none;
  font-size: 1.45em;
  font-weight: bold;
  line-height: 1.45em;
}
.line-under-slider .news-item .news-item-title:hover {
  color: #000000;
}
.line-under-slider .news-item .news-item-description {
  margin-top: 0.5em;
  color: #888888;
  line-height: 1.65em;
}
.line-under-slider .news-item .news-item-image {
  position: relative;
}
.line-under-slider .news-item .news-item-image::before {
  content: "";
  width: 35%;
  background: rgba(52, 73, 94, 0.75);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
.line-under-slider .news-item .news-item-date {
  color: #FFF;
  font-size: 1.35em;
  position: absolute;
  right: 0;
  top: 50%;
  width: 35%;
  padding: 0 1em;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-filter: blur(0);
}
@media (min-width: 801px) {
  body .mobile-bar,
  body .mobile-menu {
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  body {
<<<<<<< HEAD
    padding-top: 50px;
  }
  body[data-menu-open],
=======
    padding-top: 104px;
  }
  body[data-menu-open],
  body[data-overlay],
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
  body[data-dropdown-open] {
    overflow: hidden;
  }
  body[data-menu-open]::after,
<<<<<<< HEAD
=======
  body[data-overlay]::after,
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
  body[data-dropdown-open]::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
<<<<<<< HEAD
    z-index: 106;
  }
  [data-menu-open]::after {
=======
    z-index: 91;
  }
  [data-menu-open]::after,
  [data-overlay]::after {
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
    background: rgba(0, 0, 0, 0.5);
  }
}
.mobile-bar {
<<<<<<< HEAD
  z-index: 105;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
  height: 50px;
  line-height: 50px;
  color: #FFF;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 7px #525252;
=======
  position: fixed;
  left: 0;
  right: 0;
  z-index: 90;
  font-family: "Roboto", Tahoma, Arial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
}
.mobile-bar::after {
  content: "";
  display: table;
  clear: both;
}
<<<<<<< HEAD
@media only print {
  .mobile-bar {
    display: none;
  }
}
.mobile-bar .btn {
  line-height: inherit;
}
.mobile-bar .btn.btn-caption {
  line-height: 24.5px;
}
.mobile-bar .btn.btn-caption::before {
  line-height: inherit;
}
.mobile-bar.top {
  top: 0;
  line-height: 50px;
  color: #FFF;
  background: rgba(255, 255, 255, 0.9);
}
.mobile-bar.top .btn.icon {
  width: 50px;
}
.mobile-menu {
  float: none;
  height: auto;
  text-align: left;
  margin: 0 !important;
  padding: 0;
  width: 85%;
  max-width: 300px;
  position: fixed;
  z-index: 0;
  overflow: auto;
  background: #83b421;
  color: #222;
  transition: all 0.3s;
}
.mobile-menu.left,
.mobile-menu.right {
  top: 0;
  bottom: 0;
}
.mobile-menu.left {
  left: 0;
}
.mobile-menu.right {
  right: 0;
}
.mobile-menu.top,
.mobile-menu.bottom {
  left: 0;
  right: 0;
  width: auto;
  height: 300px;
  max-height: 80%;
  max-width: none;
}
.mobile-menu.top {
  top: 0;
}
.mobile-menu.bottom {
  bottom: 0;
}
.mobile-menu > ul {
  border-top: 1px solid #6c931a;
  background: transparent;
  color: inherit;
  position: relative;
  line-height: 2em;
  width: auto;
  margin-top: 50px;
  box-shadow: none;
}
.mobile-menu > ul a {
  display: block;
  padding: 0.535rem 1.25rem;
  line-height: 2em;
  overflow: hidden;
}
.mobile-menu > ul > li > a {
  color: #FFF;
  background-color: #83b421;
}
.mobile-menu > ul > li > a:hover,
.mobile-menu > ul > li > a.current {
  background: #648919;
}
.mobile-menu > ul ul {
  width: auto;
  position: static;
  display: none !important;
  background: #FFF;
  color: #222;
  box-shadow: none;
}
.mobile-menu > ul ul a {
  color: #000;
}
.mobile-menu > ul ul a:hover,
.mobile-menu > ul ul a.current {
  background: #f2f2f2;
  color: #222;
}
.mobile-menu > ul ul.open {
  display: block !important;
}
.mobile-menu li,
.dropdown-menu li {
  float: none;
  display: block;
  border: none;
  border-bottom: 1px solid #648919;
}
.mobile-menu li:hover,
.dropdown-menu li:hover {
  background: transparent;
}
.mobile-menu li:hover ul,
.dropdown-menu li:hover ul {
  display: none;
}
.mobile-menu li li,
.dropdown-menu li li {
  border: none;
  border-top: 1px solid #f6f6f6;
}
.menu-btn {
  cursor: pointer;
  background: #83b421;
  padding: 0 12px;
  border-radius: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.menu-btn.left {
  float: left;
}
.menu-btn.left::before {
  margin-right: 5px;
  float: left;
}
.menu-btn.right {
  float: right;
  text-align: right;
}
.menu-btn.right::before {
  margin-left: 5px;
  float: right;
}
.menu-btn.icon {
  width: 50px;
}
.menu-btn.icon::before {
  margin-right: 0;
  margin-left: 0;
}
.menu-btn:hover,
.menu-btn.active {
  background-color: #648919;
}
.sub-menu-btn {
  float: right;
  line-height: 3.25em;
  width: 3.2em;
  text-align: center;
  color: #FFF;
  background-color: #648919;
}
.sub-menu-btn::before {
  content: '';
  height: 20px;
  width: 20px;
  display: inline-block;
  vertical-align: middle;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+WzxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNGRkYiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMjAlIiBzdG9wLWNvbG9yPSIjRkZGIiBzdG9wLW9wYWNpdHk9IjEiLz50cmFuc3BhcmVudCAyMCV0cmFuc3BhcmVudCA0MCU8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI0ZGRiIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiNGRkYiIHN0b3Atb3BhY2l0eT0iMSIvPnRyYW5zcGFyZW50IDYwJXRyYW5zcGFyZW50IDgwJTxzdG9wIG9mZnNldD0iODAlIiBzdG9wLWNvbG9yPSIjRkZGIiBzdG9wLW9wYWNpdHk9IjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNGRkYiIHN0b3Atb3BhY2l0eT0iMSIvPl08L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFF), color-stop(100%, #FFF));
  background-image: -webkit-linear-gradient(top, #FFF 0%, #FFF 20%, transparent 20%, transparent 40%, #FFF 40%, #FFF 60%, transparent 60%, transparent 80%, #FFF 80%, #FFF 100%);
  background-image: -moz-linear-gradient(top, #FFF 0%, #FFF 20%, transparent 20%, transparent 40%, #FFF 40%, #FFF 60%, transparent 60%, transparent 80%, #FFF 80%, #FFF 100%);
  background-image: -ms-linear-gradient(top, #FFF 0%, #FFF 20%, transparent 20%, transparent 40%, #FFF 40%, #FFF 60%, transparent 60%, transparent 80%, #FFF 80%, #FFF 100%);
  background-image: linear-gradient(top, #FFF 0%, #FFF 20%, transparent 20%, transparent 40%, #FFF 40%, #FFF 60%, transparent 60%, transparent 80%, #FFF 80%, #FFF 100%);
}
.sub-menu-btn:hover,
.sub-menu-btn.active {
  background-color: #648919;
}
@media only screen and (max-width: 800px) {
  .mobile-menu {
    z-index: 107;
=======
.mobile-bar.top {
  top: 0;
  line-height: 56px;
  color: #FFF;
  background: #83b421;
}
.mobile-bar.top .btn.icon {
  width: 56px;
}
@media only print {
  .mobile-bar {
    display: none;
  }
}
.mobile-bar .title {
  font-size: 20px;
  padding: 0 calc(72px -  56px );
  margin-right: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mobile-bar .btn {
  line-height: inherit;
  width: 56px;
  color: inherit;
  border: none;
  -webkit-box-flex: 0 0 56px;
  -webkit-flex: 0 0 56px 0 auto;
  -ms-flex: 0 0 56px 0 auto;
  flex: 0 0 56px 0 auto;
}
.mobile-bar .btn::before {
  margin: initial;
  font-size: 18px;
}
.tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 100%;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  text-transform: uppercase;
  color: #bee570;
  font-weight: 500;
  overflow-x: auto;
  height: 48px;
  line-height: 48px;
  scrollbar-base-color: #C0C0C0;
  scrollbar-3dlight-color: #C0C0C0;
  scrollbar-highlight-color: #C0C0C0;
  scrollbar-track-color: #EBEBEB;
  scrollbar-arrow-color: black;
  scrollbar-shadow-color: #C0C0C0;
  scrollbar-dark-shadow-color: #C0C0C0;
}
.tabs::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.tabs::-webkit-scrollbar-track {
  background: #666;
  border-radius: 10px;
}
.tabs::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ccc;
}
.tabs .sub-menu-btn {
  display: none;
}
.tabs li,
.tabs a {
  padding: 0;
  margin: 0;
}
.tabs .items-wrap,
.tabs ul {
  float: none;
  width: auto;
  height: auto;
  background: transparent;
  border: 0 none;
  color: inherit;
  font-family: inherit;
  font-size: medium;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  position: static;
  vertical-align: baseline;
  box-shadow: none;
  border-radius: 0;
  transition: none;
  font-size: 0;
  min-width: 100vw;
  white-space: nowrap;
  text-align: center;
  overflow: visible;
}
.tabs .items-wrap >*,
.tabs ul >* {
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
}
.tabs li {
  display: inline-block;
  float: none;
  border: none !important;
}
.tabs a {
  display: block;
  text-decoration: none;
  color: inherit;
  border-bottom: 2px solid transparent;
  padding: 0 12px;
  line-height: 46px;
}
.tabs a.current {
  background-color: transparent !important;
  border-color: #FFF;
  color: #FFF;
}
.tabs.sub-of-main {
  display: none;
}
.menu-btn:hover,
.menu-btn.active {
  background: rgba(0, 0, 0, 0.1);
}
.sub-menu-btn {
  width: 48px;
  text-align: center;
  color: #FFF;
  font-size: 1.25em;
  position: absolute;
  right: 0;
  top: 0;
}
.sub-menu-btn::before {
  content: "\e0ac";
  font-family: flexkit-icons;
  color: #bbbbbb;
}
.sub-menu-btn:hover::before,
.sub-menu-btn.active::before {
  content: "\e0aa";
}
@media only screen and (max-width: 800px) {
  .mobile-menu {
    z-index: 92;
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
    transition: all 0.3s;
  }
  .mobile-menu.top {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  .mobile-menu.bottom {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }
  .mobile-menu.left {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .mobile-menu.right {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  [data-menu-open] .mobile-menu {
<<<<<<< HEAD
    box-shadow: 0 0 30px #525252;
=======
    box-shadow: 0 0 30px #555555;
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
  }
  [data-menu-open="left"] .mobile-menu.left,
  [data-menu-open="right"] .mobile-menu.right {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  [data-menu-open="top"] .mobile-menu.top,
  [data-menu-open="bottom"] .mobile-menu.bottom {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
<<<<<<< HEAD
  .menu-btn::before {
    width: 14.28571429px;
=======
  .menu-btn.active {
    background: rgba(0, 0, 0, 0.05);
  }
  .menu-btn::before {
    width: 16px;
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
  }
  .menu-btn.left {
    padding-left: 0;
  }
<<<<<<< HEAD
=======
  .menu-btn.left.active::before {
    margin-left: -11.2px;
    margin-right: 16.8px;
  }
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
  .menu-btn.right {
    padding-right: 0;
  }
  .menu-btn.right.active::before {
<<<<<<< HEAD
    margin-right: -10px;
    margin-left: 15px;
  }
}
=======
    margin-right: -11.2px;
    margin-left: 16.8px;
  }
}
.m-menu {
  width: 260px;
  position: fixed;
  z-index: 92;
  overflow: auto;
  background: #ffffff;
  display: none;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}
.m-menu:not(.dropdown) {
  top: 0;
  bottom: 0;
}
.m-menu:not(.dropdown).left {
  left: 0;
}
.m-menu:not(.dropdown).right {
  right: 0;
}
.m-menu.dropdown {
  width: 250px;
  overflow: auto;
  max-height: 70%;
}
.m-menu.dropdown.top {
  top: 10px;
  bottom: auto;
}
.m-menu.dropdown.bottom {
  bottom: 10px;
  top: auto;
}
.m-menu.dropdown.right {
  right: 10px;
  left: auto;
}
.m-menu.dropdown.left {
  left: 10px;
  right: auto;
}
.m-menu.open {
  display: block;
}
.m-menu .menu-top-header {
  height: 56px;
  border-bottom: 1px solid #f2f2f2;
}
.m-menu ul,
.dropdown-menu ul,
.mobile-menu.dropdown ul {
  position: relative;
}
.m-menu ul ul,
.dropdown-menu ul ul,
.mobile-menu.dropdown ul ul {
  display: none;
  background: rgba(0, 0, 0, 0.03);
}
.m-menu ul ul a,
.dropdown-menu ul ul a,
.mobile-menu.dropdown ul ul a {
  padding-left: 48px;
}
.m-menu ul.open,
.dropdown-menu ul.open,
.mobile-menu.dropdown ul.open {
  display: block !important;
}
.m-menu li,
.dropdown-menu li,
.mobile-menu.dropdown li {
  float: none;
  border-bottom: 1px solid #f7f7f7;
  line-height: 48px;
  font-weight: bold;
  position: relative;
}
.m-menu li a,
.dropdown-menu li a,
.mobile-menu.dropdown li a {
  padding: 0 16px 0 28px;
  display: block;
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.m-menu li a:hover,
.m-menu li a.current,
.dropdown-menu li a:hover,
.dropdown-menu li a.current,
.mobile-menu.dropdown li a:hover,
.mobile-menu.dropdown li a.current {
  background: #f2f2f2;
  color: #83b421;
}
.m-menu li:hover,
.dropdown-menu li:hover,
.mobile-menu.dropdown li:hover {
  background: transparent;
}
.m-menu li:hover ul,
.dropdown-menu li:hover ul,
.mobile-menu.dropdown li:hover ul {
  display: none;
}
.m-menu li li,
.dropdown-menu li li,
.mobile-menu.dropdown li li {
  border: none;
}
.m-menu li li + li,
.dropdown-menu li li + li,
.mobile-menu.dropdown li li + li {
  border-top: 1px solid #f2f2f2;
}
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
@media only screen and (max-width: 800px) {
  .dropdown-menu-mobile {
    display: none;
  }
}
.dropdown-menu,
<<<<<<< HEAD
[data-dropdown-open] .dropdown-menu-mobile {
  background: #83b421 !important;
  color: #FFF !important;
  position: absolute;
  z-index: 107 !important;
  width: 300px;
  display: none;
  margin: 0 !important;
  overflow: auto;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.3);
}
.dropdown-menu.open {
  display: block;
}
.dropdown-menu.top-right,
.dropdown-menu.bottom-right {
=======
.mobile-menu.dropdown,
[data-dropdown-open] .dropdown-menu-mobile {
  background: #fff !important;
  color: #222222 !important;
  position: absolute;
  z-index: 92 !important;
  width: 250px;
  display: none;
  margin: 0 !important;
  overflow: auto;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}
.dropdown-menu.open,
.mobile-menu.dropdown.open {
  display: block;
}
.dropdown-menu.top-right,
.mobile-menu.dropdown.top-right,
.dropdown-menu.bottom-right,
.mobile-menu.dropdown.bottom-right {
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
  right: 0;
  left: auto;
}
.dropdown-menu.top-left,
<<<<<<< HEAD
.dropdown-menu.bottom-left {
=======
.mobile-menu.dropdown.top-left,
.dropdown-menu.bottom-left,
.mobile-menu.dropdown.bottom-left {
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
  left: 0;
  right: auto;
}
.dropdown-menu.top,
<<<<<<< HEAD
.dropdown-menu.top-left,
.dropdown-menu.top-right {
=======
.mobile-menu.dropdown.top,
.dropdown-menu.top-left,
.mobile-menu.dropdown.top-left,
.dropdown-menu.top-right,
.mobile-menu.dropdown.top-right {
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
  top: auto;
  bottom: 100%;
}
.dropdown-menu.top.inner,
<<<<<<< HEAD
.dropdown-menu.top-left.inner,
.dropdown-menu.top-right.inner {
=======
.mobile-menu.dropdown.top.inner,
.dropdown-menu.top-left.inner,
.mobile-menu.dropdown.top-left.inner,
.dropdown-menu.top-right.inner,
.mobile-menu.dropdown.top-right.inner {
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
  top: 0;
  bottom: auto;
}
.dropdown-menu.bottom,
<<<<<<< HEAD
.dropdown-menu.bottom-left,
.dropdown-menu.bottom-right {
=======
.mobile-menu.dropdown.bottom,
.dropdown-menu.bottom-left,
.mobile-menu.dropdown.bottom-left,
.dropdown-menu.bottom-right,
.mobile-menu.dropdown.bottom-right {
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
  top: 100%;
  bottom: auto;
}
.dropdown-menu.bottom.inner,
<<<<<<< HEAD
.dropdown-menu.bottom-left.inner,
.dropdown-menu.bottom-right.inner {
=======
.mobile-menu.dropdown.bottom.inner,
.dropdown-menu.bottom-left.inner,
.mobile-menu.dropdown.bottom-left.inner,
.dropdown-menu.bottom-right.inner,
.mobile-menu.dropdown.bottom-right.inner {
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
  top: auto;
  bottom: 0;
}
.dropdown-menu.left-top,
<<<<<<< HEAD
.dropdown-menu.right-top {
=======
.mobile-menu.dropdown.left-top,
.dropdown-menu.right-top,
.mobile-menu.dropdown.right-top {
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
  top: 0;
  bottom: auto;
}
.dropdown-menu.left-bottom,
<<<<<<< HEAD
.dropdown-menu.right-bottom {
=======
.mobile-menu.dropdown.left-bottom,
.dropdown-menu.right-bottom,
.mobile-menu.dropdown.right-bottom {
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
  top: auto;
  bottom: 0;
}
.dropdown-menu.left,
<<<<<<< HEAD
.dropdown-menu.left-top,
.dropdown-menu.left-bottom {
=======
.mobile-menu.dropdown.left,
.dropdown-menu.left-top,
.mobile-menu.dropdown.left-top,
.dropdown-menu.left-bottom,
.mobile-menu.dropdown.left-bottom {
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
  left: auto;
  right: 100%;
}
.dropdown-menu.left.inner,
<<<<<<< HEAD
.dropdown-menu.left-top.inner,
.dropdown-menu.left-bottom.inner {
=======
.mobile-menu.dropdown.left.inner,
.dropdown-menu.left-top.inner,
.mobile-menu.dropdown.left-top.inner,
.dropdown-menu.left-bottom.inner,
.mobile-menu.dropdown.left-bottom.inner {
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
  left: 0;
  right: auto;
}
.dropdown-menu.right,
<<<<<<< HEAD
.dropdown-menu.right-top,
.dropdown-menu.right-bottom {
=======
.mobile-menu.dropdown.right,
.dropdown-menu.right-top,
.mobile-menu.dropdown.right-top,
.dropdown-menu.right-bottom,
.mobile-menu.dropdown.right-bottom {
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
  left: 100%;
  right: auto;
}
.dropdown-menu.right.inner,
<<<<<<< HEAD
.dropdown-menu.right-top.inner,
.dropdown-menu.right-bottom.inner {
=======
.mobile-menu.dropdown.right.inner,
.dropdown-menu.right-top.inner,
.mobile-menu.dropdown.right-top.inner,
.dropdown-menu.right-bottom.inner,
.mobile-menu.dropdown.right-bottom.inner {
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
  right: 0;
  left: auto;
}
[data-dropdown-open] .dropdown-menu-mobile {
  position: fixed;
  max-width: 90%;
  max-height: 70%;
}
[data-dropdown-open] .dropdown-menu-mobile.open {
  display: block;
}
[data-dropdown-open] .dropdown-menu-mobile.centered {
  top: 50%;
  left: 0;
  right: 0;
  margin: auto !important;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
[data-dropdown-open] .dropdown-menu-mobile.center {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto !important;
}
[data-dropdown-open] .dropdown-menu-mobile.top {
  top: 10px;
  bottom: auto;
}
[data-dropdown-open] .dropdown-menu-mobile.bottom {
  bottom: 10px;
  top: auto;
}
[data-dropdown-open] .dropdown-menu-mobile.right {
<<<<<<< HEAD
  right: 5px;
  left: auto;
}
[data-dropdown-open] .dropdown-menu-mobile.left {
  left: 5px;
=======
  right: 10px;
  left: auto;
}
[data-dropdown-open] .dropdown-menu-mobile.left {
  left: 10px;
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
  right: auto;
}
