.list-blocks{
    li{
        margin-bottom : 30px !important;
    }

    a{ }

    .page-teaser-image{
        float  : left;
        width  : 80px;
        margin : 0 2% 0 0;

        img{ }
    }

    .page-title{ }

    span, p{ }

    &:hover{

        a{ }

        .page-teaser-image{
            img{ }
        }

        .page-title{ }

        span, p{ }
    }
}