<!--Content box-->
<div class="content-box">
    <div class="container">
        <div class="grid_3 t-hide m-hide alpha omega content-preview">
            {$directupload:Page Preview:image_1:235}
        </div>
        <div class="grid_9 omega content-info">
            <h2 class="content-title">{$header:content1}</h2>
            <h3 class="content-subtitle">{$header:content11}</h3>
            <div class="content-description">{$content:content1}</div>
            <span class="clearfix"></span>
            <div class="content-3block grid_4 t-grid_2">
                <i class="icon32 {$header:icon11:readonly} gl-change icon mr5px mt5px fl-left">{$header:icon11}</i>
                <span class="block wrap">{$header:content12}</span>
            </div>
            <div class="content-3block grid_4 t-grid_2">
                <i class="icon32 {$header:icon12:readonly} gl-change icon mr5px mt5px fl-left">{$header:icon12}</i>
                <span class="block wrap">{$header:content13}</span>
            </div>
            <div class="content-3block grid_4 t-grid_2 alpha omega">
                <i class="icon32 {$header:icon13:readonly} gl-change icon mr5px mt5px fl-left">{$header:icon13}</i>
                <span class="block wrap">{$header:content14}</span>
            </div>
        </div>
    </div>
</div>
<!--Content box-->
<div class="content-box">
    <div class="container">
        <div class="grid_3 t-hide m-hide alpha omega content-preview">
            {$directupload:Page Preview:image_2:235}
        </div>
        <div class="grid_9 omega content-info">
            <h2 class="content-title">{$header:content2}</h2>
            <h3 class="content-subtitle">{$header:content21}</h3>
            <div class="content-description">{$content:content2}</div>
            <span class="clearfix"></span>
            <div class="content-3block grid_4 t-grid_2">
                <i class="icon32 {$header:icon21:readonly} gl-change icon mr5px mt5px fl-left">{$header:icon21}</i>
                <span class="block wrap">{$header:content22}</span>
            </div>
            <div class="content-3block grid_4 t-grid_2">
                <i class="icon32 {$header:icon22:readonly} gl-change icon mr5px mt5px fl-left">{$header:icon22}</i>
                <span class="block wrap">{$header:content23}</span>
            </div>
            <div class="content-3block grid_4 t-grid_2 alpha omega">
                <i class="icon32 {$header:icon23:readonly} gl-change icon mr5px mt5px fl-left">{$header:icon23}</i>
                <span class="block wrap">{$header:content24}</span>
            </div>
        </div>
    </div>
</div>
<!--Content box-->
<div class="content-box">
    <div class="container">
        <div class="grid_3 t-hide m-hide alpha omega content-preview">
            {$directupload:Page Preview:image_3:235}
        </div>
        <div class="grid_9 omega content-info">
            <h2 class="content-title">{$header:content3}</h2>
            <h3 class="content-subtitle">{$header:content31}</h3>
            <div class="content-description">{$content:content3}</div>
            <span class="clearfix"></span>
            <div class="content-3block grid_4 t-grid_2">
                <i class="icon32 {$header:icon31:readonly} gl-change icon mr5px mt5px fl-left">{$header:icon31}</i>
                <span class="block wrap">{$header:content32}</span>
            </div>
            <div class="content-3block grid_4 t-grid_2">
                <i class="icon32 {$header:icon32:readonly} gl-change icon mr5px mt5px fl-left">{$header:icon32}</i>
                <span class="block wrap">{$header:content33}</span>
            </div>
            <div class="content-3block grid_4 t-grid_2 alpha omega">
                <i class="icon32 {$header:icon33:readonly} gl-change icon mr5px mt5px fl-left">{$header:icon33}</i>
                <span class="block wrap">{$header:content34}</span>
            </div>
        </div>
    </div>
</div>
<!--Content box-->
<div class="content-box">
    <div class="container">
        <div class="grid_3 t-hide m-hide alpha omega content-preview">
            {$directupload:Page Preview:image_4:235}
        </div>
        <div class="grid_9 omega content-info">
            <h2 class="content-title">{$header:content4}</h2>
            <h3 class="content-subtitle">{$header:content41}</h3>
            <div class="content-description">{$content:content4}</div>
            <span class="clearfix"></span>
            <div class="content-3block grid_4 t-grid_2">
                <i class="icon32 {$header:icon41:readonly} gl-change icon mr5px mt5px fl-left">{$header:icon41}</i>
                <span class="block wrap">{$header:content42}</span>
            </div>
            <div class="content-3block grid_4 t-grid_2">
                <i class="icon32 {$header:icon42:readonly} gl-change icon mr5px mt5px fl-left">{$header:icon42}</i>
                <span class="block wrap">{$header:content43}</span>
            </div>
            <div class="content-3block grid_4 t-grid_2 alpha omega">
                <i class="icon32 {$header:icon43:readonly} gl-change icon mr5px mt5px fl-left">{$header:icon43}</i>
                <span class="block wrap">{$header:content44}</span>
            </div>
        </div>
    </div>
</div>
<!--Content box-->
<div class="content-box">
    <div class="container">
        <div class="grid_3 t-hide m-hide alpha omega content-preview">
            {$directupload:Page Preview:image_5:235}
        </div>
        <div class="grid_9 omega content-info">
            <h2 class="content-title">{$header:content5}</h2>
            <h3 class="content-subtitle">{$header:content51}</h3>
            <div class="content-description">{$content:content5}</div>
            <span class="clearfix"></span>
            <div class="content-3block grid_4 t-grid_2">
                <i class="icon32 {$header:icon51:readonly} gl-change icon mr5px mt5px fl-left">{$header:icon51}</i>
                <span class="block wrap">{$header:content52}</span>
            </div>
            <div class="content-3block grid_4 t-grid_2">
                <i class="icon32 {$header:icon52:readonly} gl-change icon mr5px mt5px fl-left">{$header:icon52}</i>
                <span class="block wrap">{$header:content53}</span>
            </div>
            <div class="content-3block grid_4 t-grid_2 alpha omega">
                <i class="icon32 {$header:icon53:readonly} gl-change icon mr5px mt5px fl-left">{$header:icon53}</i>
                <span class="block wrap">{$header:content54}</span>
            </div>
        </div>
    </div>
</div>