<<<<<<< HEAD
<li>
    <a href="{$page:url}" class="page-teaser-image">
        {$page:preview}
    </a>
    <a href="{$page:url}" class="page-title">{$page:h1}</a>
    <span>{$page:teaser}</span>
=======
<li>
    <a href="{$page:url}" class="page-teaser-image">
        {$page:preview}
    </a>
    <a href="{$page:url}" class="page-title">{$page:h1}</a>
    <span>{$page:teaser}</span>
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
</li>