<<<<<<< HEAD
<footer class="mt30px">
    <!-- Container -->
    <div class="container">
        <div class="footer-box grid_5">
            <h3 class="fl-left">{$header:footer1:static} <i class="icon-brace-left lh-small m-hide"></i></h3>
            {$menu:main}
        </div>
        <div class="footer-box grid_1 t-grid_1 m-grid_2 text-center">
            <h3 class="mb0px">{$header:footer2:static}<i class="icon-brace-up lh-small block"></i></h3>
            {$featuredonly:footer2:static}
        </div>
        <div class="footer-box grid_1 t-grid_1 m-grid_2 text-center">
            <h3 class="mb0px">{$header:footer3:static}<i class="icon-brace-up lh-small block"></i></h3>
            {$featuredonly:footer3:static}
        </div>
        <div class="footer-box grid_4 t-grid_4 fl-right" itemscope itemtype="http://schema.org/LocalBusiness" role="contentinfo">
            <h3 class="fl-right"><i class="icon-brace-right lh-small m-hide"></i> {$header:footer4:static}</h3>
            <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span class="gray-darker block" itemprop="name">{$plugin:widcard:BizOrgName:notag}</span>
                <span itemprop="streetAddress">{$plugin:widcard:BizAddress1:notag}{$plugin:widcard:BizAddress2:notag}</span>,
                <span itemprop="addressLocality">{$plugin:widcard:BizCity:notag}</span>,
                <span itemprop="addressRegion">{$plugin:widcard:BizState:notag}</span>
                <span itemprop="postalCode">{$plugin:widcard:BizZip:notag}</span>
                <meta itemprop="addressCountry" content="EN"/>
                <a class="icon-phone2 block inherit-color mt10px fs16" target="_blank" href="tel:{$plugin:widcard:BizTelephone:notag}" itemprop="telephone"> {$header:phoneTitle1:static} {$plugin:widcard:BizTelephone:notag}</a>
                <a class="icon-phone2 block inherit-color mt10px fs16" target="_blank" href="tel:{$header:phone:static:readonly}" itemprop="telephone"> {$header:phoneTitle2:static} {$header:phone:static}</a>
            </address>
        </div>
        <nav class="footer-box grid_1 text-center">
            <a class="btn icon bdrs0 gplus icon-gplus" target="_blank" href="{$plugin:widcard:BizGplusAccount:notag}">GPlus+</a>
            <a class="btn icon bdrs0 facebook icon-facebook" target="_blank" href="{$plugin:widcard:BizFbAccount:notag}">Facebook</a>
            <a class="btn icon bdrs0 twitter icon-twitter" target="_blank" href="{$plugin:widcard:BizTwitterAccount:notag}">Twitter</a>
            <a class="btn icon bdrs0 linkedin icon-linkedin" target="_blank" href="{$plugin:widcard:BizLinkedInAccount:notag}">LinkedIn</a>
            <a class="btn icon bdrs0 rss icon-feed" target="_blank" href="{$plugin:widcard:BizRssChannel:notag}">RSS</a>
        </nav>

        <hr class="grid_12">

        <!-- Flat Menu -->
        <nav id="flat-menu" class="grid_9">{$menu:flat}</nav>

        <!-- Footer info -->
        <div class="grid_3 fl-right text-right">{$content:footer-info:static}</div>
    </div>

=======
<footer class="grid_12 mt30px" itemscope itemtype="http://schema.org/LocalBusiness" role="contentinfo">
    <div class="footer-box grid_3 t-grid_3">
        <h3>{$header:footer1:static}</h3>
        {$header:footer11:static}<span itemprop="name">{$plugin:widcard:BizOrgName:notag}</span>
    </div>
    <div class="footer-box grid_3 t-grid_3">
        <h3>{$header:footer2:static}</h3>
        <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="streetAddress">{$plugin:widcard:BizAddress1:notag}</span>
            <span itemprop="addressLocality">{$plugin:widcard:BizCity:notag}</span>,
            <span itemprop="postalCode">{$plugin:widcard:BizZip:notag}</span>
            <span itemprop="addressRegion">{$plugin:widcard:BizState:notag}</span>
            <meta itemprop="addressCountry" content="EN"/>
        </address>
    </div>
    <div class="footer-box grid_3 t-grid_3">
        <h3>{$header:footer3:static}</h3>
        <!-- Include Social links template -->
        {$template:_social links}
    </div>
    <div class="footer-box grid_3 t-grid_3">
        <h3>{$header:footer4:static}</h3>
        <p itemprop="telephone">{$plugin:widcard:BizTelephone:notag}</p>
        <a href="mailto:{$plugin:widcard:BizEmail:notag}" itemprop="email">{$plugin:widcard:BizEmail:notag}</a>.
        <a href="{$website:url}" itemprop="url">{$website:url}</a>
    </div>

    <hr class="grid_12">

    <!-- Footer info -->
    <div class="grid_4 text-left">{$content:footer-info:static}</div>

    <!-- Flat Menu -->
    <nav id="flat-menu" class="grid_8 text-right">
        {$menu:flat}
    </nav>
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
</footer>