<<<<<<< HEAD
<div id="header">
    <div class="fl-right mr20px mt5px t-hide m-hide">
        <a href="https://mojo.seosamba.com/register.html" class="btn link inverse icon-user-add">{$header:sign-up:static:readonly}</a>
        {adminonly}<span class="admin-hide-text">{$header:sign-up:static}</span>{/adminonly}
        <span class="btn link inverse icon-login dialog-btn" data-dialog-element="#login-mojo" data-dialog-width="500">{$header:login:static}</span>
    </div>

    <!-- Header -->
    <header class="container" role="banner">
        <div class="logo h1 grid_3 alpha t-hide m-hide">
            <a href="{$website:url}" title="{$page:h1}">
                <img src="{$plugin:widcard:bizLogo:url}" alt="Marketing software">
            </a>
        </div>

        <!-- Main Menu -->
        <nav id="main-menu" class="wrap d-visible" role="navigation">
            {$menu:main:main_menu}
        </nav>
    </header>
</div>
=======
<!-- Header -->
<header class="grid_12" role="banner">
    <div class="logo h1 grid_8 alpha" itemscope itemtype="http://schema.org/Organization">
        <a href="{$website:url}" title="{$plugin:widcard:BizOrgName:notag}" itemprop="url">
            <img src="{$plugin:widcard:bizLogo:url}" alt="{$page:h1}" width="75" height="85" itemprop="logo">
            <span itemprop="name">{$plugin:widcard:BizOrgName:notag}</span>
        </a>
    </div>
    <div class="grid_4 omega" role="search">
        {$search:form}
    </div>
</header>

<!-- Main Menu -->
<nav id="main-menu" class="grid_12 d-visible" role="navigation">{$menu:main:_main menu}</nav>
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
