<div id="login-mojo" class="hide without-title tabs clean dialog" title="Sign in mojo">
    <ul>
        <li><a href="#tabs-1">Sign in</a></li>
        <li><a href="#tabs-2">Forgot password?</a></li>
    </ul>

    <!--<iframe src="https://mojo.seosamba.com/outer-login.html"></iframe>-->
    <form id="tabs-1" enctype="application/x-www-form-urlencoded" action="https://mojo.seosamba.com/backend/login/index/singintype/member/" method="post" target="_blank">
        <p>
            <label class="required">E-mail</label>
            <input type="text" name="email" value="">
        </p>
        <p>
            <label class="required">Password</label>
            <input type="password" name="password" value="">
        </p>
        <input type="submit" name="submit" value="Let me in">
    </form>
    <form id="tabs-2" enctype="application/x-www-form-urlencoded" method="post" action="https://mojo.seosamba.com/login/retrieve">
        <p>
            <label class="optional">E-mail</label>
            <input type="text" name="email" value="">
        </p>
        <input type="submit" name="retrieve" value="Retrieve">
    </form>
</div>