<<<<<<< HEAD
<!--{ifpages}
    <label class="sub-menu-btn btn large icon icon-list2 fl-right bdrs0 {$ mobile:device:desktop=d-hide}"></label>
{/ifpages}-->
{ifpages}
    <span class="sub-menu-btn {$mobile:device:desktop=d-hide}"></span>
{/ifpages}
{device:desktop}
{adminonly}
    <span class="fl-left gl-change text-hide icon tooltip bottom" title="Click to edit icon" data-class="blue">
        {$header:menuIcon{$page:id}:static}
    </span>
{/adminonly}
{/device}
<a href="{$page:url}" title="{$page:h1}" class="wrap"><i class="{$header:menuIcon{$page:id}:static:readonly} icon16 mr-grid"></i> {$page:navName}</a>

{submenu}
    <a class="page-title primary-light block" href="{$page:url}" title="{$page:h1}">{$page:navName}</a>
=======
{ifpages}
    <span class="sub-menu-btn {$mobile:device:desktop=d-hide}"></span>
{/ifpages}

<a href="{$page:url}" title="{$page:h1}">{$page:navName}</a>

{submenu}
    <a class="page-title" href="{$page:url}" title="{$page:h1}">{$page:navName}</a>
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
{/submenu}