<<<<<<< HEAD
<!-- Top bar for mobile, with button show/hide menu -->
<!--<div class="mobile-bar top clearfix">-->
    <!--<span class="menu-btn left" data-menu-position="left">Menu</span>-->

    <!--<div class="fl-right mr20px mt5px t-hide m-hide">-->
        <!--<span class="btn link inverse icon-login dialog-btn" data-dialog-element="#login-mojo" data-dialog-width="500">{$header:login:static}</span>-->
    <!--</div>-->
<!--</div>-->
<!-- Top bar for mobile, with button show/hide menu -->
<div class="mobile-bar top clearfix print-hide">
    <span class="menu-btn left icon-list2 btn icon" data-menu-position="left"></span>
    <!--<label data-menu="#main-menu .main_menu" data-menu-position="top" class="menu-btn fl-left icon-list2 btn icon large bdrs0">Menu</label>-->
    <span class="fl-right icon-login btn icon large bdrs0 dialog-btn" data-dialog-element="#login-mojo" data-dialog-width="500"></span>
    <!--<a  class="fl-right icon-login btn icon large bdrs0 dialog-btn" href="https://mojo.seosamba.com/" title="Sing In"></a>-->
    <a class="fl-right icon-user-add btn icon large bdrs0 mr1px" href="https://mojo.seosamba.com/register.html">{$header:sign-up:static:readonly}</a>
    <div class="logo">
        <a href="{$website:url}">
            <img src="{$plugin:widcard:bizLogo:url}" alt="{$page:h1}">
        </a>
    </div>
</div>

<aside class="mobile-menu left">
    {$menu:main:_main menu}
</aside>
<!--<aside class="dropdown-menu">
    {$ menu:main:_main menu}
</aside>-->

<!-- Bottom bar for mobile, with button show/hide menu -->
<!--<div class="mobile-bar bottom clearfix">
    <div class="_column_5 margin-none one-line large">
        &lt;!&ndash; Include social share link &ndash;&gt;
        {$ template:_social share}
    </div>
</div>-->

<!-- mobile loader -->
=======
<!-- Top bar for mobile, with button show/hide menu -->
<div class="mobile-bar top clearfix">
    <span class="btn icon-menu" data-refer="main"></span>
    <span class="title">{$page:h1}</span>
    <span class=" btn icon-search"></span>
    <span class="dropdown-btn btn icon-more-vert" data-refer="drop"></span>
    <div class="tabs">
        <ul class="items-wrap">
        <li><a href="#">First Item</a></li>
        <li><a href="#" class="current">Second Item</a></li>
        <li><a href="#">Third Item</a></li>
        <li><a href="#">Fourth Item</a></li>
        <li><a href="#">Fifth Item</a></li>
        </ul>
    </div>
</div>

<aside class="m-menu left" data-el="main">
    <div class="menu-top-header"></div>
    {$menu:main:_main menu}
</aside>
<aside class="m-menu dropdown right top" data-el="drop">
    {$menu:main:_main menu}
</aside>

<!-- Bottom bar for mobile, with button show/hide menu -->
<div class="mobile-bar bottom clearfix">
    <div class="_column_5 margin-none one-line large">
        <!-- Include social share link -->
        {$template:_social share}
    </div>
</div>

<!-- mobile loader -->
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
<span class="mobile-loader"></span>