<<<<<<< HEAD
<div class="news-item clearfix">
    {$news:actions}
    <time class="news-item-date icon-calendar2 small block mb10px" datetime="{$news:date:Y-m-d}">{$news:date: M d, Y}</time>
    <a class="news-item-image text-center grid_3 alpha" href="{$news:url}">
        <img src="{$news:preview}" alt="{$news:title:inline}"/>
    </a>
    <a class="news-item-title large grid_9 omega" href="{$news:url}">{$news:title}</a>
    <p class="news-item-description grid_9 omega small mb10px">{$news:teaser}</p>
    <p class="news-item-tags small cl-both text-right">{$news:tags}</p>
=======
<div class="news-item clearfix">
    {$news:actions}
    <a class="news-item-image text-center grid_5 alpha" href="{$news:url}">
        <img src="{$news:preview}" alt="{$news:title:inline}"/>
        <time class="news-item-date block" datetime="{$news:date:Y-m-d}">{$news:date: M d Y}</time>
    </a>
    <a class="news-item-title large grid_7 omega" href="{$news:url}">{$news:title}</a>
    <p class="news-item-description grid_7 omega">{$news:teaser}</p>
    <!--<p class="news-item-tags small cl-both text-right">{$news:tags}</p>-->
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
</div>