<<<<<<< HEAD
<!-- SCRIPTS ZONE -->
<script src="js/scripts.min.js"></script>
=======
<!-- SCRIPTS ZONE -->
<!--<script src="js/scripts.min.js"></script>-->
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
<script src="js/system/flexkit.min.js"></script>