<<<<<<< HEAD
<a class="btn social icon gplus icon-gplus" target="_blank" href="{$plugin:widcard:BizGplusAccount:notag}">GPlus</a>
<a class="btn social icon facebook icon-facebook" target="_blank" href="{$plugin:widcard:BizFbAccount:notag}">Facebook</a>
<a class="btn social icon twitter icon-twitter" target="_blank" href="{$plugin:widcard:BizTwitterAccount:notag}">Twitter</a>
<a class="btn social icon linkedin icon-linkedin" target="_blank" href="{$plugin:widcard:BizLinkedInAccount:notag}">LinkedIn</a>
<a class="btn social icon rss icon-feed" target="_blank" href="{$plugin:widcard:BizRssChannel:notag}">RSS</a>
<a class="btn social icon youtube icon-youtube" target="_blank" href="{$plugin:widcard:BizYoutubeChannel:notag}">YouTube</a>
=======
<a class="btn social icon gplus icon-gplus" target="_blank" href="{$plugin:widcard:BizGplusAccount:notag}">GPlus</a>
<a class="btn social icon facebook icon-facebook" target="_blank" href="{$plugin:widcard:BizFbAccount:notag}">Facebook</a>
<a class="btn social icon twitter icon-twitter" target="_blank" href="{$plugin:widcard:BizTwitterAccount:notag}">Twitter</a>
<a class="btn social icon linkedin icon-linkedin" target="_blank" href="{$plugin:widcard:BizLinkedInAccount:notag}">LinkedIn</a>
<a class="btn social icon rss icon-feed" target="_blank" href="{$plugin:widcard:BizRssChannel:notag}">RSS</a>
<!--<a class="btn social icon youtube icon-youtube" target="_blank" href="{$plugin:widcard:BizYoutubeChannel:notag}">YouTube</a>-->
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
