<<<<<<< HEAD
<!-- Go to www.addthis.com/dashboard to generate a new set of sharing buttons -->
<a class="btn social  facebook icon-facebook" href="https://api.addthis.com/oexchange/0.8/forward/facebook/offer?url={$website:url}{$page:url}&amp;pubid=ra-51fb623c6d4f6a8a&amp;ct=1&amp;title={$page:h1}&amp;pco=tbxnj-1.0" target="_blank">Facebook</a>
<a class="btn social twitter icon-twitter" href="https://api.addthis.com/oexchange/0.8/forward/twitter/offer?url={$website:url}{$page:url}&amp;pubid=ra-51fb623c6d4f6a8a&amp;ct=1&amp;title={$page:h1}&amp;pco=tbxnj-1.0" target="_blank">Twitter</a>

<a class="btn social linkedin icon-linkedin" href="https://api.addthis.com/oexchange/0.8/forward/linkedin/offer?url={$website:url}{$page:url}&amp;pubid=ra-51fb623c6d4f6a8a&amp;ct=1&amp;title={$page:h1}&amp;pco=tbxnj-1.0" target="_blank">LinkedIn</a>
=======
<!-- Go to www.addthis.com/dashboard to generate a new set of sharing buttons -->
<a class="btn social icon facebook icon-facebook" href="https://api.addthis.com/oexchange/0.8/forward/facebook/offer?url={$website:url}{$page:url}&amp;pubid=ra-51fb623c6d4f6a8a&amp;ct=1&amp;title={$page:h1}&amp;pco=tbxnj-1.0" target="_blank">Facebook</a>
<a class="btn social icon twitter icon-twitter" href="https://api.addthis.com/oexchange/0.8/forward/twitter/offer?url={$website:url}{$page:url}&amp;pubid=ra-51fb623c6d4f6a8a&amp;ct=1&amp;title={$page:h1}&amp;pco=tbxnj-1.0" target="_blank">Twitter</a>
<a class="btn social icon gplus icon-gplus" href="https://api.addthis.com/oexchange/0.8/forward/google_plusone_share/offer?url={$website:url}{$page:url}&amp;pubid=ra-51fb623c6d4f6a8a&amp;ct=1&amp;title={$page:h1}&amp;pco=tbxnj-1.0" target="_blank">Google+</a>
<a class="btn social icon linkedin icon-linkedin" href="https://api.addthis.com/oexchange/0.8/forward/linkedin/offer?url={$website:url}{$page:url}&amp;pubid=ra-51fb623c6d4f6a8a&amp;ct=1&amp;title={$page:h1}&amp;pco=tbxnj-1.0" target="_blank">LinkedIn</a>
<a class="btn social icon icon-mail" href="https://api.addthis.com/oexchange/0.8/forward/email/offer?url={$website:url}{$page:url}&amp;pubid=ra-51fb623c6d4f6a8a&amp;ct=1&amp;title={$page:h1}&amp;pco=tbxnj-1.0" target="_blank">Email</a>
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
