{adminonly}<label class="mt30px large orange grid_4">Enables show or hide block #1:</label> <span class="grid_2 mt25px">{$prepop:hideBlock1:select:hidden}</span><span class="clearfix"></span>{/adminonly}
<div class="content-box clearfix pt40px pb40px {$prepop:hideBlock1:select:hidden:readonly}">
    <div class="grid_2 alpha text-center">
        {$directupload:Page Preview:image_1:160}
        <a class="btn block {$prepop:btnBG1:select:readonly} {$prepop:btnSize1:select:readonly}" href="{$prepop:btnLink1:text:readonly}">{$prepop:btnText1:text:readonly}</a>
    {adminonly}<span class="icon-cog dialog btn icon inverse tooltip top" title="Click to edit button style" data-class="blue" data-element="#button1" data-width="300"></span>{/adminonly}
    </div>
    <div class="grid_10 omega large text-light">
        <h2 class="mb10px lh-small">{$header:content1}</h2>
        {$content:content11}
    </div>
</div>
<!--Content box-->
{adminonly}<label class="mt30px large orange grid_4">Enables show or hide block #2:</label> <span class="grid_2 mt25px">{$prepop:hideBlock2:select:hidden}</span><span class="clearfix"></span>{/adminonly}
<div class="content-box clearfix pt40px pb40px {$prepop:hideBlock2:select:hidden:readonly}">
    <div class="grid_2 alpha text-center">
        {$directupload:Page Preview:image_2:160}
        <a class="btn block {$prepop:btnBG2:select:readonly} {$prepop:btnSize2:select:readonly}" href="{$prepop:btnLink2:text:readonly}">{$prepop:btnText2:text:readonly}</a>
    {adminonly}<span class="icon-cog dialog btn icon inverse tooltip top" title="Click to edit button style" data-class="blue" data-element="#button2" data-width="300"></span>{/adminonly}
    </div>
    <div class="grid_10 omega large text-light">
        <h2 class="mb10px lh-small">{$header:content2}</h2>
        {$content:content21}
    </div>
</div>
<!--Content box-->
{adminonly}<label class="mt30px large orange grid_4">Enables show or hide block #3:</label> <span class="grid_2 mt25px">{$prepop:hideBlock3:select:hidden}</span><span class="clearfix"></span>{/adminonly}
<div class="content-box clearfix pt40px pb40px {$prepop:hideBlock3:select:hidden:readonly}">
    <div class="grid_2 alpha text-center">
        {$directupload:Page Preview:image_3:160}
        <a class="btn block {$prepop:btnBG3:select:readonly} {$prepop:btnSize3:select:readonly}" href="{$prepop:btnLink3:text:readonly}">{$prepop:btnText3:text:readonly}</a>
    {adminonly}<span class="icon-cog dialog btn icon inverse tooltip top" title="Click to edit button style" data-class="blue" data-element="#button3" data-width="300"></span>{/adminonly}
    </div>
    <div class="grid_10 omega large text-light">
        <h2 class="mb10px lh-small">{$header:content3}</h2>
        {$content:content31}
    </div>
</div>
<!--Content box-->
{adminonly}<label class="mt30px large orange grid_4">Enables show or hide block #4:</label> <span class="grid_2 mt25px">{$prepop:hideBlock4:select:hidden}</span><span class="clearfix"></span>{/adminonly}
<div class="content-box clearfix pt40px pb40px {$prepop:hideBlock4:select:hidden:readonly}">
    <div class="grid_2 alpha text-center">
        {$directupload:Page Preview:image_4:160}
        <a class="btn block {$prepop:btnBG4:select:readonly} {$prepop:btnSize4:select:readonly}" href="{$prepop:btnLink4:text:readonly}">{$prepop:btnText4:text:readonly}</a>
    {adminonly}<span class="icon-cog dialog btn icon inverse tooltip top" title="Click to edit button style" data-class="blue" data-element="#button4" data-width="300"></span>{/adminonly}
    </div>
    <div class="grid_10 omega large text-light">
        <h2 class="mb10px lh-small">{$header:content4}</h2>
        {$content:content41}
    </div>
</div>
<!--Content box-->
{adminonly}<label class="mt30px large orange grid_4">Enables show or hide block #5:</label> <span class="grid_2 mt25px">{$prepop:hideBlock5:select:hidden}</span><span class="clearfix"></span>{/adminonly}
<div class="content-box clearfix pt40px pb40px {$prepop:hideBlock5:select:readonly}">
    <div class="grid_2 alpha text-center">
        {$directupload:Page Preview:image_5:160}
        <a class="btn block {$prepop:btnBG5:select:readonly} {$prepop:btnSize5:select:readonly}" href="{$prepop:btnLink5:text:readonly}">{$prepop:btnText5:text:readonly}</a>
    {adminonly}<span class="icon-cog dialog btn icon inverse tooltip top" title="Click to edit button style" data-class="blue" data-element="#button5" data-width="300"></span>{/adminonly}
    </div>
    <div class="grid_10 omega large text-light">
        <h2 class="mb10px lh-small">{$header:content5}</h2>
        {$content:content51}
    </div>
</div>


<!-- Dialog zone -->
        <div id="login-mojo" class="hidden without-title" title="Sign in mojo">
            <form enctype="application/x-www-form-urlencoded" action="https://mojo.seosamba.com/backend/login/index/singintype/member/" method="post" target="_blank">
                <p>
                    <label for="email" class="required">E-mail</label>
                    <input type="text" name="email" id="email" value="">
                </p>
                <p>
                    <label for="password" class="required">Password</label>
                    <input type="password" name="password" id="password" value="">
                </p>
                <input type="submit" name="submit" id="submit" value="Let me in">
            </form>
        </div>
{adminonly}
<div id="teaser-button" class="hidden settings" title="Edit button style">
    <label>Enter button text</label>
    {$prepop:teaser-btnText:text}
    <label class="mt10px">Enter button link</label>
    {$prepop:teaser-btnLink:text}
    <label class="mt10px">Choose button color</label>
    {$prepop:teaser-btnBG:select:seosamba-color|seotoaster-color|inverse|orange|orange-dark|orange-inverse|red|red-dark|red-inverse|blue|blue-dark|blue-inverse|green|green-dark|green-inverse}
    <label class="mt10px">Choose button size</label>
    {$prepop:teaser-btnSize:select:larger|large|normal|small}
</div>
<div id="action-button" class="hidden settings" title="Edit button style">
    <label>Enter button text</label>
    {$prepop:action-btnText:text}
    <label class="mt10px">Enter button link</label>
    {$prepop:action-btnLink:text}
    <label class="mt10px">Choose button color</label>
    {$prepop:action-btnBG:select:seosamba-color|seotoaster-color|inverse|orange|orange-dark|orange-inverse|red|red-dark|red-inverse|blue|blue-dark|blue-inverse|green|green-dark|green-inverse}
    <label class="mt10px">Choose button size</label>
    {$prepop:action-btnSize:select:larger|large|normal|small}
</div>
<div id="button1" class="hidden settings" title="Edit button style">
    <label>Enter button text</label>
    {$prepop:btnText1:text}
    <label class="mt10px">Enter button link</label>
    {$prepop:btnLink1:text}
    <label class="mt10px">Choose button color</label>
    {$prepop:btnBG1:select:seosamba-color|seotoaster-color|inverse|orange|orange-dark|orange-inverse|red|red-dark|red-inverse|blue|blue-dark|blue-inverse|green|green-dark|green-inverse}
    <label class="mt10px">Choose button size</label>
    {$prepop:btnSize1:select:larger|large|normal|small}
</div>
<div id="button2" class="hidden settings" title="Edit button style">
    <label>Enter button text</label>
    {$prepop:btnText2:text}
    <label class="mt10px">Enter button link</label>
    {$prepop:btnLink2:text}
    <label class="mt10px">Choose button color</label>
    {$prepop:btnBG2:select:seosamba-color|seotoaster-color|inverse|orange|orange-dark|orange-inverse|red|red-dark|red-inverse|blue|blue-dark|blue-inverse|green|green-dark|green-inverse}
    <label class="mt10px">Choose button size</label>
    {$prepop:btnSize2:select:larger|large|normal|small}
</div>
<div id="button3" class="hidden settings" title="Edit button style">
    <label>Enter button text</label>
    {$prepop:btnText3:text}
    <label class="mt10px">Enter button link</label>
    {$prepop:btnLink3:text}
    <label class="mt10px">Choose button color</label>
    {$prepop:btnBG3:select:seosamba-color|seotoaster-color|inverse|orange|orange-dark|orange-inverse|red|red-dark|red-inverse|blue|blue-dark|blue-inverse|green|green-dark|green-inverse}
    <label class="mt10px">Choose button size</label>
    {$prepop:btnSize3:select:larger|large|normal|small}
</div>
<div id="button4" class="hidden settings" title="Edit button style">
    <label>Enter button text</label>
    {$prepop:btnText4:text}
    <label class="mt10px">Enter button link</label>
    {$prepop:btnLink4:text}
    <label class="mt10px">Choose button color</label>
    {$prepop:btnBG4:select:seosamba-color|seotoaster-color|inverse|orange|orange-dark|orange-inverse|red|red-dark|red-inverse|blue|blue-dark|blue-inverse|green|green-dark|green-inverse}
    <label class="mt10px">Choose button size</label>
    {$prepop:btnSize4:select:larger|large|normal|small}
</div>
<div id="button5" class="hidden settings" title="Edit button style">
    <label>Enter button text</label>
    {$prepop:btnText5:text}
    <label class="mt10px">Enter button link</label>
    {$prepop:btnLink5:text}
    <label class="mt10px">Choose button color</label>
    {$prepop:btnBG5:select:seosamba-color|seotoaster-color|inverse|orange|orange-dark|orange-inverse|red|red-dark|red-inverse|blue|blue-dark|blue-inverse|green|green-dark|green-inverse}
    <label class="mt10px">Choose button size</label>
    {$prepop:btnSize5:select:larger|large|normal|small}
</div>
{/adminonly}