<a href="{$page:url}" title="{$page:h1}" class="page-teaser-image mb0px">{$page:preview}</a>
   <a href="{$page:url}" title="{$page:h1}" class="page-title">{$page:navName}</a>
   <span>{$meta:description}</span>