<fieldset class="mb20px">
    <legend class="h2">Contact info</legend>    
    <p class="grid_4">
        <label for="name">Your name</label>
        <input id="name" name="name" type="text">
    </p>
    <p class="grid_4">
        <label for="email">Email</label>
        <input id="email" name="email" type="text">
    </p>
    <p class="grid_4">
        <label for="site_name">Site name</label>
        <input id="site_name" name="site_name" type="text">
    </p>
</fieldset>

<fieldset>
    <legend class="h2">General details</legend>

    <p class="grid_6">
        <label for="currency">Currency</label>
        <select id="currency" name="Currency">
            <option value="Afghan Afghani (Af)">Afghan Afghani (Af)</option>
            <option value="Albanian Lek">Albanian Lek</option>
            <option value="Algerian Dinar (DA)">Algerian Dinar (DA)</option>
            <option value="Angolan Kwanza (Kz)">Angolan Kwanza (Kz)</option>
            <option value="Argentine Peso (AR$)">Argentine Peso (AR$)</option>
            <option value="Armenian Dram">Armenian Dram</option>
            <option value="Aruban Florin (Afl.)">Aruban Florin (Afl.)</option>
            <option value="Australian Dollar (AU$)">Australian Dollar (AU$)</option>
            <option value="Azerbaijani Manat (man.)">Azerbaijani Manat (man.)</option>
            <option value="Bahamian Dollar (BS$)">Bahamian Dollar (BS$)</option>
            <option value="Bahraini Dinar (BD)">Bahraini Dinar (BD)</option>
            <option value="Bangladeshi Taka (Tk)">Bangladeshi Taka (Tk)</option>
            <option value="Barbadian Dollar (Bds$)">Barbadian Dollar (Bds$)</option>
            <option value="Belarusian Ruble">Belarusian Ruble</option>
            <option value="Belize Dollar (BZ$)">Belize Dollar (BZ$)</option>
            <option value="Bermudan Dollar (BD$)">Bermudan Dollar (BD$)</option>
            <option value="Bhutanese Ngultrum (Nu.)">Bhutanese Ngultrum (Nu.)</option>
            <option value="Bolivian Boliviano (Bs)">Bolivian Boliviano (Bs)</option>
            <option value="Bosnia-Herzegovina Convertible Mark (KM)">Bosnia-Herzegovina Convertible Mark (KM)</option>
            <option value="Botswanan Pula (BWP)">Botswanan Pula (BWP)</option>
            <option value="Brazilian Real (R$)">Brazilian Real (R$)</option>
            <option value="British Pound Sterling (£)">British Pound Sterling (£)</option>
            <option value="Brunei Dollar (BN$)">Brunei Dollar (BN$)</option>
            <option value="Bulgarian Lev">Bulgarian Lev</option>
            <option value="Burundian Franc (FBu)">Burundian Franc (FBu)</option>
            <option value="CFA Franc BCEAO (CFA)">CFA Franc BCEAO (CFA)</option>
            <option value="CFA Franc BEAC (FCFA)">CFA Franc BEAC (FCFA)</option>
            <option value="CFP Franc (CFPF)">CFP Franc (CFPF)</option>
            <option value="Cambodian Riel">Cambodian Riel</option>
            <option value="Canadian Dollar (CA$)">Canadian Dollar (CA$)</option>
            <option value="Cape Verdean Escudo (CV$)">Cape Verdean Escudo (CV$)</option>
            <option value="Chilean Peso (CL$)">Chilean Peso (CL$)</option>
            <option value="Chilean Unidades De Fomento">Chilean Unidades De Fomento</option>
            <option value="Chinese Yuan Renminbi (CN¥)">Chinese Yuan Renminbi (CN¥)</option>
            <option value="Colombian Peso (CO$)">Colombian Peso (CO$)</option>
            <option value="Comorian Franc (CF)">Comorian Franc (CF)</option>
            <option value="Congolese Franc (CDF)">Congolese Franc (CDF)</option>
            <option value="Costa Rican Colón (₡)">Costa Rican Colón (₡)</option>
            <option value="Croatian Kuna (kn)">Croatian Kuna (kn)</option>
            <option value="Cuban Peso (CU$)">Cuban Peso (CU$)</option>
            <option value="Czech Republic Koruna (Kč)">Czech Republic Koruna (Kč)</option>
            <option value="Danish Krone (Dkr)">Danish Krone (Dkr)</option>
            <option value="Djiboutian Franc (Fdj)">Djiboutian Franc (Fdj)</option>
            <option value="Dominican Peso (RD$)">Dominican Peso (RD$)</option>
            <option value="East Caribbean Dollar (EC$)">East Caribbean Dollar (EC$)</option>
            <option value="Egyptian Pound (EG£)">Egyptian Pound (EG£)</option>
            <option value="Ethiopian Birr (Br)">Ethiopian Birr (Br)</option>
            <option value="Euro (€)">Euro (€)</option>
            <option value="Falkland Islands Pound (FK£)">Falkland Islands Pound (FK£)</option>
            <option value="Fijian Dollar (FJ$)">Fijian Dollar (FJ$)</option>
            <option value="Gambian Dalasi (GMD)">Gambian Dalasi (GMD)</option>
            <option value="Georgian Lari">Georgian Lari</option>
            <option value="Ghanaian Cedi (GH₵)">Ghanaian Cedi (GH₵)</option>
            <option value="Gibraltar Pound (GI£)">Gibraltar Pound (GI£)</option>
            <option value="Guatemalan Quetzal (GTQ)">Guatemalan Quetzal (GTQ)</option>
            <option value="Guinean Franc (FG)">Guinean Franc (FG)</option>
            <option value="Guyanaese Dollar (GY$)">Guyanaese Dollar (GY$)</option>
            <option value="Haitian Gourde (HTG)">Haitian Gourde (HTG)</option>
            <option value="Honduran Lempira (HNL)">Honduran Lempira (HNL)</option>
            <option value="Hong Kong Dollar (HK$)">Hong Kong Dollar (HK$)</option>
            <option value="Hungarian Forint (Ft)">Hungarian Forint (Ft)</option>
            <option value="Icelandic Króna (Ikr)">Icelandic Króna (Ikr)</option>
            <option value="Indian Rupee (Rs)">Indian Rupee (Rs)</option>
            <option value="Indonesian Rupiah (Rp)">Indonesian Rupiah (Rp)</option>
            <option value="Iranian Rial">Iranian Rial</option>
            <option value="Iraqi Dinar">Iraqi Dinar</option>
            <option value="Irish Pound (IR£)">Irish Pound (IR£)</option>
            <option value="Israeli New Sheqel (₪)">Israeli New Sheqel (₪)</option>
            <option value="Jamaican Dollar (J$)">Jamaican Dollar (J$)</option>
            <option value="Japanese Yen (¥)">Japanese Yen (¥)</option>
            <option value="Jordanian Dinar (JD)">Jordanian Dinar (JD)</option>
            <option value="Kazakhstan Tenge">Kazakhstan Tenge</option>
            <option value="Kenyan Shilling (Ksh)">Kenyan Shilling (Ksh)</option>
            <option value="Kuwaiti Dinar (KD)">Kuwaiti Dinar (KD)</option>
            <option value="Kyrgystani Som">Kyrgystani Som</option>
            <option value="Laotian Kip (₭)">Laotian Kip (₭)</option>
            <option value="Latvian Lats (Ls)">Latvian Lats (Ls)</option>
            <option value="Lebanese Pound (LB£)">Lebanese Pound (LB£)</option>
            <option value="Lesotho Loti (LSL)">Lesotho Loti (LSL)</option>
            <option value="Liberian Dollar (L$)">Liberian Dollar (L$)</option>
            <option value="Libyan Dinar (LD)">Libyan Dinar (LD)</option>
            <option value="Lithuanian Litas (Lt)">Lithuanian Litas (Lt)</option>
            <option value="Macanese Pataca (MOP$)">Macanese Pataca (MOP$)</option>
            <option value="Macedonian Denar">Macedonian Denar</option>
            <option value="Malagasy Ariary">Malagasy Ariary</option>
            <option value="Malawian Kwacha">Malawian Kwacha</option>
            <option value="Malaysian Ringgit (RM)">Malaysian Ringgit (RM)</option>
            <option value="Maldivian Rufiyaa">Maldivian Rufiyaa</option>
            <option value="Mauritanian Ouguiya (UM)">Mauritanian Ouguiya (UM)</option>
            <option value="Mauritian Rupee (MURs)">Mauritian Rupee (MURs)</option>
            <option value="Mexican Peso">Mexican Peso</option>
            <option value="Moldovan Leu">Moldovan Leu</option>
            <option value="Mongolian Tugrik (₮)">Mongolian Tugrik (₮)</option>
            <option value="Moroccan Dirham">Moroccan Dirham</option>
            <option value="Mozambican Metical (MTn)">Mozambican Metical (MTn)</option>
            <option value="Myanma Kyat (MMK)">Myanma Kyat (MMK)</option>
            <option value="Namibian Dollar (N$)">Namibian Dollar (N$)</option>
            <option value="Nepalese Rupee (NPRs)">Nepalese Rupee (NPRs)</option>
            <option value="Netherlands Antillean Guilder (NAf.)">Netherlands Antillean Guilder (NAf.)</option>
            <option value="New Taiwan Dollar (NT$)">New Taiwan Dollar (NT$)</option>
            <option value="New Zealand Dollar (NZ$)">New Zealand Dollar (NZ$)</option>
            <option value="Nicaraguan Cordoba Oro (C$)">Nicaraguan Cordoba Oro (C$)</option>
            <option value="Nigerian Naira (₦)">Nigerian Naira (₦)</option>
            <option value="North Korean Won">North Korean Won</option>
            <option value="Norwegian Krone (Nkr)">Norwegian Krone (Nkr)</option>
            <option value="Omani Rial">Omani Rial</option>
            <option value="Pakistani Rupee (PKRs)">Pakistani Rupee (PKRs)</option>
            <option value="Panamanian Balboa (B/.)">Panamanian Balboa (B/.)</option>
            <option value="Papua New Guinean Kina (PGK)">Papua New Guinean Kina (PGK)</option>
            <option value="Paraguayan Guarani">Paraguayan Guarani</option>
            <option value="Peruvian Nuevo Sol (S/.)">Peruvian Nuevo Sol (S/.)</option>
            <option value="Philippine Peso">Philippine Peso</option>
            <option value="Polish Zloty (zł)">Polish Zloty (zł)</option>
            <option value="Qatari Rial (QR)">Qatari Rial (QR)</option>
            <option value="Romanian Leu (RON)">Romanian Leu (RON)</option>
            <option value="Russian Ruble">Russian Ruble</option>
            <option value="Rwandan Franc">Rwandan Franc</option>
            <option value="Saint Helena Pound (SH£)">Saint Helena Pound (SH£)</option>
            <option value="Salvadoran Colón (SV₡)">Salvadoran Colón (SV₡)</option>
            <option value="Samoan Tala (WS$)">Samoan Tala (WS$)</option>
            <option value="Saudi Riyal (SR)">Saudi Riyal (SR)</option>
            <option value="Serbian Dinar (din.)">Serbian Dinar (din.)</option>
            <option value="Seychellois Rupee (SRe)">Seychellois Rupee (SRe)</option>
            <option value="Sierra Leonean Leone (Le)">Sierra Leonean Leone (Le)</option>
            <option value="Singapore Dollar (S$)">Singapore Dollar (S$)</option>
            <option value="Solomon Islands Dollar (SI$)">Solomon Islands Dollar (SI$)</option>
            <option value="Somali Shilling (Ssh)">Somali Shilling (Ssh)</option>
            <option value="South African Rand (R)">South African Rand (R)</option>
            <option value="South Korean Won (₩)">South Korean Won (₩)</option>
            <option value="Special Drawing Rights">Special Drawing Rights</option>
            <option value="Sri Lanka Rupee (SLRs)">Sri Lanka Rupee (SLRs)</option>
            <option value="Sudanese Pound">Sudanese Pound</option>
            <option value="Surinamese Dollar (SR$)">Surinamese Dollar (SR$)</option>
            <option value="Swazi Lilangeni (SZL)">Swazi Lilangeni (SZL)</option>
            <option value="Swedish Krona (Skr)">Swedish Krona (Skr)</option>
            <option value="Swiss Franc (Fr.)">Swiss Franc (Fr.)</option>
            <option value="Syrian Pound (SY£)">Syrian Pound (SY£)</option>
            <option value="São Tomé And Príncipe Dobra (Db)">São Tomé And Príncipe Dobra (Db)</option>
            <option value="Tajikistani Somoni">Tajikistani Somoni</option>
            <option value="Tanzanian Shilling (TSh)">Tanzanian Shilling (TSh)</option>
            <option value="Thai Baht (฿)">Thai Baht (฿)</option>
            <option value="Tongan Paʻanga (T$)">Tongan Paʻanga (T$)</option>
            <option value="Trinidad And Tobago Dollar (TT$)">Trinidad And Tobago Dollar (TT$)</option>
            <option value="Tunisian Dinar (DT)">Tunisian Dinar (DT)</option>
            <option value="Turkish Lira (TL)">Turkish Lira (TL)</option>
            <option value="Turkmenistani New Manat">Turkmenistani New Manat</option>
            <option selected="selected" value="US Dollar ($)">US Dollar ($)</option>
            <option value="Ugandan Shilling (USh)">Ugandan Shilling (USh)</option>
            <option value="Ukrainian Hryvnia">Ukrainian Hryvnia</option>
            <option value="United Arab Emirates Dirham">United Arab Emirates Dirham</option>
            <option value="Uruguayan Peso ($U)">Uruguayan Peso ($U)</option>
            <option value="Uzbekistan Som">Uzbekistan Som</option>
            <option value="Vanuatu Vatu (VT)">Vanuatu Vatu (VT)</option>
            <option value="Venezuelan Bolívar Fuerte (Bs.F.)">Venezuelan Bolívar Fuerte (Bs.F.)</option>
            <option value="Vietnamese Dong (₫)">Vietnamese Dong (₫)</option>
            <option value="Yemeni Rial (YR)">Yemeni Rial (YR)</option>
            <option value="Zambian Kwacha (ZK)">Zambian Kwacha (ZK)</option>
            <option value="Zimbabwean Dollar (2009)">Zimbabwean Dollar (2009)</option>
            <option value="Zimbabwean Dollar (Z$)">Zimbabwean Dollar (Z$)</option>
        </select>
    </p>

    <p class="grid_6">
        <label for="weight_unit">Weight unit</label>
        <select id="weight_unit" name="Weight unit">
            <option value="Pound (lbs)">Pound (lbs)</option>
            <option value="Kilogram (kg)">Kilogram (kg)</option>
        </select>
    </p>

    <span class="clearfix"></span>

    <h3>Taxes</h3>
    <em class="message gray small mb10px">Please specify the value of taxes applied to your products prices (in %). In case you have several sets of products which are subject to different tax rates, please specify the Rate 2 and 3 with corresponding applicable products.</em>

    <div class="grid_6">
        <p>
            <label for="rate_1">Rate 1 (default)</label>
            <input id="rate_1" name="Rate 1" type="text">
        </p>
        <p>
            <label for="rate_2">Rate 2</label>
            <input id="rate_2" name="Rate 2" type="text">
        </p>
        <p>
            <label for="rate_3">Rate 3</label>
            <input id="rate_3" name="Rate 3" type="text">
        </p>
    </div>
    <div class="grid_6">
        <p>
            <label for="applicable_product_1">Applicable product</label>
            <input id="applicable_product_1" name="Applicable product(Rate 1)" type="text" placeholder="All / a category / list of products ">
        </p>
        <p>
            <label for="applicable_product_2">Applicable product</label>
            <input id="applicable_product_2" name="Applicable product(Rate 2)" type="text" placeholder="category / list of products ">
        </p>
        <p>
            <label for="applicable_product_3">Applicable product</label>
            <input id="applicable_product_3" name="Applicable product(Rate 3)" type="text" placeholder="category / list of products ">
        </p>
    </div>
    
    <span class="clearfix"></span>

    <h4>Accepted payment types</h4>
    <p class="column_4">
        <label>
            <input name="Accepted payment types[]" type="checkbox" value="Cash"> Cash
        </label>
        <label>
            <input name="Accepted payment types[]" type="checkbox" value="Check"> Check
        </label>
        <label>
            <input name="Accepted payment types[]" type="checkbox" value="Traveller’s check"> Traveller’s check
        </label>
        <label>
            <input name="Accepted payment types[]" type="checkbox" value="Invoice"> Invoice
        </label>
        <label>
            <input name="Accepted payment types[]" type="checkbox" value="Amex"> Amex
        </label>
        <label>
            <input name="Accepted payment types[]" type="checkbox" value="Dinner’s club"> Dinner’s club
        </label>
        <label>
            <input name="Accepted payment types[]" type="checkbox" value="Discover"> Discover
        </label>
        <label>
            <input name="Accepted payment types[]" type="checkbox" value="MasterCard"> MasterCard
        </label>
        <label>
            <input name="Accepted payment types[]" type="checkbox" value="Visa"> Visa
        </label>
        <label>
            <input name="Accepted payment types[]" type="checkbox" value="Financing"> Financing
        </label>
        <label>
            <input name="Accepted payment types[]" type="checkbox" value="Google Checkout"> Google Checkout
        </label>
        <label>
            <input name="Accepted payment types[]" type="checkbox" value="PayPal"> PayPal
        </label>
    </p>

    <h4>What payment gateway do you wish to use?</h4>
    <p class="grid_12">
        <label>
            <input name="What payment gateway do you wish to use?[]" type="radio" value="PayPal - offsite processing (via Paypal account &amp; credit card)"> PayPal - offsite processing (via Paypal account &amp; credit card)
        </label>
        <label>
            <input name="What payment gateway do you wish to use?[]" type="radio" value="PayPal - onsite processing (via a credit card form on your checkout page)"> PayPal - onsite processing (via a credit card form on your checkout page)
        </label>
        <label>
            <input name="What payment gateway do you wish to use?[]" type="radio" value="Authorize"> Authorize
        </label>
        <label>
            <input name="What payment gateway do you wish to use?[]" type="radio" value="Amazon"> Amazon
        </label>
        <label>
            <input name="What payment gateway do you wish to use?[]" type="radio" value="Paybox – offsite processing"> Paybox – offsite processing
        </label>
        <label>
            <input name="What payment gateway do you wish to use?[]" type="radio" value="Costco"> Costco
        </label>
        <label>
            <input name="What payment gateway do you wish to use?[]" type="radio" value="Elavon"> Elavon
        </label>
        <label>
            <input name="What payment gateway do you wish to use?[]" type="radio" value="Eway"> Eway
        </label>
        <label>
            <input name="What payment gateway do you wish to use?[]" type="radio" value="Secureway"> Secureway
        </label>
    </p>

    <h4>Do you already have an account open with this processor?</h4>
    <p>
        <label class="grid_1">
            <input name="Do you already have an account open with this processor?[]" type="radio" value="yes"> yes
        </label>
        <label class="grid_1">
            <input name="Do you already have an account open with this processor?[]" type="radio" value="no"> no
        </label>
    </p>

    <span class="clearfix"></span>

    <h4>What are your credentials for transaction processing?</h4>
    <p class="grid_6">
        <label for="merchant_id" class="small">Merchant ID</label>
        <input id="merchant_id" name="Merchant ID" type="text">
    </p>
    <p class="grid_6">
        <label for="password_as_req" class="small">Password as req</label>
        <input id="password_as_req" name="Password as req" type="text">
    </p>

    <h4>Do you wish to offer product quotes?</h4>
    <em class="message gray small mb10px">Ideal to improve conversions for merchants with perceived complex or expensive products, ie,; when products usually require consulting with an agent or expert.</em>
    <div class="b-parent">
        <p class="clearfix">
            <label class="grid_1">
                <input name="Do you wish to offer product quotes?[]" type="radio" value="yes" data-check="yes"> yes
            </label>
            <label class="grid_1">
                <input name="Do you wish to offer product quotes?[]" type="radio" value="no"> no
            </label>
        </p>
        <p class="b-hidden b-yes">
            <label>Where would visitors request a quote?</label>
            <label class="grid_12">
                <input name="If yes, where would visitors request a quote?[]" type="radio" value="Directly on a given product landing page"> Directly on a given product landing page
            </label>
            <label class="grid_12">
                <input name="If yes, where would visitors request a quote?[]" type="radio" value="At the checkout stage"> At the checkout stage
            </label>
        </p>
    </div>
</fieldset>

<fieldset class="mt20px">
    <legend class="h2">Delivery options</legend>
    <div class="b-parent">
        <h4>Will you offer real-time shipping quotes to your clients? </h4>
        <em class="message gray small mb10px">Shipping carriers return real-time quotes based on zip code and mostly on cart’s weight.  This options requires that you populate all your product with weight information.</em>
        <label class="grid_1">
            <input name="Will you offer real-time shipping quotes to your clients?[]" type="radio" value="yes" data-check="yes"> yes
        </label>
        <label class="grid_1">
            <input name="Will you offer real-time shipping quotes to your clients?[]" type="radio" value="no" data-check="no"> no
        </label>

        <span class="clearfix"></span>

        <div class="b-hidden b-yes mt15px clearfix">
            <h4>Which real-time carrier quotes would you apply on your site?</h4>
            <em class="message gray small mb10px">Select 1 or more</em>
            <div class="column_6">
                <label>
                    <input name="Which real-time carrier quotes will you want to provide?[]" type="checkbox" value="UPS"> UPS
                </label>
                <label>
                    <input name="Which real-time carrier quotes will you want to provide?[]" type="checkbox" value="USPS"> USPS
                </label>
                <label>
                    <input name="Which real-time carrier quotes will you want to provide?[]" type="checkbox" value="Fedex"> Fedex
                </label>
                <label>
                    <input name="Which real-time carrier quotes will you want to provide?[]" type="checkbox" value="Coliposte"> Coliposte
                </label>
                <label>
                    <input name="Which real-time carrier quotes will you want to provide?[]" type="checkbox" value="Australia Post"> Australia Post
                </label>
                <label>
                    <input name="Which real-time carrier quotes will you want to provide?[]" type="checkbox" value="Fastway"> Fastway
                </label>
            </div>
            <div class="labeled grid_3 alpha small">
                <label class="grid_4 alpha omega"> Other:</label>
                <input id="real-time_carrier" class="grid_8 alpha omega" name="Which real-time carrier quotes will you want to provide?(other)" type="text">
            </div>
        </div>

        <div class="b-parent b-hidden b-no mt15px">
            <h4>Do you provide your own shipping quotes?</h4>
            <label class="grid_1">
                <input name="Do you provide your own shipping quotes?[]" type="radio" value="yes" data-check="yes"> yes
            </label>
            <label class="grid_1">
                <input name="Do you provide your own shipping quotes?[]" type="radio" value="no" data-check="no"> no
            </label>
            <span class="clearfix"></span>
            <div class="b-hidden b-yes clearfix">
                <div class="b-item">
                    <div class="inline-block mr10px">
                        <input name="shipping_cost[]" type="text" placeholder="shipping_cost"/>
                    </div>
                    for
                    <div class="inline-block ml10px">
                        <input name="purcashe_total[]" type="text" placeholder="purcashe_total"/>
                    </div>
                </div>
                <a href="#" class="btn small info grid_6 omega add-more">Add more</a>
            </div>
        </div>
    </div>

    <h4 for="what_amount">If yes, starting at what amount?</h4>
    <p class="clearfix">
        <input id="what_amount" class="grid_6 small mb10px" name="If yes, starting at what amount?" type="text">
        <span class="clearfix"></span>
        <label class="grid_3">
            <input name="If yes, starting at what amount?[]" type="radio" value="for national"> for national
        </label>
        <label class="grid_3">
            <input name="If yes, starting at what amount?[]" type="radio" value="international"> international
         </label>
        <label class="grid_3">
            <input name="If yes, starting at what amount?[]" type="radio" value="both"> both
        </label>
    </p>

    <h4 for="markup">Markup</h4>
    <p>
        <em class="message gray small mb10px">Markup is added automatically to the real-time shipping quotes provided to your customers during the checkout process.  What markup would you like to add to your shipping quotes? Leave the field empty if not applicable.</em>
        <input id="markup" class="mt10px" name="Markup" type="text">
    </p>

    <h4>Free pick up</h4>
    <p class="clearfix">
        <em class="message small gray mb10px">Do you consider a pickup as an available option for your customers?</em>
        <label class="grid_1">
            <input name="Free pick up[]" type="radio" value="yes"> yes
        </label>
        <label class="grid_1">
            <input name="Free pick up[]" type="radio" value="no"> no
        </label>
    </p>

    <h4>Do you provide free delivery?</h4>
    <div class="b-parent">
        <label class="grid_1">
            <input name="Do you provide free delivery?[]" type="radio" value="yes" data-check="yes"> yes
        </label>
        <label class="grid_1">
            <input name="Do you provide free delivery?[]" type="radio" value="no" data-check="no"> no
        </label>
        <span class="clearfix"></span>
        <div class="b-hidden b-yes mt15px">
            <h4>Min purchase total subject to free delivery</h4>
            <input name="Min purchase total subject to free delivery[]" type="text" placeholder="$" />
        </div>
    </div>
</fieldset>
<fieldset class="mt20px mb20px">
    <p class="h2">SSL certificate </p>
    <div class="b-parent">
        <h4> Do you have an SSL certificate deployed on your existing site? </h4>
        <label class="grid_1">
            <input name="Do you have an SSL certificate deployed on your existing site?[]" type="radio" value="yes" data-check="yes"> yes
        </label>
        <label class="grid_1">
            <input name="Do you have an SSL certificate deployed on your existing site?[]" type="radio" value="no" data-check="no"> no
        </label>
        <span class="clearfix"></span>
        <div class="b-hidden b-no mt15px">
            <h4>Would you like us to order SSL for you? The cost is $100 per year</h4>
            <label class="grid_1">
                <input name="Would you like us to order SSL for you? The cost is $100 per year[]" type="radio" value="yes"> yes
            </label>
            <label class="grid_1">
                <input name="Would you like us to order SSL for you? The cost is $100 per year[]" type="radio" value="no"> no
            </label>            
        </div>
    </div>
</fieldset>
<script>
    var init = {
        add_more: function(){
            var cloneIndex = 1;

            $(".add-more").on("click", function(){
                $(this).parent().parent().find(".b-item").first().clone(true)
                        .insertBefore($(this).parent())
                        .find("input").each(function(){
                            $(this).attr("name", $(this).attr("name") + cloneIndex).val("");
                        });
                cloneIndex++;

                return false;
            });
        },
        collapse: function(){
            $("form input[type='radio']").change(function(){
                $parent = $(this).closest('.b-parent');
                if($(this).attr('data-check') == 'yes'){
                    $parent.find(".b-hidden.b-yes").show();
                    $parent.find(".b-hidden.b-no").hide();
                }else{
                    $parent.find(".b-hidden.b-yes").hide();
                    $parent.find(".b-hidden.b-no").show();
                }
            });
        }
    }

    $(function() {
        init.add_more();
        init.collapse();
    });

</script>
<style>
    .b-hidden{
        display: none;
    }
    .b-item{
        margin: 10px 0;
    }
</style>