{ifpages}
    <label class="sub-menu-btn btn large icon icon-list2 fl-right bdrs0 d-hide t-hide"></label>
{/ifpages}

{adminonly}
    <span class="fl-left gl-change text-hide icon tooltip bottom" title="Click to edit icon" data-class="blue">
        {$header:menuIcon{$page:id}:static}
    </span>
{/adminonly}
<a href="{$page:url}" title="{$page:h1}" class="wrap"><i class="{$header:menuIcon{$page:id}:static:readonly} icon16 mr-grid"></i> {$page:navName}</a>

{submenu}
    <a class="page-title primary-light block" href="{$page:url}" title="{$page:h1}">{$page:navName}</a>
{/submenu}