<div class="news-item clearfix">
    {$news:actions}
    <a class="news-item-image text-center grid_5 alpha" href="{$news:url}">
        <img src="{$news:preview}" alt="{$news:title:inline}"/>
        <time class="news-item-date icon-calendar2 small block mb10px" datetime="{$news:date:Y-m-d}">{$news:date: M d Y}</time>
    </a>
    <a class="news-item-title large grid_7 omega" href="{$news:url}">{$news:title}</a>
    <p class="news-item-description grid_7 omega">{$news:teaser}</p>
    <!--<p class="news-item-tags small cl-both text-right">{$news:tags}</p>-->
</div>