<li class="news-list-item news-related">
    <a class="page-teaser-image small" href="{$news:url}">
        <img src="{$news:preview}" alt="{$news:title}" width="75"/>
    </a>
    <a class="page-title" href="{$news:url}">{$news:title}</a>
    <p class="news-item-date">{$news:date: M d, Y}</p>
</li>