<li class="news-list-item news-grid">
    <div class="page-teaser-image big print-visible">
        {adminonly}{$directupload:News-images:teaser{$news:id}:685::original:nolink:static}<!--{/adminonly}
        <a href="{$news:url}">
            {$directupload:News-images:teaser{$news:id}:685::large:nolink:static}
        </a>
        {adminonly}-->{/adminonly}
    </div>
    <div class="page-teaser-image small print-hide">
        <a href="{$news:url}">
            <img src="{$news:preview}" alt="{$news:title}" width="75"/>
        </a>
    </div>
    <div class="news-info">
        <a class="page-title" href="{$news:url}">{$news:title}</a>
        <p class="news-item-description">{$news:teaser}</p>
        <p class="news-item-date"><i class="icon-calendar icon16"></i> {$news:date: M d, Y}</p>
    </div>
    {$news:actions}
</li>