<li class="news-list-item news-grid">
    <p class="page-teaser-image big">
        <a href="{$news:url}">
            {$imageonly:teaserBig{$news:id}:940:static}
        </a>
    </p>
    <p class="page-teaser-image medium">
        <a href="{$news:url}">
            {$imageonly:teaserMedium{$news:id}:340:static}
        </a>
    </p>
    <p class="page-teaser-image small">
        <a href="{$news:url}">
            <img src="{$news:preview}" alt="{$news:title}" width="75"/>
        </a>
    </p>
    <div class="news-info">
        <a class="page-title" href="{$news:url}">{$news:title}</a>
        <p class="news-item-description">{$news:teaser}</p>
        <p class="news-item-date"><i class="icon-calendar icon16"></i> {$news:date: M d, Y}</p>
    </div>
    {$news:actions}
</li>