// List Pages & List Categories
//==================================================
.listpages, .listcategories{
<<<<<<< HEAD
    & when (@widget-LP-LC = true){
=======
    & when (@widget-LP-LC){
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30

        li{
            margin-bottom : 30px;
        }

        a{ }

        .page-teaser-image{
            float        : left;
            margin-right : 3%;
            width        : 150px;
            overflow     : hidden;

            img{ }
        }

        .page-title{ }

        span{ }

        // Hover
        li:hover{

            a{ }

            .page-teaser-image{
                img{ }
            }

            .page-title{ }

            span{ }
        }
    }
}

// List Pages
//==================================================
<<<<<<< HEAD
.listpages when (@widget-LP = true) and (@widget-LP-LC = true){
=======
.listpages when (@widget-LP) and (@widget-LP-LC){
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30

    li{ }

    a{ }

    .page-teaser-image{
        img{ }
    }

    .page-title{ }

    span{ }

    // Hover
    li:hover{

        a{ }

        .page-teaser-image{
            img{ }
        }

        .page-title{ }

        span{ }
    }
}

// List Categories
//==================================================
<<<<<<< HEAD
.listcategories when (@widget-LC = true) and (@widget-LP-LC = true){
=======
.listcategories when (@widget-LC) and (@widget-LP-LC){
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
    li{ }

    a{ }

    .page-teaser-image{
        img{ }
    }

    .page-title{ }

    span{ }

    // Hover
    li:hover{
        a{ }

        .page-teaser-image{
            img{ }
        }

        .page-title{ }

        span{ }
    }
}