// Featured Areas & Featured Pages & Related Pages
//==================================================
<<<<<<< HEAD
main{
    .featureapage, .featureditem li, .relatedpages li{
        .grid-elements(3, @grid-margin-width, true);
    }
}
.featureapage, .featureditem li, .relatedpages li{
    margin-bottom : 30px;

    a{ }

    .page-teaser-image{
        overflow      : hidden;
        margin-bottom : 0.8em;

        img{
            max-width : 150px;
        }
    }

    .page-title{ }

    span, p{ }

    &:hover{

        a{ }

        .page-teaser-image{
            img{ }
        }

        .page-title{ }

        span, p{ }
    }

    @media only print{
        &{
            margin     : 0 0 1em !important;
            width      : auto !important;
            text-align : left !important;

            a{ }

            .page-teaser-image{
                float : left !important;

                img{
                }
            }

            .page-title{ }

            span, p{ }
        }
    }
}
// Featured Areas
//==================================================
.featureditem when (@widget-FA = true) and (@widget-FA-FP-RP = true){

    li{ }

    a{ }

    .page-teaser-image{
        img{ }
    }

    .page-title{ }

    span{ }

    li:hover{

        a{ }

        .page-teaser-image{
            img{ }
        }

        .page-title{ }

        span{ }
    }

    .fa-column &{
        .inline-block-wrap();
        text-align : center;
        li{
            .grid-elements(3, 10, true, 2, 1);
        }

        // Andreicss
        a{
            font-size : 1.70em;
        }

        &#Products a{
            color : @brand-seosamba;
        }

        &#Services a{
            color : @brand-info;
        }

        &#Markets{
            // Andreicss
            li{
                .grid-elements(3, 10, true, 2, 1);
            }
            a{
                color : @brand-warning;
            }
        }
        &#Products{
            // Andreicss
            li{
                .grid-elements(4, 5, true, 2, 1);
            }
            a{
                color : @brand-warning;
            }
        }

        .page-teaser-image{
            img{
                width : auto;
            }
        }
    }

    #news-categories &{
        display : table;
        width   : 100%;

        li{
            display        : table-cell;
            text-align     : center;
            vertical-align : middle;

            & + li{
                border-left : 2px solid darken(@gray-light, 10%);
            }
        }
        @media only screen and (max-width : @responsive-size-mobile){

            display: block;
            li{
                display: block;
                margin-bottom: 0;
                & + li{
                    border-left : none;
                    border-top: 2px solid darken(@gray-light, 10%);
                }
            }
        }

        // Andreicss
        a{
            margin  : 0;
            //height      : @button-height-large;
            //line-height : @button-height-large;
            display : block;
            color   : #fff;
            padding : 10px;

            &:hover{
                background : lighten(@gray-light, 5%);
            }
        }

        [title="Marketing Strategies"]{
            font-size : 0;

            &:after{
                content   : 'Blog home';
                font-size : @font-size-base * unit(@font-size-large);
            }
        }

        .page-teaser-image{
            img{
                width : auto;
            }
        }
    }
    .icons-line.fixed &{
        margin-top : 15px;
        li{
            margin-bottom : 0;
        }
    }
    .icons-line &{
        margin : 40px 0 10px;

        li{
            min-height : 100px;
            text-align : center;
            .grid-elements(10, 0, true, 5, 2);

            span{
                color          : @link-color;
                font-size      : @font-size-small;
                font-weight    : bold;
                text-transform : uppercase;
                padding-bottom : @padding-base-vertical;
            }
            .page-title{
                font-size : 0;
                position  : absolute;
                top       : 0;
                bottom    : 0;
                left      : 0;
                right     : 0;
            }
            .page-teaser-image{
                margin  : 0;
                padding : @padding-base-vertical 0;

                img{
                    width      : auto;
                    max-width  : 49px;
                    max-height : 49px;
                }

                &.current{
                    &, & ~ span{
                        background : @gray-lighter;
                    }
                }
            }
            &:hover{
                .page-teaser-image{
                    &, & ~ span{
                        background : @gray-lighter;
                    }
                }
            }
        }
    }
    .icons-line.short &{
        .inline-block-wrap();
        li{
            .grid-elements(5, 0, true, 3, 2);
        }
    }
}
#news-categories{
    @media only print{
        &{
            display : none !important;
        }
    }
}
.footer-box{
    .featureditem{

        li{
            width  : 100%;
            margin : 0;
        }

        a{
            color     : @footer-color;
            font-size : @font-size-small;
            margin    : 0;

            &:hover{
                color : @brand-primary;
            }
        }

        .page-teaser-image{
            img{ }
        }

        .page-title{ }

        span{ }

        li:hover{

            a{ }

            .page-teaser-image{
                img{ }
            }

            .page-title{ }

            span{ }
        }
    }
}
// Featured Pages
//==================================================
.featureapage when (@widget-FP = true) and (@widget-FA-FP-RP = true){
    float : left;
    .grid-elements(3; @grid-margin-width);

    a{ }

    .page-teaser-image{
        img{ }
    }

    .page-title{ }

    p{ }

    &:hover{
        a{ }

        .page-teaser-image{
            img{ }
        }

        .page-title{ }

        p{ }
    }
}
// Related Pages
//==================================================
.relatedpages when (@widget-RP = true) and (@widget-FA-FP-RP = true){
    li{ }

    a{ }

    .page-teaser-image{
        img{ }
    }

    .page-title{ }

    span{ }

    li:hover{
        a{ }

        .page-teaser-image{
            img{ }
        }

        .page-title{ }

        span{ }
    }
=======
.featureapage, .featureditem li, .relatedpages li {
	& when (@widget-FA-FP-RP) {
		margin-bottom : 30px;
		.grid-elements(3; @grid-margin-width; true);

		a {
		}

		.page-teaser-image {
			overflow      : hidden;
			margin-bottom : 0.5em;

			img {
			}
		}

		.page-title {
		}

		span, p {
		}

		&:hover {

			a {
			}

			.page-teaser-image {
				img {
				}
			}

			.page-title {
			}

			span, p {
			}
		}
	}
}
// Featured Areas
//==================================================
.featureditem when (@widget-FA) and (@widget-FA-FP-RP){

	li {
	}

	a {
	}

	.page-teaser-image {
		img {
		}
	}

	.page-title {
	}

	span {
	}

	li:hover {

		a {
		}

		.page-teaser-image {
			img {
			}
		}

		.page-title {
		}

		span {
		}
	}

	.line-bottom-nav &.meet,
	.line-bottom-nav &.learn {
		li {
			display : block;
			margin  : 0 0 0.35em;
			.grid-elements(1; 0);
		}
		a {
			.line-footer-nav-links();
			text-transform : uppercase;
			margin         : 0;
			font-size      : 1.1em;
			letter-spacing : 0.035em;
		}
	}
}
// Featured Pages
//==================================================
.featureapage when (@widget-FP) and (@widget-FA-FP-RP){
	float : left;

	a {
	}

	.page-teaser-image {
		img {
		}
	}

	.page-title {
	}

	p {
	}

	&:hover {
		a {
		}

		.page-teaser-image {
			img {
			}
		}

		.page-title {
		}

		p {
		}
	}
}
// Related Pages
//==================================================
.relatedpages when (@widget-RP) and (@widget-FA-FP-RP){
	li {
	}

	a {
	}

	.page-teaser-image {
		img {
		}
	}

	.page-title {
	}

	span {
	}

	li:hover {
		a {
		}

		.page-teaser-image {
			img {
			}
		}

		.page-title {
		}

		span {
		}
	}
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
}