<<<<<<< HEAD
.static_menu when (@menu-static){
    overflow : hidden;

    li{
        float   : left;
        padding : 0 @padding-small-horizontal;

        & + li{
            border-left : 1px solid @gray;
        }

        a{
            color : inherit;

            &.current, &:hover{
                color: @link-color;
            }
            span{ }
        }
    }
}

.new-index-style .static_menu when (@menu-static) {
    overflow        : hidden;
    margin          : 0;
    padding         : 0;
    list-style-type : none;
    font-weight     : bold;
    //text-align      : center;
    margin-bottom   : 60px;

    li {
        display     : inline-block;
        padding     : 0 1.05em;
        margin      : 0;
        line-height : 1;

        &:first-child {
            padding-left : 0;
        }

        & + li {
            border-left : 1px solid @primary-color;
        }

        a {
            .link-color(@primary-color);
            text-decoration : none;
            display         : block;
            font-size       : 1.2em;

            &.current {
            }
            span {
            }
        }
    }
=======
.static_menu when (@menu-static) {
	overflow        : hidden;
	margin          : 0;
	padding         : 0;
	list-style-type : none;
	font-weight     : bold;
	//text-align      : center;
	margin-bottom   : 60px;

	li {
		display     : inline-block;
		padding     : 0 1.05em;
		margin      : 0;
		line-height : 1;

		&:first-child {
			padding-left : 0;
		}

		& + li {
			border-left : 1px solid @primary-color;
		}

		a {
			.link-color(@primary-color);
			text-decoration : none;
			display         : block;

			&.current {
			}
			span {
			}
		}
	}
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
}