<<<<<<< HEAD
#main-menu when (@menu-main) {
	background : @nav-bg;
	position   : static;

	@media only screen and (max-width : @responsive-size-tablet) {
		background : @brand-primary;
	}
}
.main_menu {
	.inline-block-wrap(top; @font-size : 14px;);
}
header when (@menu-main) {
	line-height : @nav-height;

	.main_menu {
		z-index    : 110;
		background : @nav-bg;
		color      : @nav-color;

		li {
			&:hover, &.current {
				ul {
					display : block;
					z-index : 10;
				}
			}
			&:hover{
				ul {
					z-index : 11;
				}
			}
		}

		a {
			color          : inherit;
			display        : block;
			padding        : 0 @padding-larger-horizontal;
			font-size      : @font-size-large;
			text-transform : lowercase;
			white-space    : nowrap;

			&:hover {
				background : @nav-bg-li-hover;
				color      : @nav-color-li-hover;
			}

			&.current {
				background : @nav-bg-li-current;
				color      : @nav-color-li-current;

				& + ul {
					display : block;
=======
@media only screen and (min-width : @responsive-size-tablet) {
	.main_menu when (@menu-main) {
		position : relative;
		z-index  : 11;
		& when not(@nav-bg = transparent) {
			background : @nav-bg;
		}
		& when not(@nav-color = @link-color) {
			color : @nav-color;
		}

		& > li {
			float    : left;
			position : relative;

			&:hover {
				& when not(@nav-bg = @nav-bg-li-hover) {
					background : @nav-bg-li-hover;
				}
				& when not(@nav-color = @nav-color-li-hover) {
					color : @nav-color-li-hover;
				}

				ul {
					display : block;
				}
			}
			// TODO Why we had this property for the tag 'a'?
			//& > a when (@responsive), (@adaptive){
			//    float : left;
			//}
		}

		a {
			display         : block;
			padding         : @padding-base-vertical @padding-base-horizontal;
			text-decoration : none;
			& when not(@nav-color = @link-color) {
				color : inherit;
			}

			&.current {
				& when (@nav-bg-li-hover = @nav-bg-li-current) {
					&:extend(.main_menu > li:hover);
				}

				& when not(@nav-bg-li-hover = @nav-bg-li-current) {
					background : @nav-bg-li-current;
				}
				& when not(@nav-color-li-hover = @nav-color-li-current) {
					color : @nav-color-li-current;
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
				}
			}
		}

		ul {
<<<<<<< HEAD
			margin-left : calc(96px + 40px);
			position    : absolute;
			top         : @nav-height;
			left        : 0;
			right       : 0;
			z-index     : 0;
			display     : none;
			background  : @nav-drop-down-list-bg;
			color       : @nav-drop-down-list-color;
			//text-align  : left;

			.main & {
				display : none !important;
			}

			@media only screen and (max-width : @responsive-size-tablet) {
				text-align : left;
			}

			li {
				//                float : left;
				.inline-block(top);
			}

			a {
				font-size      : 1.15em;
				padding        : 0 10px;
				// fix icon in nav .page
				&[class*="icon-"]:before {
					line-height : 1em;
				}
				text-transform : inherit;
				&:hover, &.active-prev {
					background : @nav-drop-down-list-bg-hover;
					color      : @nav-drop-down-list-color-hover;
				}

				&.current {
					background : @nav-drop-down-list-bg-current;
					color      : @nav-drop-down-list-color-current;
				}
			}
		}
	}
}
footer when (@menu-main) {

	.main_menu {
		overflow   : hidden;
		margin-top : 30px;

		@media only screen and (max-width : @responsive-size-mobile) {
			clear         : both;
			margin-bottom : 20px;
			text-align    : center;
		}

		li.category {
			.grid-elements(3, @grid-margin-width, true, 0, 0);

			&:hover {
				ul {
				}
			}
		}

		a {
			text-transform : lowercase;
			color          : #000000;

			&:hover {
				color : @brand-primary;
			}

			&.current {
				color : @brand-primary;
			}
		}

		ul {

			li {
				display : block;

				a {
					text-transform : none;
					color          : @footer-color;

					&:hover {
					}

					&.current {
					}
=======
			position   : absolute;
			left       : 0;
			top        : 100%;
			z-index    : 0;
			display    : none;
			width      : 300px;
			background : @nav-drop-down-list-bg;
			& when not(@nav-drop-down-list-color = @nav-color) {
				color : @nav-drop-down-list-color;
			}
			.box-shadow(0 3px 5px @gray-dark);

			& when (@mobile-menu) {
				&.open:extend(.mobile-menu ul.open) {
				}
			}

			li {
				float : none;

				&:hover {
					& when not(@nav-drop-down-list-bg-hover = @nav-bg-li-hover)
                   and not(@nav-drop-down-list-bg-hover = @nav-drop-down-list-bg) {
						background : @nav-drop-down-list-bg-hover;
					}
					& when not(@nav-drop-down-list-color-hover = @nav-drop-down-list-color)
                   and not(@nav-drop-down-list-color-hover = @nav-color-li-hover) {
						color : @nav-drop-down-list-color-hover;
					}
				}

				a {
					&.current {
						& when (@nav-drop-down-list-color-hover = @nav-drop-down-list-color-current) {
							&:extend(.main_menu ul li:hover);
						}

						& when not(@nav-drop-down-list-bg-current = @nav-drop-down-list-bg)
                       and not(@nav-drop-down-list-bg-current = @nav-drop-down-list-bg-hover) {
							background : @nav-drop-down-list-bg-current;
						}
						& when not(@nav-drop-down-list-color-current = @nav-drop-down-list-color)
                       and not(@nav-drop-down-list-color-current = @nav-drop-down-list-color-hover) {
							color : @nav-drop-down-list-color-current;
						}
					}
				}
			}
		}

		.line-bottom-nav & {
			background  : transparent;
			font-weight : 500;
			& > li, & > li:hover {
				background : transparent;
			}
			a {
				.line-footer-nav-links();
				line-height : 2em;
				padding     : 0;
			}
			ul {
				display    : block;
				position   : relative;
				width      : auto;
				background : transparent;
				color      : @primary-color;
				.box-shadow(none);

				li, li:hover {
					background : transparent;
				}
			}

			.category {

				//.grid-elements(3; 0; false; 3; 1);
				max-width : 150px;

				& + .category {
					margin-left : 7em;
				}

				& > a {
					text-transform : uppercase;
					font-size      : 1.15em;
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
				}
			}
		}
	}
<<<<<<< HEAD
}
=======
}
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
