<<<<<<< HEAD
.news-list when (@widget-news-list = true) {
	.news-list-item {
		margin-bottom : 2.5em;
	}

	.page-teaser-image {

		img {
		}
	}

	.page-title {
		display       : block;
		margin-bottom : 0.5em;
	}

	.newslog-admin-actions {
		text-align : right;
		a {
		}
	}

	.news-item-date {
		color : lighten(@text-color, 15%);

		&:before {
			top       : 2px;
			font-size : 16px;
			color     : @primary-bg;
		}
	}

	.news-item-description {
	}

	.news-item-tags {

		a {
			.link-color(@gray);

			& + a {
				margin-left : 0.5em;
			}

			&:before {
				color        : @gray;
				margin-right : 0.5em;
			}
		}
	}
}
.user-photo {
	img {
		max-width : 120px;
	}
}
.news-grid {
	position : relative;
	width    : 50% - @grid-margin-width;
	margin   : 0 (@grid-margin-width / 2) 20px !important;
	border   : 1px solid @gray-lighter;
	.inline-block(top);

	@media only screen and (max-width : @responsive-size-mobile) {

		width : 100% - @grid-margin-width;
	}

	@media only print {
		& {
			width : 100% - @grid-margin-width;
		}
	}

	.page-teaser-image {
		margin : 0;
		float  : left;

		&.small {
			margin : 6% 5px;
		}

		&.big, &.medium {
			display : none;
		}
	}

	.news-info {
		padding : 6% 5% 4%;
	}

	.page-title {
		color       : @heading-color;
		font-weight : 700;
		line-height : 1.2;
		margin      : 0;
	}

	.news-item-description {
		display : none;
		color   : @gray;
	}

	.news-item-date {
		color      : @gray;
		position   : absolute;
		left       : 0;
		top        : 0;
		margin     : 0;
		font-size  : 11px;
		background : @gray-lighter;
		padding    : 1px 5px;

		i {
			display : none;
		}
	}

	&:first-child, &:nth-child(2), &:nth-child(3) {

		.page-teaser-image {
			float : none;

			&.small {
				display : none;
			}
		}

		.page-title {
			font-size     : @font-size-larger;
			margin-bottom : 15px;
		}

		.news-item-description {
			display : block;
		}

		.news-item-date {
			font-size  : @font-size-small;
			margin-top : 1.5em;
			padding    : 0;
			background : none;
			position   : static;

			i {
				.inline-block();
			}
		}

	}

	&:first-child {
		width : 100% - @grid-margin-width;

		.page-teaser-image {

			&.big {
				display : block;
			}
		}
	}

	&:nth-child(2), &:nth-child(3) {

		.page-teaser-image {
			//&.medium{
			&.big {
				display : block;
			}
		}
	}
}

.bottom-news{
	list-style-type : none;
	padding-left: 0;
	margin-left: -(@grid-margin-width / 2);
	margin-right: -(@grid-margin-width / 2);
	.news-list-pagination{
		padding-left: @grid-margin-width / 2;
		padding-right: @grid-margin-width / 2;
	}
}

.news-related {
	position : relative;
	width    : 50% - @grid-margin-width;
	margin   : 0 (@grid-margin-width / 2) 20px !important;
	border   : 1px solid @gray-lighter;
	padding  : 2% 1%;
	.inline-block(top);

	.page-teaser-image {
		float        : left;
		margin-top   : 15px;
		margin-right : 5px;
	}

	.page-title {
		color       : @heading-color;
		font-weight : 700;
		line-height : 1.2;
		margin      : 0;
		overflow    : hidden;
	}

	.news-item-date {
		color      : @gray;
		position   : absolute;
		left       : 0;
		top        : 0;
		margin     : 0;
		font-size  : 11px;
		background : @gray-lighter;
		padding    : 1px 5px;
	}
}
// New tags clouds
//==================================================
.tagsClouds {
	//.clearfix();

	.generator-links {
		float       : left;
		margin      : 2px;
		margin-left : -21px;
		.icon-size(9px) !important;
	}

	.newslog-tag-filter {
		line-height : 1;
		font-size   : unit(@font-size-base * @font-size-small, px);
		margin      : 2px;
		padding     : @padding-small-vertical @padding-mini-horizontal;
		background  : @gray-light;
		color       : @gray;
		float       : left;

		&:before {
			content : none;
		}

		&:hover {
			background : @primary-bg;
			color      : @primary-color;
		}

		&[title=""] {
			display : none;

			& + .generator-links {
				margin-left : 0;
			}
		}
	}
}
.news-list-pagination {
	span, a {
		.button();
	}
	span {
		&.disabled, &.current {
			background     : @gray-lighter;
			color          : @gray-darker;
			pointer-events : none;
		}
	}
	a {

	}
}

=======
.news-item when (@widget-news-list) {

	.news-item-image {
		img {
		}
	}

	.news-item-title {
	}

	.newslog-admin-actions {
		text-align : right;
		a {
		}
	}

	.news-item-date {
		color : lighten(@text-color, 15%);

		&::before {
			top       : 2px;
			font-size : 16px;
			color     : @primary-bg;
		}
	}

	.news-item-description {
	}

	.news-item-tags {

		a {
			.link-color(@gray);

			& + a {
				margin-left : 0.5em;
			}

			&::before {
				color        : @gray;
				margin-right : 0.5em;
			}
		}
	}

	.newslog-tag-filter {
		&::before {
			font-family : @font-family-icons;
			content     : "\e023";
		}
	}

	.line-under-slider & {

		& + .news-item {
			margin-top : 1em;
		}

		.news-item-title {
			.link-color(@brand-primary1);
			text-decoration : none;
			font-size       : 1.45em;
			font-weight     : bold;
			line-height     : 1.45em;
		}
		.news-item-description {
			margin-top  : 0.5em;
			color       : @gray;
			line-height : 1.65em;
		}
		.news-item-image {
			position : relative;

			&::before {
				content  : "";
				width    : 35%;
				.rgba(@brand-primary1; 75);
				position : absolute;
				right    : 0;
				top      : 0;
				bottom   : 0;
			}

		}
		.news-item-date {

			color     : @primary-color;
			font-size : 1.35em;
			position  : absolute;
			right     : 0;
			top       : 50%;
			width     : 35%;
			padding   : 0 1em;
			.translate(0; -50%);
		}
	}
}
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
