<<<<<<< HEAD
.rotator when (@widget-rotator = true){
    position   : relative;
    overflow   : hidden;
    background : #fff;
    max-width  : none !important;

    // -- Description
    .slide-description{
        padding : @padding-large-vertical @padding-large-horizontal;
        color   : #FFF;
        .rgba(#000; 0.5);
    }

    img{
        width : 100%;

        & ~ .slide-description{
            position : absolute;
            right    : 0;
            bottom   : 0;
            left     : 0;
        }
    }
}
.cycle-slideshow when (@widget-rotator = true){

    #teaser-block &{
        .slide{
            .opacity(0);
        }

    }

    .slide{
        position   : absolute;
        top        : 0;
        left       : 0;
        width      : 100%;
        height     : 100%;
        list-style : none;

        &.container{
            width     : 960px;
            max-width : 95%;
        }

        & > a.generator-links:not(:first-child), & > a.tpopup:not(:first-child){
            position : absolute;
            top      : 10px;
            left     : 10px;
        }
    }
    &.with-video{
        .slide{
            right : 0;
        }
        .action-button{
            border : 1px solid #fff;
            bottom : -18px;
            top    : auto;

            &.cycle-prev{
                left : -12%;
            }

            &.cycle-next{
                right : -12%;
            }
        }

        &:hover .action-button{
            &.cycle-prev{
                left : -12%;
            }

            &.cycle-next{
                right : -12%;
            }

        }
        @media only screen and (max-width : @responsive-size-tablet){

            .action-button{
                &.cycle-prev{
                    left : -2%;
                }

                &.cycle-next{
                    right : -2%;
                }
            }
            &:hover .action-button{
                &.cycle-prev{
                    left : -2%;
                }

                &.cycle-next{
                    right : -2%;
                }

            }
        }
    }

    // -- Pager
    .cycle-pager{
        position    : absolute;
        top         : 5px;
        right       : 0;
        z-index     : 20;
        text-align  : center;
        font-size   : 0;
        line-height : 0;

        > *{
            .inline-block;
            cursor     : pointer;
            margin     : 0 3px;
            color      : @primary-color;
            background : #FFF;
            .border-radius(14px);
            .icon-size(10px; true);

            &:hover{
                background : darken(@primary-bg, 10%);
            }

            &.cycle-pager-active{
                cursor     : default;
                color      : @primary-color;
                background : @primary-bg;
            }
        }
    }

    .action-button{
        background : @primary-bg;
        color      : @primary-color;
        position   : absolute;
        top        : 50%;
        z-index    : 20;
        cursor     : pointer;
        margin-top : -@slider-button-size / 2 - @padding-large-vertical;
        padding    : @padding-large-vertical;
        .box-sizing(content-box);
        .icon-size(@slider-button-size; true);
        .transition();

        &:hover{
            background : darken(@primary-bg, 10%);
            color      : @primary-color;
        }

        &:before{
            font-family : @font-family-icons;
        }

        &.cycle-prev{
            left : -@slider-button-size * 3;

            &:before{
                content : "\e0c5";
            }
        }

        &.cycle-next{
            right : -@slider-button-size * 3;

            &:before{
                content : "\e0c6";
            }
        }
    }

    &:hover .action-button{
        &.cycle-prev{
            left : 10px;
        }

        &.cycle-next{
            right : 10px;
        }

    }
=======
.rotator when (@widget-rotator) {
	position   : relative;
	overflow   : hidden;
	background : #ffffff;

	// -- Description
	.slide-description {
		padding : @padding-large-vertical @padding-large-horizontal;
		color   : #ffffff;
		.rgba(#000000; 0.5);
	}

	img {
		width : 100%;

		& ~ .slide-description {
			position : absolute;
			right    : 0;
			bottom   : 0;
			left     : 0;
		}
	}
}
.line-slider {
	position : relative;
	// -- Pager
	.cycle-pager {
		position    : absolute;
		bottom      : 15%;
		right       : 25%;
		z-index     : 20;
		text-align  : center;
		font-size   : 0;
		line-height : 0;

		> * {
			.inline-block;
			cursor     : pointer;
			margin     : 0 6px;
			color      : @primary-color;
			background : @primary-color;
			.border-radius(14px);
			.icon-size(10px; true);
			opacity    : 0.5;

			&:hover {
				//background : @primary-color;
				opacity : 1;
			}

			&.cycle-pager-active {
				cursor     : default;
				color      : @primary-color;
				background : @primary-color;
				opacity    : 1;
				.icon-size(15px; true);
			}
		}
	}
}
.cycle-slideshow when (@widget-rotator) {

	.line-slider & {
		position : absolute;
		left     : 5%;
		right    : 5%;
		top      : 50%;
		.translate(0; -50%);

		.btn {
			.button-color(@primary-color; @button-warning-bg; @button-warning-bg);
			font-size      : 1.5em;
			margin-top     : 2.5em;
			text-transform : uppercase;
		}
	}

	.slide {
		position   : absolute;
		top        : 0;
		left       : 0;
		width      : 100%;
		height     : 100%;
		list-style : none;

		& > a.generator-links:not(:first-child), & > a.tpopup:not(:first-child) {
			position : absolute;
			top      : 10px;
			left     : 10px;
		}
	}

	[class*="cycle-"].action-button {
		background : @primary-bg;
		color      : @primary-color;
		position   : absolute;
		top        : 50%;
		z-index    : 20;
		cursor     : pointer;
		margin-top : -@slider-button-size / 2 - @padding-large-vertical;
		padding    : @padding-large-vertical;
		.box-sizing(content-box);
		.icon-size(@slider-button-size; true);
		.transition();

		&:hover {
			background : darken(@primary-bg, 10%);
			color      : @primary-color;
		}

		&::before {
			font-family : @font-family-icons;
		}

		&.cycle-prev {
			left : -@slider-button-size * 3;

			&::before {
				content : "\e0a9";
			}
		}

		&.cycle-next {
			right : -@slider-button-size * 3;

			&::before {
				content : "\e0a7";
			}
		}
	}

	.testimonials-slider & {
		[class*="cycle-"].action-button {
			background : transparent;
			color      : @primary-color;
			top        : 22%;
			&.cycle-prev {
				left : 15%;
			}

			&.cycle-next {
				right : 15%;
			}
		}
	}
	.logo-slider-circle & {
		[class*="cycle-"].action-button {
			background : transparent;
			color      : @gray-lighter;
			top        : 0;
			&.cycle-prev {
				left : 35%;
			}

			&.cycle-next {
				right : 35%;
			}
		}
	}

	&:hover .action-button {
		&.cycle-prev {
			left : 10px;
		}

		&.cycle-next {
			right : 10px;
		}

	}
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
}