<<<<<<< HEAD
.sitemap when (@widget-sitemap){
    li{
        a{
            &.current{ }
        }
    }

    ul{
        li{
            a{
                &.current{ }
            }
        }
    }
=======
.sitemap when (@widget-sitemap){
    li{
        a{
            &.current{ }
        }
    }

    ul{
        li{
            a{
                &.current{ }
            }
        }
    }
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
}