<<<<<<< HEAD
.input-label when (@form-input-label) {
    position : relative;

    label {
        color       : @input-color-placeholder;
        position    : absolute;
        top         : 0;
        left        : .5em;
        z-index     : 1;
        line-height : unit(@button-line-height * 2, em);
        .transition(all .2s);
    }

    input {
        border-width : 0 0 1px;
        .box-shadow(none) !important;

        &:focus, &:valid {

            & + label {
                color       : @brand-primary;
                top         : -.9em;
                font-size   : @font-size-small;
                line-height : 1em;
            }
        }

        &.success when (@form-color-success) and (@form-colors) {
            &:focus, &:valid {
                & + label {
                    color : @brand-success;
                }
            }
        }
        &.warning when (@form-color-warning) and (@form-colors) {
            &:focus, &:valid {
                & + label {
                    color : @brand-warning;
                }
            }
        }
        &.error when (@form-color-error) and (@form-colors) {
            &:focus, &:valid {
                & + label {
                    color : @brand-error;
                }
            }
        }
        &.info when (@form-color-info) and (@form-colors) {
            &:focus, &:valid {
                & + label {
                    color : @brand-info;
                }
            }
        }
    }
=======
.input-label when (@form-input-label) {
    position : relative;

    label {
        color       : @input-color-placeholder;
        position    : absolute;
        top         : 0;
        left        : .5em;
        z-index     : 1;
        line-height : unit(@button-line-height * 2, em);
        .transition(all .2s);
    }

    input {
        border-width : 0 0 1px;
        .box-shadow(none) !important;

        &:focus, &:valid {

            & + label {
                color       : @brand-primary;
                top         : -.9em;
                font-size   : @font-size-small;
                line-height : 1em;
            }
        }

        &.success when (@form-color-success) and (@form-colors) {
            &:focus, &:valid {
                & + label {
                    color : @brand-success;
                }
            }
        }
        &.warning when (@form-color-warning) and (@form-colors) {
            &:focus, &:valid {
                & + label {
                    color : @brand-warning;
                }
            }
        }
        &.error when (@form-color-error) and (@form-colors) {
            &:focus, &:valid {
                & + label {
                    color : @brand-error;
                }
            }
        }
        &.info when (@form-color-info) and (@form-colors) {
            &:focus, &:valid {
                & + label {
                    color : @brand-info;
                }
            }
        }
    }
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
}