<<<<<<< HEAD
// Basic Styles
//==================================================
@import "../_work_space/basic";

// Form Styles
//==================================================
@import "../components/form";

// Gallery Styles
//==================================================
@import "../widgets/gallery";

// Image Rotator
//==================================================
@import "../widgets/rotator";

// Directupload
//==================================================
@import "../widgets/directupload";

//Style for responsive
//==================================================
& when (@responsive), (@adaptive) {
    @import "../mediaqueries/responsive";
}

//Style for responsive
//==================================================
& when (@print) {
    @media only print {
        @import "../mediaqueries/print";
    }
=======
// Basic Styles
//==================================================
@import "../_work_space/basic";

// Form Styles
//==================================================
@import "../components/form";

// Gallery Styles
//==================================================
@import "../widgets/gallery";

// Image Rotator
//==================================================
@import "../widgets/rotator";

// Directupload
//==================================================
@import "../widgets/directupload";

//Style for responsive
//==================================================
& when (@responsive), (@adaptive) {
    @import "../mediaqueries/responsive";
}

//Style for responsive
//==================================================
& when (@print) {
    @media only print {
        @import "../mediaqueries/print";
    }
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
}