<<<<<<< HEAD
.menu-fullwidth when (@widget-menu-main-fullWidth = true){
    .main_menu{
        display : table;
        width   : 100%;

        &>li{
            display        : table-cell;
            text-align     : center;
            vertical-align : middle;

            &>a{
                display        : table-cell;
                vertical-align : middle;
                width          : 1000px;
                height         : @nav-height * 2;
            }
        }

        ul{
            li{
                text-align : left;

                a{ }
            }
        }

        &:after{
            display : none;
        }
    }
=======
.menu-fullwidth when (@widget-menu-main-fullWidth) {
    .main_menu {
        display : table;
        width   : 100%;

        & > li {
            display        : table-cell;
            text-align     : center;
            vertical-align : middle;

            & > a {
                display        : table-cell;
                vertical-align : middle;
                width          : 1000px;
            }
        }

        ul {
            li {
                text-align : left;

                a {
                }
            }
        }

        &::after {
            display : none;
        }
    }
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
}