<<<<<<< HEAD
.time-line when (@news-list-timeLine) {
    .news-list-item {
        background-color : @gray-lighter;
        padding          : @padding-base-horizontal;
        position         : relative;
        margin-bottom    : @grid-margin-width;
        list-style       : none;

        &::before {
            content          : '';
            display          : block;
            position         : absolute;
            visibility       : visible;
            background-color : @gray-lighter;
            top              : 0;
            border           : 5px solid @gray-light;
            padding          : 7px;
            .border-radius(5em);
        }

        &:first-child {
            background-color : darken(@gray-lighter, 10%);
        }
    }

    .page-teaser-image {
        img {
        }
    }

    .page-title {
    }

    .newslog-admin-actions {
        a {
        }
    }

    .news-item-date {
        width      : @padding-large-horizontal * 4;
        text-align : center;
        position   : absolute;
        top        : 0;
    }

    .news-item-description {
    }

    .news-item-tags {

        a {
            .link-color(@gray);

            & + a {
                margin-left : 0.5em;
            }

            &::before{
                color        : @gray;
                margin-right : 0.5em;
            }
        }
    }

    /*-----------------Left---------------------*/
    &.leftward {
        border-left  : 5px solid lighten(@brand-primary, 40%);
        padding-left : @padding-large-vertical * 2;
        margin-left  : @padding-larger-horizontal * 4;

        .news-list-item {
            .arrow-border(left; @gray-lighter; 7px; top; 5px);

            &::before{
                left : -35px;
            }

            &:first-child {
                .arrow-border(left; darken(@gray-lighter, 10%); 7px; top; 5px);
            }
        }

        .news-item-date {
            left : -((@padding-larger-horizontal * 4 + @padding-large-vertical * 2) + 5);
        }
    }

    /*-----------------Right---------------------*/
    &.rightward {
        border-right  : 5px solid lighten(@brand-primary, 40%);
        padding-right : @padding-large-vertical * 2;
        margin-right  : @padding-larger-horizontal * 4;
        padding-left  : 0;

        .news-list-item {
            .arrow-border(right; @gray-lighter; 7px; top; 5px);

            &::before{
                right : -35px;
            }

            &:first-child {
                .arrow-border(right; darken(@gray-lighter, 10%); 7px; top; 5px);
            }
        }

        .news-item-date {
            right : -((@padding-larger-horizontal * 4 + @padding-large-vertical * 2) + 5);
        }
    }

    /*-----------------Center---------------------*/
    &.central {
        padding-left  : 0;
        padding-right : 0;
        font-size     : 0;

        &::before{
            content    : '';
            position   : absolute;
            width      : 5px;
            height     : 100%;
            left       : 49.5%;
            top        : 0;
            background : lighten(@brand-primary, 40%);
        }

        .news-list-item {
            .inline-block(top);
            font-size    : @font-size-base;
            width        : 50% - @grid-margin-width * 2;
            margin-right : @grid-margin-width * 2;
            .arrow-border(right; @gray-lighter; 7px; top; 5px);

            &::before{
                right : -11.75%;
            }

            &:first-child {
                .arrow-border(right; darken(@gray-lighter, 10%); 7px; top; 5px);
            }

            &:nth-child(even) {
                margin-top   : 60px;
                margin-right : 0;
                margin-left  : @grid-margin-width * 2;
                .arrow-border(left; @gray-lighter; 7px; top; 5px);

                &::before{
                    left  : -12.75%;
                    right : auto;
                }

            }
        }
        .news-item-date {
            color      : @primary-color;
            width      : auto;
            position   : relative;
            text-align : left;
        }
    }
=======
.time-line when (@news-list-timeLine) {
    .news-list-item {
        background-color : @gray-lighter;
        padding          : @padding-base-horizontal;
        position         : relative;
        margin-bottom    : @grid-margin-width;
        list-style       : none;

        &::before {
            content          : '';
            display          : block;
            position         : absolute;
            visibility       : visible;
            background-color : @gray-lighter;
            top              : 0;
            border           : 5px solid @gray-light;
            padding          : 7px;
            .border-radius(5em);
        }

        &:first-child {
            background-color : darken(@gray-lighter, 10%);
        }
    }

    .page-teaser-image {
        img {
        }
    }

    .page-title {
    }

    .newslog-admin-actions {
        a {
        }
    }

    .news-item-date {
        width      : @padding-large-horizontal * 4;
        text-align : center;
        position   : absolute;
        top        : 0;
    }

    .news-item-description {
    }

    .news-item-tags {

        a {
            .link-color(@gray);

            & + a {
                margin-left : 0.5em;
            }

            &::before{
                color        : @gray;
                margin-right : 0.5em;
            }
        }
    }

    /*-----------------Left---------------------*/
    &.leftward {
        border-left  : 5px solid lighten(@brand-primary, 40%);
        padding-left : @padding-large-vertical * 2;
        margin-left  : @padding-larger-horizontal * 4;

        .news-list-item {
            .arrow-border(left; @gray-lighter; 7px; top; 5px);

            &::before{
                left : -35px;
            }

            &:first-child {
                .arrow-border(left; darken(@gray-lighter, 10%); 7px; top; 5px);
            }
        }

        .news-item-date {
            left : -((@padding-larger-horizontal * 4 + @padding-large-vertical * 2) + 5);
        }
    }

    /*-----------------Right---------------------*/
    &.rightward {
        border-right  : 5px solid lighten(@brand-primary, 40%);
        padding-right : @padding-large-vertical * 2;
        margin-right  : @padding-larger-horizontal * 4;
        padding-left  : 0;

        .news-list-item {
            .arrow-border(right; @gray-lighter; 7px; top; 5px);

            &::before{
                right : -35px;
            }

            &:first-child {
                .arrow-border(right; darken(@gray-lighter, 10%); 7px; top; 5px);
            }
        }

        .news-item-date {
            right : -((@padding-larger-horizontal * 4 + @padding-large-vertical * 2) + 5);
        }
    }

    /*-----------------Center---------------------*/
    &.central {
        padding-left  : 0;
        padding-right : 0;
        font-size     : 0;

        &::before{
            content    : '';
            position   : absolute;
            width      : 5px;
            height     : 100%;
            left       : 49.5%;
            top        : 0;
            background : lighten(@brand-primary, 40%);
        }

        .news-list-item {
            .inline-block(top);
            font-size    : @font-size-base;
            width        : 50% - @grid-margin-width * 2;
            margin-right : @grid-margin-width * 2;
            .arrow-border(right; @gray-lighter; 7px; top; 5px);

            &::before{
                right : -11.75%;
            }

            &:first-child {
                .arrow-border(right; darken(@gray-lighter, 10%); 7px; top; 5px);
            }

            &:nth-child(even) {
                margin-top   : 60px;
                margin-right : 0;
                margin-left  : @grid-margin-width * 2;
                .arrow-border(left; @gray-lighter; 7px; top; 5px);

                &::before{
                    left  : -12.75%;
                    right : auto;
                }

            }
        }
        .news-item-date {
            color      : @primary-color;
            width      : auto;
            position   : relative;
            text-align : left;
        }
    }
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
}