<<<<<<< HEAD
// Table of Content
//==================================================
// Page Style
// Header Style
// Logo style
// Nav style
// Content Style
// SideBar Style
// Footer Style
//==================================================

//	PAGE Style
//==================================================
html {
}
body {
	background : @body-bg;
	color      : @text-color;
}
#container {

	&.main {

		h2 {
			font-size   : 2.5em;
			text-align  : center;
			font-weight : bold;
			margin-top  : 60px;

			@media only screen and (max-width : @responsive-size-tablet), print {
				& {
					font-size : 2em;
				}
			}

			@media only screen and (max-width : @responsive-size-mobile) {
				& {
					font-size : 1.5em;
				}
			}
		}
	}
}
//	HEADER Style
//==================================================
#header {
	position : relative;
	//border-bottom : @nav-height solid @nav-drop-down-list-bg;

	&.index {
		padding-bottom : 0;
	}

	&:extend(.print-hide);

	@media only screen and (max-width : @responsive-size-tablet) {
		& {
			padding-top: @nav-height;
			border-bottom : none;
			background: lighten(@brand-primary, 7%);
		}
	}

	& > div:first-child {
		position : relative;
		z-index  : 100;
	}
	.main & {
		border-bottom : none;
	}

	@media only screen and (min-width : @responsive-size-tablet) {
		padding-bottom : @nav-height;
		&::before {
			content          : "";
			display          : block;
			position         : absolute;
			top              : @nav-height;
			left             : 0;
			right            : 0;
			height           : @nav-height;
			background-color : @nav-drop-down-list-bg;
		}
	}
}
header {
	background : @header-bg;
	color      : @header-color;

	// -- NAV in HEADER Style
	nav {
	}
}
// -- LOGO Style
.logo {
	margin-top    : 0;
	margin-bottom : 0;

	@media only screen and (max-width : @responsive-size-tablet) {
		& {
			text-align : center;
			color      : @gray-light;
		}
	}

	a {

		@media only screen and (min-width : @responsive-size-tablet) {
			color         : @brand-seosamba;
			//font-style  : italic;
			//font-size   : 32px;
			//line-height : 1;
			display       : block;
			float         : left;
			//height  : 50px;
			margin-bottom : -@nav-height;
		}


		@media only screen and (max-width : @responsive-size-tablet) {
			& {
				line-height : inherit;
			}
		}
	}
	img {
		margin   : 0;
		position : relative;
		z-index  : 1;
		//vertical-align : inherit;
		.box-shadow(none);
	}
}
// -- NAV Style
nav {
}
//	CONTENT Style
//==================================================
#content {
	background : @content-bg;
	color      : @content-color;
}
article {
	section {
		//.clearfix();

		& + section {
			margin-top : 2.5em;
		}
	}
}
#teaser-block {
	line-height         : 250px;
	min-height          : 250px;
	background-image    : url('../images/header-bg-seosamba-rep.png');
	background-position : 0 0;
	background-repeat   : repeat-x;
	//    border-bottom : 10px solid @brand-seosamba;

	@media only screen and (max-width : @responsive-size-tablet), print {
		& {
			padding     : @padding-large-vertical 0;
			min-height  : 0;
			line-height : @line-height;
		}
	}

	& > * {
		.inline-block-wrap();
	}

	.page-teaser-image, .teaser-info {
		line-height : @line-height;
	}
	.page-teaser-image {
		max-width    : 20%;
		margin-right : 4%;

		@media only screen and (max-width : @responsive-size-tablet), print {
			& {
				display : none;
			}
		}

		& + .teaser-info {
			width    : 76%;
			overflow : hidden;

			@media only screen and (max-width : @responsive-size-tablet), print {
				& {
					width : auto;
				}
			}
		}

		.main & {
			position  : absolute;
			left      : 0%;
			top       : 6%;
			max-width : 50%;
			z-index   : 5;

			& + .teaser-info {
				margin-left : 34%;

				@media only screen and (max-width : @responsive-size-tablet), print {
					& {
						margin-left : 0;
					}
				}
			}
		}

		img {
			border-bottom-color : #ffffff;
		}
	}

	.teaser-info {
		font-size   : @font-size-base * 2;
		line-height : 1.15;
		width       : 100%;
		padding     : 0.5rem 0;

		@media only screen and (max-width : @responsive-size-tablet) {
			& {
				font-size : @font-size-base * 1.25;
			}
		}
		@media only screen and (max-width : @responsive-size-mobile) {
			line-height : 1.5;
			.list-cog {
				span {
					font-size : 20px !important;
				}
			}
		}
	}

	p:empty {
		margin : 0 !important;
	}

	.top-text2 {
		position    : absolute;
		top         : 100%;
		right       : 0;
		line-height : 1.8;
		margin      : 40px 50px 0 37%;
		font-size   : 28px !important;
		color       : #222222;
		@media only screen and (max-width : @responsive-size-tablet), print {
			& {
				margin-left  : 0;
				margin-right : 0;
			}
		}
	}
}
.top-text {
	line-height : 1.8;
	margin      : 40px 50px 0 37%;
	font-size   : 1.25em;

	@media only screen and (max-width : @responsive-size-tablet), print {
		& {
			margin-left  : 0;
			margin-right : 0;
		}
	}
}
.content-box {
	font-weight       : lighter;
	padding           : 2em 0;
	page-break-inside : avoid;
	//    font-size   : @font-size-large;
	//.clearfix;

	.content-preview {
		float        : left;
		margin-right : 4%;
		&:extend(.print-hide)
	;
	}

	.content-info {
		overflow : hidden;
	}

	.content-title {
		font-weight : 300;
		font-size   : 3.25em;
		line-height : 1;

		@media only screen and (max-width : @responsive-size-mobile) {
			& {
				font-size : 2.75em;
			}
		}
	}
	.content-subtitle {
		font-size     : 1.75em;
		font-weight   : lighter;
		line-height   : 1;
		margin-top    : 0;
		margin-bottom : 20px;
	}
	.content-description {
		font-size : @font-size-large;
		/* line-height : @line-height * .86;      */
	}
	.content-3block {
		font-size  : @font-size-base;
		text-align : left;

		& + .content-3block {
			margin-top : 0.5em;
		}

		i {
			color : #bbbbbb;
		}
	}

	.count {
		color        : darken(@gray-light, 5%);
		float        : left;
		font-size    : 4em;
		height       : 1em;
		line-height  : 1;
		margin-right : 0.35em;
		margin-top   : 5px;
		font-weight  : bold;
	}

	&.chessboard {
		font-size : @font-size-large;

		.content-title {
			font-weight : bold;
			font-size   : 2em;
		}

		.content-preview {
			width : 20%;
		}

		&:nth-child(even) {
			.content-preview {
				float        : right;
				margin-left  : 4%;
				margin-right : 0;
			}
		}
	}

	&.zebra:nth-child(odd) {
		background : @gray-lighter;
	}

	&.count-sign {
		counter-increment : list;

		.content-count {
			position    : absolute;
			right       : 0;
			top         : 0;
			bottom      : 0;
			font-size   : 8em;
			line-height : 1em;
			height      : 1em;
			width       : 1em;
			text-align  : center;
			font-family : arial;
			padding     : 0.25em;
			color       : #ffffff;
			background  : darken(@gray-lighter, 5%);
			margin      : auto;
			.border-radius(50em);
			.box-sizing(content-box);

			&:before {
				content : counter(list);
			}

			& + .content-info {
				margin-right : 13em;
			}

			@media only screen and (max-width : @responsive-size-tablet), print {
				position      : static;
				margin-bottom : 0.25em;

				& + .content-info {
					margin-right : 0;
				}
			}

			@media only screen and (max-width : @responsive-size-mobile) {
				& + .content-info {
				}
			}
		}
	}

	@media only screen and (max-width : @responsive-size-tablet), print {
		& {
			font-size : @font-size-base !important;
		}
	}

	@media only screen and (max-width : @responsive-size-mobile) {
		& {
			text-align : center;
		}
	}
}
#action-block {
	.action-btn {
		font-size   : 40px;
		padding     : 0 50px;
		line-height : @line-height;

		@media only screen and (max-width : @responsive-size-mobile) {
			& {
				font-size : 30px;
				padding   : 0 30px;
			}
		}

		&:empty {
			display : none;
		}
	}
}
// -- 404 Page Style
.page404 {
	padding : 1em 0 3em;
	color   : @gray-dark;

	.first {
		text-align   : center;
		font-size    : 17em;
		line-height  : 1;
		border-right : 1px solid @gray-light;
	}
}
//	SIDEBAR Style
//==================================================
aside {
	&:extend(.print-hide)
;
	.aside-box {
		& + .aside-box {
			margin-top : 5em;
		}
	}
}
#left {
	.aside-box {
	}
}
#right {
	.aside-box {
	}
}
#footer {
}
footer {
	padding     : @padding-larger-vertical * 2 0;
	background  : @footer-bg;
	color       : @footer-color;
	font-size   : @font-size-small;
	font-weight : 300;
	.box-shadow(0 3px 5px @gray-light inset);
	&:extend(.print-hide)
;

	p {
	}

	h3 {
		font-size   : @font-size-larger;
		font-weight : bold;
		font-style  : italic;
		color       : #cccccc;
		text-align  : center;
	}

	.address {
		overflow   : hidden;
		margin-top : 30px;
	}

	.icon-brace-up:before {
		font-size : 24px;
	}

	.icon-brace-left:before, .icon-brace-right:before {
		font-size : 170px;
	}

	.footer-box {

		@media only screen and (max-width : @responsive-size-mobile) {
			margin-bottom : 30px;

			h3 {
				float : none !important;
			}
			.main_menu, .address {
				margin : 0;
			}
		}
	}
}
//	Button to scroll top
//==================================================
#go-top {
	.button-color(#ffffff, fade(#000000, 50%), fade(#000000, 50%), @primary-color, @primary-bg, @primary-bg);
	&:extend(.print-hide)
;
}
//	Live Chat
//==================================================
#habla_window_div {
	.olrk-state-compressed & {
		margin : 0 !important;
	}

	#habla-callout-bubble-anchor {
		//        display : block !important;
	}

	.olark-callout-bubble-close-button {
		display : none;
	}

	#olark-callout-bubble, #olark-callout-bubble-offline {
		left                : 0 !important;
		height              : 154px !important;
		width               : 100% !important;
		background-position : 0 0 !important;
		//        visibility          : visible !important;
		position            : absolute;

		&:after {
			width       : 0;
			color       : darken(@brand-seosamba, 7%);
			position    : absolute;
			bottom      : 10px;
			left        : 120px;
			font-size   : 2em;
			font-weight : 600;
		}

		&:hover:after {
			content : "Arrrggh!";
		}
	}

	#habla_offline_submit_input {
		.box-sizing() !important;
	}
}
.settings-btn {
	position  : fixed;
	top       : 15%;
	left      : 0;
	z-index   : 100;
	border    : 1px solid @gray-light;
	max-width : 300px;
	.border-radius(~'0 !important');
}
.map {
	position   : relative;
	margin-top : 3em;
	.inline-block();

	.markers {
		list-style : none;
		margin     : 0;

		li {
			margin   : @icon-size-large 0 0 @icon-size-large;
			position : absolute;
			z-index  : 10;

			&:before {
				position    : absolute;
				top         : -@icon-size-large;
				left        : -@icon-size-large / 2;
				font-family : 'flexkit-icons';
				content     : ' \e052';
				line-height : 1;
				font-size   : @icon-size-large;
				color       : #e9ff8c;
				text-shadow : 0px 1px 3px @gray-darker;
				z-index     : 0;
			}

			& > div {
				margin-top : -9999px;
				padding    : @padding-base-vertical @padding-base-horizontal;
				.rgba(#ffffff, 0.9);
				.box-shadow(0 1px 5px @gray-dark);
			}

			&:hover {
				z-index : 11;

				& > div {
					margin-top : 0;
				}
			}
		}

		.us {
			top  : 30.3%;
			left : 84%;
		}

		.sydney {
			top  : 80%;
			left : 86%;
		}

		.rome {
			top  : 36.1%;
			left : 48.8%;
		}

		.paris {
			top  : 31.5%;
			left : 45%;
		}
		.paris2 {
			top  : 31.5%;
			left : 45.5%;
		}

		.sophia {
			top  : 34.5%;
			left : 46.7%;
		}

		.princes-risborough {
			top  : 28.5%;
			left : 44.5%;
		}

		.lakewood {
			top  : 2.5%;
			left : 7.5%;
		}

		.milano {
			top  : 33%;
			left : 47.7%;
		}

		.new-jersey {
			top  : 27.5%;
			left : 86.5%;
		}
		.houston {
			top  : 72.5%;
			left : 50.5%;
		}
		.bangkok {
			left : 72.3%;
			top  : 52%;
		}
		.caen {
			top  : 31%;
			left : 44.5%;
		}
		.toronto {
			left : 23%;
			top  : 34%;
		}
	}
}
/*hubSpot section*/
.hubspot-teaser-image + .page-teaser-image {
	position : absolute;
	top      : 0;
	left     : 7.1%;
	border   : none;
	bottom   : 0;
	margin   : auto !important;
	width    : 6%;
}
//Other
.icons-line {

	&.fixed {
		position         : fixed;
		width            : 940px;
		background-color : #ffffff;
		z-index          : 200;
		top              : 0;
		left             : 0;
		right            : 0;
		margin           : 0 auto;

		~ h2 {
			padding-top : 125px;
		}
	}
}
#green-line {
	background : #4c9900;
	color      : #ffffff;
	padding    : 11px;
	font-size  : 20px;
}
#video {
	display : block;
	iframe {
		border : 5px solid #e5e5e5 !important;
	}
	.glass {
		position : absolute;
		z-index  : 20;
		//.opacity(0);
		cursor   : pointer;
		&.glass1 {
			top        : 0;
			bottom     : 10%;
			left       : 0;
			right      : 0;
			text-align : center;

			&.played {
				.opacity(0);
			}
			span {
				height           : 12em;
				width            : 12em;
				position         : absolute;
				top              : 50%;
				left             : 50%;
				.translate(-50%);
				background-color : #ffffff;
				border           : 10px solid @brand-primary;
				.border-radius(50%);

				//&::after{
				//    content                 : "\e0b6";
				//    font-family             : @font-family-icons;
				//    speak                   : none;
				//    font-style              : normal;
				//    font-weight             : normal;
				//    text-transform          : none;
				//    line-height             : 1;
				//    //position                : relative;
				//    text-align              : center;
				//    .inline-block();
				//
				//    // Better Font Rendering
				//    -webkit-font-smoothing  : antialiased;
				//    -moz-osx-font-smoothing : grayscale;
				//    color                   : @brand-primary;
				//    font-size: 13em;
				//    margin: -0.35em 0 0 -0.025em
				//}
				&::after {
					content      : '';
					border       : 0 solid transparent;
					border-color : transparent transparent transparent #83b421;
					border-width : 45px 0 45px 75px;
					width        : 0;
					height       : 70px;
					font-size    : 0;
					position     : absolute;
					margin       : auto;
					top          : 0;
					left         : 35%;
					bottom       : 0;
				}
			}
		}
		&.glass2 {
			top    : 90%;
			bottom : 0;
			left   : 0;
			right  : 90%;
		}
	}
}
.index-main {
	padding-top : 315px;
	@media only screen and (max-width : @responsive-size-tablet), print {
		& {
			padding-top : 245px;
		}
	}
	@media only screen and (max-width : @responsive-size-mobile), print {
		& {
			padding-top : 0;
		}
	}
}
@media only screen and (max-width : @responsive-size-tablet) {
	.mobile {
		.index-main {
			padding-top : 0;
		}
		.top-text {
			display : block !important;
		}
	}
}
@media only screen and (max-width : @responsive-size-mobile) {
	img[src*="hiring.png"] {
		float   : none !important;
		margin  : auto;
		display : block;
	}
}

.thank-you-page{
	.teaser-info{
		text-align: center;
	}
	.icon-thumbs-up{
		&::before{
			font-size: 12rem;
			color: @brand-primary;
		}
	}

	@media only screen and (max-width : @responsive-size-tablet) {
		text-align: center;
	}
}
.admin-hide-text{
	font-size : 0;
	a{
		font-size: 1rem;
	}
}
[name="google_conversion_frame"]{
	display: none;
}
.bg-man {
	background: url("../images/bg-man.png") no-repeat right bottom;
	.button {
		background: #4C9900;
		color: #fff;
		padding: 15px 0;
		display: block;
		width: 50%;
		text-align: center;
		margin-top: 40px;
		box-shadow: 2px 2px 15px #999;
	}
}
.download-pdf input[type="submit"] {
	margin-top: -55px;
	width: 40%;
	background: #4C9900;
	box-shadow: 2px 2px 15px #999;
	border-radius: 0;
}


.icon {
	display: inline-block;
	vertical-align: top;
}
.btn.social {
	font-size: 0.8em;
}

// new style for index page
body.new-index-style {
	font-size: 14px!important;
	font-family: "Roboto", Helvetica, "Helvetica Neue", Arial, sans-serif!important;
}
.new-index-style .container {
	width: 1400px;
}
.new-index-style {


	#page{
		&.full{
			max-width : 100%;
			width     : 100%;
		}
	}

	header{
		background : #83b421;
		color      : #222222;
		.box-shadow(0 1px 5px @gray);

		// -- LOGO Style
		.logo{
			text-decoration : none;
			margin          : 0;
			padding         : 0.5em 1%;

			a{
				display : inline-block;
			}

			img{
			}
		}
	}
	.header-nav{
		text-align : right;
		.btn{
			padding        : 1.7em 2em;
			min-width      : 120px;
			text-transform : uppercase;
			&::before{
				display : block;
				margin  : 0.35em 0 0.25em;
			}
			.button-color(@primary-color; transparent; transparent; @primary-color; #FFB619; #FFB619);
		}
	}
	.line-slider {
		position : relative;
		.cycle-pager {
			position    : absolute;
			bottom      : 15%;
			right       : 25%;
			z-index     : 20;
			text-align  : center;
			font-size   : 0;
			line-height : 0;

			> * {
				.inline-block;
				cursor     : pointer;
				margin     : 0 6px;
				color      : @primary-color;
				background : @primary-color;
				.border-radius(14px);
				.icon-size(10px; true);
				opacity    : 0.5;

				&:hover {
					//background : @primary-color;
					opacity : 1;
				}

				&.cycle-pager-active {
					cursor     : default;
					color      : @primary-color;
					background : @primary-color;
					opacity    : 1;
					.icon-size(15px; true);
				}
			}
		}
		&::before {
			content    : "";
			width      : 360px;
			height     : 364px;

			position   : absolute;
			right      : 0;
			bottom     : 0;
			z-index    : 15;
			background : url("../images/seosamba-dragon.png") no-repeat scroll 0 0 transparent;
		}
	}
	.line-slider .cycle-slideshow{
		position : absolute;
		left     : 5%;
		right    : 5%;
		top      : 50%;
		.translate(0; -50%);

		.btn {
			.button-color(@primary-color; #FFB619; #FFB619);
			font-size      : 1.5em;
			margin-top     : 2.5em;
			text-transform : uppercase;
		}
	}
	.cycle-slideshow {

		.generator-links[data-url*="editrepeat"] {
			z-index: 15;
			top: 0;
			left: 0;
			position: absolute;
		}

		.slide {
			position   : absolute;
			top        : 0;
			left       : 0;
			width      : 100%;
			height     : 100%;
			list-style : none;

			& > a.generator-links:not(:first-child), & > a.tpopup:not(:first-child) {
				position : absolute;
				top      : 10px;
				left     : 10px;
			}
		}

		[class*="cycle-"].action-button {
			background : @primary-bg;
			color      : @primary-color;
			position   : absolute;
			top        : 50%;
			z-index    : 20;
			cursor     : pointer;
			margin-top : -@slider-button-size / 2 - @padding-large-vertical;
			padding    : @padding-large-vertical;
			.box-sizing(content-box);
			.icon-size(@slider-button-size; true);
			.transition();

			&:hover {
				background : darken(@primary-bg, 10%);
				color      : @primary-color;
			}

			&::before {
				font-family : @font-family-icons;
			}

			&.cycle-prev {
				left : -@slider-button-size * 3;

				&::before {
					content : "\e0c2";
				}
			}

			&.cycle-next {
				right : -@slider-button-size * 3;

				&::before {
					content : "\e0c3";
				}
			}
		}



		//&:hover .action-button {
		//	&.cycle-prev {
		//		left : 10px;
		//	}
		//
		//	&.cycle-next {
		//		right : 10px;
		//	}
		//
		//}
	}
	.testimonials-wrap {
		position : relative;
		color    : @primary-color;

		.logo-slider-circle {
			position : absolute;
			width    : 450px;
			height   : 450px;
			z-index  : 1;
			margin   : auto;
			left     : 0;
			right    : 0;
			bottom   : 317px;

			&::before {
				content           : "";
				.border-radius(50%);
				//.rotate(45deg);
				border            : 2px solid @primary-color;
				border-top-color  : transparent;
				border-left-color : transparent;
				position          : absolute;
				top               : -2px;
				right             : -2px;
				bottom            : -2px;
				left              : -2px;
				.rotate(45deg);
			}

			&::after {
				content             : "";
				position            : absolute;
				left                : 0;
				right               : 0;
				top                 : 0;
				bottom              : 0;
				background-color    : @primary-color;
				.border-radius(50%);
				border              : 35px solid;
				border-left-color   : #ff9b19;
				border-right-color  : #31a0cc;
				border-top-color    : #31a0cc;
				border-bottom-color : #ff9b19;
				.rotate(45deg);
			}

			.cycle-slideshow {
				//.rotate(-45deg);
				position   : absolute;
				top        : 50%;
				left       : 0;
				right      : 0;
				z-index    : 2;
				text-align : center;
				.translate(0; -50%);
			}

			.fix-style {
				border-top   : 300px solid transparent;
				border-left  : 42px solid #ff9b19;
				border-right : 42px solid #31a0cc;
				position     : absolute;
				bottom       : -2px;
				left         : 0;
				right        : 0;
				width        : 0;
				margin       : auto;
			}
		}
	}
	.testimonials-slider .cycle-slideshow {
		[class*="cycle-"].action-button {
			background : transparent;
			color      : @primary-color;
			top        : 22%;
			&.cycle-prev {
				left : 15%;
			}

			&.cycle-next {
				right : 15%;
			}
		}
	}
	.logo-slider-circle .cycle-slideshow {
		[class*="cycle-"].action-button {
			background : transparent;
			color      : @gray-lighter;
			top        : 0;
			&.cycle-prev {
				left : 35%;
			}

			&.cycle-next {
				right : 35%;
			}
		}
	}
	.testimonials-block {
		padding    : 3em;
		min-height : 600px;

		&.side {
			&-l {
				background-color : #ff9b19;
			}
			&-r {
				background-color : #31a0cc;
			}
		}

		.above-block-title {
			font-size   : 2.8em;
			text-align  : center;
			line-height : 1;
			margin      : 0 0 .75em;
			color       : inherit;
			font-weight: bold;
		}
		.above-block-desc {
			font-size   : 1.45em;
			font-weight : 200;
			line-height : 1.75em;
			margin      : 0 5%;
			min-height  : 230px;
		}
		.above-block-slogan {
			font-size      : 2.75em;
			text-align     : center;
			margin         : 1em 0 2em;
			letter-spacing : 0.15em;
		}
	}
	/* Testimonials slide */
	.testimonials-slider {
		border     : 2px solid @primary-color;
		min-height : 500px;
		text-align : center;
		position   : relative;

		.cycle-slideshow {
			position : absolute;
			/* height: 100%; */
			top      : 50%;
			.translate(0; -50%);
			margin   : auto;
			width    : 56%;
			left     : 0;
			right    : 0;
		}

		.photo {
			.border-radius(50%);
			overflow : hidden;
			width    : 130px;
			height   : 130px;
			display  : inline-block;
			margin   : auto;
			border   : 3px solid @primary-color;
			position : relative;
			.tpopup {
				position  : absolute;
				z-index   : 10;
				top       : 50%;
				left      : 0;
				right     : 0;
			}

		}
		.name {
			font-size   : 1.35em;
			color       : @primary-color;
			font-family : @font-family-text;
			font-weight : 400;
			margin      : 0.5em 0 0.5em;
		}
		.position {
			font-size      : 1.05em;
			text-transform : uppercase;
			margin         : 0;
			opacity        : 0.5;
		}
		.desc {
			font-size   : 1.2em;
			font-style  : italic;
			font-weight : 300;
		}

	}
	.line {
		&-slogan-1 {
			padding        : 3em 0;
			text-transform : uppercase;
			text-align     : center;

			p {
				font-size : 3.2em;
				margin    : 0;

				&:nth-child(1) {
					font-weight : bold;
				}
				&:nth-child(2) {
					font-size      : 2.5em;
					letter-spacing : 0.05em;
				}
			}

		}
	}
	/* line do it */
	.line-do-it {
		background-color : #34495E;
		color            : #fff;
		padding          : 1em 0;
		font-weight      : bold;
		text-transform   : uppercase;
		position         : relative;
		z-index          : 2;

		& > span {
			font-size      : 14em;
			overflow       : hidden;
			display        : inline-block;
			width          : 33.33%;
			letter-spacing : 0.1em;
			text-align     : center;
			opacity        : 0.15;
			line-height    : 1;
			& + span {
				margin-left : 33.33%;
			}
		}

		.do-it-circle {
			text-transform  : uppercase;
			//background-color : ;
			width           : 10em;
			height          : 10em;
			color           : @primary-color;
			font-size       : 4em;
			border-radius   : 50%;
			text-align      : center;
			padding         : 2.25em;
			font-weight     : bold;
			position        : absolute;
			z-index         : 1;
			left            : 0;
			right           : 0;
			margin          : auto;
			top             : 50%;
			//border           : 1.45em solid @primary-color;
			background      : url("../images/do-it-circle.png") no-repeat scroll 0 0 @brand-primary1;
			background-size : cover;
			.translate(0; -50%);
			.border-radius(50%);
			span {
				display   : block;
				font-size : 1.25em;

			}
		}
	}
	.line-green-block {
		min-height : 500px;
		background : url("../images/sales-bg.png") repeat scroll 0 0 #70ad29;
	}
	/* line do it */

	/* line parallax */
	.line-parallax {

		.lp-top, .lp-bottom {
			background-color : @brand-primary1;
			padding          : 4em 0;
		}

		.lp-top {
			.title {
				font-size      : 2.5em;
				font-family    : @font-family-text;
				font-weight    : bold;
				text-align     : center;
				color          : @primary-color;
				letter-spacing : 0.03em;
				margin         : 0;
			}
		}
		.lp-middle {
			text-align : center;
			padding    : 8em 0;
			position   : relative;

			&::before, &::after {
				content    : "";
				background : url("../images/arrows-line.png") repeat-x scroll 0 0 transparent;
				left       : 0;
				right      : 0;
				z-index    : 5;
				height     : 78px;
				display    : block;
				position   : absolute;
			}

			&::before {
				background-position : 0 -78px;
				top                 : -40px;
			}

			&::after {
				background-position : 0 0;
				bottom              : -40px;
			}

			.title {
				font-size      : 4em;
				font-family    : @font-family-text;
				font-weight    : bold;
				text-align     : center;
				color          : @primary-color;
				letter-spacing : 0.03em;
				margin         : 0;
			}
			.btn {
				.button-color(@primary-color; #FFB619; #FFB619);
				text-transform : uppercase;
				font-size      : @font-size-larger;
				margin-top     : 2.5em;
				margin-bottom  : 2.5em;
				padding-left   : 2em;
				padding-right  : 2em;
			}
			.list {
				list-style : none;
				.inline-block-wrap;
				li {
					.grid-elements(3; @grid-margin-width; false; 3, 1);
					font-size   : @font-size-base1 + 2;
					text-align  : center;
					line-height : 1.35em;
					font-weight : 500;
					color       : @primary-color;
					margin      : 0;

					&::before {
						content     : "\e0d6";
						font-family : "flexkit-icons";
						display     : block;
						font-size   : 3em;
						line-height : initial;
						padding     : 12px;
						text-align  : center;
					}

					&:nth-child(1) {
						&::before {
							content : "\e0ed";
						}
					}
					&:nth-child(2) {
						&::before {
							content : "\e0ee";
						}
					}
					&:nth-child(3) {
						&::before {
							content : "\e0ec";
						}
					}

				}
			}
		}
		.lp-bottom {
			padding : 6em 0;
			.title.h2 {
				font-size      : 3em;
				font-family    : @font-family-text;
				font-weight    : bold;
				text-align     : center;
				color          : @primary-color;
				letter-spacing : 0.03em;
				margin         : 0;
				border         : 2px solid lighten(@brand-primary1, 5%);
				padding        : 0.75em 1em;
			}
		}

		[class*="account-"] {
			margin-top : -35px;
			text-align : center;

			&.account-seotoaster {
				span.btn {
					.button-color(@primary-color; #6a68d2);

				}
				&::before {
					content : "\e0eb";
				}
			}
			&.account-wordpress {
				span.btn {
					.button-color(@primary-color; #21759a);
				}
				&::before {
					content : "\e0f0";
				}
			}

			&::before {
				content          : "\e0ee";
				font-family      : "flexkit-icons";
				display          : inline-block;
				font-size        : 3em;
				line-height      : initial;
				background-color : @brand-primary1;
				padding          : 12px;
				color            : @primary-color;
			}

			.title {
				color         : @primary-color;
				text-align    : center;
				line-height   : 1.35em;
				font-weight   : 500;
				margin-bottom : 1.5em;
			}
			.btn {
				.button-color(@primary-color; #5d6e7f; #5d6e7f);
				width          : 45%;
				margin-left    : 1%;
				margin-right   : 1%;
				text-transform : uppercase;
				font-size      : 1.25em;
				line-height    : 3em;
			}
		}
	}
	/* line parallax */

	/* line sell more */
	.line-sell-more {
		@sell-more-bg: #038bad;

		background-color : @sell-more-bg;
		padding          : 8em 0;

		&::before, &::after {
			content    : "";
			background : url("../images/arrows-line.png") repeat-x scroll 0 0 transparent;
			left       : 0;
			right      : 0;
			z-index    : 5;
			height     : 78px;
			display    : block;
			position   : absolute;
		}
		&::before {
			background-position : 0 -78px;
			top                 : -40px;
		}
		&::after {
			background-position : 0 0;
			bottom              : -40px;
		}

		.title, .title-separate {
			clear       : both;
			border      : none;
			border-top  : 2px solid lighten(@sell-more-bg, 5%);
			line-height : 0;
			margin      : 1em 0;
			background  : @sell-more-bg;
			color       : @primary-color;
			font-size   : 2.75em;
			text-align  : center;

			// With text
			&::before {
				content     : attr(title);
				top         : -0.6em;
				position    : relative;
				line-height : 1.2em;
				color       : inherit;
				max-width   : 94%;
				margin      : -(@hr-size / 2) 3% 0;
				padding     : 0 .75em;
				background  : inherit;
				.text-overflow();
				.inline-block();
			}
		}
		.title-separate {
			margin : 45px 0 0;
		}

		.sell-more-l {
			text-align : center;
			color      : @primary-color;
			//font-size      : 5em;
			//text-transform : uppercase;
			//text-align     : center;
			//font-weight    : 500;
			//color          : @primary-color;
			//line-height    : 1;
			//letter-spacing : 0.035em;
			//padding        : 0 50px;
			//p {
			//	margin : 0;
			//	&.big {
			//		font-size : 4.75em;
			//
			//		& ~ p {
			//			font-size : 0.53em;
			//		}
			//	}
			//}
			.title-separate {
				font-size      : 1.5em;
				text-transform : uppercase;
				letter-spacing : 0.035em;
			}
		}

		.sell-more-r {
			padding    : 0 50px;
			text-align : center;

			.title-separate {
				font-size      : 2.35em;
				//text-transform : uppercase;
				letter-spacing : 0.035em;
				font-weight    : 500;
			}

			ul {
				display    : inline-block;
				color      : @primary-color;
				text-align : left;
				margin     : 0 0;
				clear      : both;
				//.inline-block-wrap;
				li {
					font-size   : @font-size-base1 + 8;
					color       : darken(@gray-lighter, 3%);
					font-weight : 700;
					//.grid-elements(3; @grid-margin-width; false);
					&::before {
						color : @primary-color;
					}
				}
			}
		}

	}
	/* end: line sell more */

	/* create performance */
	.create-performance {
		background-color : @brand-primary1;
		padding          : 6em 0;
		color            : #d7dfe4;

		.title {
			clear       : both;
			border      : none;
			//line-height : 0;
			//margin      : 1em 0;
			background  : @brand-primary1;
			color       : @primary-color;
			display     : inline-block;
			font-size   : 2.75em;
			text-align  : center;
			font-weight : 500;
			padding     : 0 1em;

		}

		.title-separate {
			clear       : both;
			border      : none;
			border-top  : 2px solid lighten(@brand-primary1, 5%);
			line-height : 0;
			margin      : 1em 0;
			background  : @brand-primary1;
			color       : @primary-color;
			font-size   : 2.75em;
			text-align  : center;
			font-weight : 500;

			// With text
			&::before {
				content     : attr(title);
				top         : -0.6em;
				position    : relative;
				line-height : 1.2em;
				color       : inherit;
				max-width   : 94%;
				margin      : -(@hr-size / 2) 3% 0;
				padding     : 0 .75em;
				background  : inherit;
				.text-overflow();
				.inline-block();
			}
		}
		.title-separate {
			margin : 45px 0 0;
		}

		ul {
			color      : @primary-color;
			text-align : left;
			margin     : 0 5%;
			li {
				font-size : @font-size-base1 + 2;

			}
			&.list-arrow {
				li {
					font-size   : @font-size-base1 + 10;
					color       : darken(@gray-lighter, 3%);
					font-weight : 700;
					//.grid-elements(3; @grid-margin-width; false);

					&::before {
						font-size   : 0.65em;
						line-height : 2.3em;
						color       : @primary-color;
					}
				}
			}
		}

		.border-box {
			&-top {
				border              : 2px solid lighten(@brand-primary1, 7%);
				border-bottom-width : 0;
				text-align          : center;
				.title {
					.translate(0; -60%);
				}
			}
			&-bottom {
				border           : 2px solid lighten(@brand-primary1, 7%);
				border-top-width : 0;
				padding          : 1.5em 8em;
				font-size        : 1.85em;
				text-align       : center;
				p {
					margin : 0;
				}
			}
		}
	}
	.get-started-list {
		.inline-block-wrap;
		li {
			.grid-elements(3; 0; false; 3; 1);
			padding       : 5em 3em;
			color         : @primary-color;
			text-align    : center;
			margin-bottom : 0;

			&::before {
				content       : "\e0eb";
				font-family   : "flexkit-icons";
				display       : inline-block;
				font-size     : 2.75em;
				line-height   : initial;
				margin-bottom : 1em;

			}

			&:nth-child(1) {
				background-color : #ff3366;
			}
			&:nth-child(2) {
				background-color : #00ccff;
			}
			&:nth-child(3) {
				background-color : #7876e2;
			}

			.list-title {
				color          : inherit;
				font-size      : 1.75em;
				font-weight    : 400;
				line-height    : 1.25em;
				margin-bottom  : 1.25em;
				letter-spacing : 0.035em;
			}
			.btn {
				.button-color(@gray-darker; @primary-color; @primary-color);
			}
		}
	}
	/* end:create performance */

	.services-wrap {
		list-style : none;
		margin     : 0;
		padding    : 0;
		.inline-block-wrap;

		.flexbox(row; nowrap);

		& > .generator-links {
			position : absolute;
		}

		li {
			.grid-elements(4; 0; false; 2; 1);
			padding    : 6em 3.8em 13em;
			margin     : 0;
			color      : @primary-color;
			text-align : center;

			&:nth-of-type(1) {
				background-color : #f63d3d;
			}
			&:nth-of-type(2) {
				background-color : @brand-warning;

				.extra {
					.desc {
						font-size     : 1em;
						margin-bottom : 1em;
					}
					& + .extra {
						margin-top : 2.5em;
					}
				}

			}
			&:nth-of-type(3) {
				background-color : #ff3366;
			}
			&:nth-of-type(4) {
				background-color : #00ccff;
			}

			.title {
				color         : inherit;
				font-size     : 2.45em;
				margin-bottom : 1em;
			}

			.desc {
				color         : inherit;
				font-size     : 1.5em;
				font-weight   : 300;
				line-height   : 1.65em;
				margin-bottom : 3em;

				p {
					margin : 0;
				}
			}

			.btn {
				text-transform : uppercase;
				border-width   : 2px;
				padding-left   : 2.15em;
				padding-right  : 2.15em;

				&[href="#"] {
					display : none;
				}
			}

		}
	}

	.line-bottom-nav, footer, .line-under-slider {
		[class*="block-"] {

			position : relative;
			overflow : hidden;
			padding  : 3em 3em 3em (6.2em + 3em);
		}

		.block-flat-menu {
			padding : 3em 3em 3em 3em;
		}

		.title {
			color          : @primary-color;
			font-size      : 2.5em;
			letter-spacing : 0.05em;
			text-transform : uppercase;

			padding        : .5em .72em;
			position       : absolute;
			left           : 0;
			top            : 0;
			bottom         : 0;
			right          : initial;
			margin         : 0;

			&:not(.not-rotate) {
				margin-bottom            : 0;
				-webkit-transform-origin : 0 0;
				-ms-transform-origin     : 0 0;
				transform-origin         : 0 0;
				-webkit-transform        : rotate(-90deg) translate(-100%, 0%);
				-ms-transform            : rotate(-90deg) translate(-100%, 0%);
				transform                : rotate(-90deg) translate(-100%, 0%);
				text-align               : right;
				left                     : 0;
				right                    : 0;
				top                      : 0;
				bottom                   : initial;
				padding                  : .5em 1em;
				min-width                : 500px;
				width                    : 100%;
				font-weight: bold;
			}
		}

		.block-social {
			padding    : 0;
			text-align : right;
			a {
				display : block;
				clear   : both;
				float   : right;
			}
			.btn {
				.border-radius(0 0 0 0);
				line-height : 5em;
				width       : 5em;
			}
		}
	}
	.line-bottom-nav {
		background-color : #70ad29;
		.flexbox();
		.title {
			background-color : darken(#70ad29, 3%);
		}
		[class*="block-"] {
			//min-height : 350px;
		}
	}
	.line-under-slider {
		.title {
			background-color : darken(@body-bg, 3%);
			color            : @brand-primary1;
		}
	}
	footer {
		padding     : 0;
		background  : #34495E;
		color       : #fff;
		font-weight : 300;
		box-shadow:none;
		.flexbox();
		//font-size  : @font-size-small;
		.title {
			background-color : #2f4154;
		}

		& > div {
			position : relative;
			overflow : hidden;
			padding  : 4.5em 2em;
		}

		address {
			color : @primary-color;
			font-size: 1.2em;
		}
		a {
			.link-color(@primary-color);
			text-decoration : none;
			font-size: 1.2em;
		}
		.title.not-rotate {
			font-size:2.9em;
		}
	}

	@font-family-text     : "Roboto", Helvetica, "Helvetica Neue", Arial, sans-serif;
	@font-family-headings : "Roboto Condensed", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, serif;
	.slide .slide-description  {
		h1, h2, h3, h4, h5, h6,
		.h1, .h2, .h3, .h4, .h5, .h6 {
		color          : #fff;
		letter-spacing : 0.05em;

		   &.title{
			   font-size : 60px;
			   margin    : 0;

			      &:first-child{
				    font-weight    : 300;
				    text-transform : uppercase;
			      }
		   }
	    }
	}
	h1, h2, h3, h4, h5, h6,
	.h1, .h2, .h3, .h4, .h5, .h6 {
		margin-top    : 1.5em;
		margin-bottom : 0.5em;
		color         : @heading-color;
		font-family   : @font-family-headings;
		& when not(@heading-weight = bold) and not (@heading-weight = 700) {
			font-weight : @heading-weight;
		}

		&:first-child:not(.logo) {
			margin-top : 0;
		}



		& when not(@footer-heading-color = @heading-color) {
			footer & {
				color : @footer-heading-color;
			}
		}

		&:empty {
			display : none;
		}
		& when (@heading-color = #ffffff) {
			#tinymce & {
				color : #000000;
			}
		}

	}
	.h1, .h2, .h3, .h4, .h5, .h6 {
		& when (@heading-weight = bold) or (@heading-weight = 700) {
			font-weight : @heading-weight;
		}
	}
	h1, .h1 {
		font-size : 2.25em;
	}
	h2, .h2 {
		font-size : 1.75em;
	}
	h3, .h3 {
		font-size : 1.25em;
	}
	h4, .h4 {
		font-size : 1em;
	}
	h5, .h5 {
		font-size : 0.875em;
	}
	h6, .h6 {
		font-size : 0.75em;
	}
	.subtitle {
		color     : @subheading-color;
		font-size : @font-size-mini;
	}
	p {
		margin-top    : 0;
		margin-bottom : 15px;
	}
	address {
		margin-bottom : 20px;
		font-style    : normal;
	}

	.line-under-slider .news-item {

		& + .news-item {
			margin-top : 1em;
		}

		.news-item-title {
			.link-color(@brand-primary1);
			text-decoration : none;
			font-size       : 1.25em;
			font-weight     : bold;
			line-height     : 1.45em;
		}
		.news-item-description {
			margin-top  : 0.5em;
			color       : @gray;
			line-height : 1.65em;
			font-size: 14px;
		}
		.news-item-image {
			position : relative;

			&::before {
				content  : "";
				width    : 35%;
				.rgba(@brand-primary1; 75);
				position : absolute;
				right    : 0;
				top      : 0;
				bottom   : 0;
			}

		}
		.news-item-date {

			color     : @primary-color;
			font-size : 1.35em;
			position  : absolute;
			right     : 0;
			top       : 50%;
			width     : 35%;
			padding   : 0 1em;
			.translate(0; -50%);
		}
	}

	//menu

	.line-footer-nav-links(@text-transform: normal) {
		& {
			display        : inline-block;
			.link-color(@primary-color; darken(@primary-color, 10%));
			text-transform : @text-transform;
			font-family    : @font-family-text;
			font-size      : @font-size-base1;
		}
	}


	.line-bottom-nav .main_menu{
	   background  : transparent;
	   font-weight : 500;
			  & > li, & > li:hover{
				  background : transparent;
			  }
			  a{
				  .line-footer-nav-links();
				  line-height : 2em;
				  padding     : 0;
			  }
			  ul{
				  display    : block;
				  position   : relative;
				  width      : auto;
				  background : transparent;
				  color      : @primary-color;
				  .box-shadow(none);

				  li, li:hover{
					  background : transparent;
				  }
			  }

			  .category{
				  //.grid-elements(3; 0; false; 3; 1);
				  max-width : 150px;

				  & + .category{
					  margin-left : 7em;
				  }

				  & > a{
					  text-transform : uppercase;
					  font-size      : 1.15em;
				  }
			  }
	}


	.line-bottom-nav .featureditem.meet,
	.line-bottom-nav .featureditem.learn{
			li{
				display : block;
				margin  : 0 0 0.35em;
				.grid-elements(1; 0);
			}
			a{
				.line-footer-nav-links();
				text-transform : uppercase;
				margin         : 0;
				font-size      : 1.1em;
				letter-spacing : 0.035em;
			}

	}
	.fb_account_1a.no-hover.btn, .fb_account_2a.no-hover.btn {
		font-size: 14px;
		padding: 6px 0;
	}
	.fb_account_1a.no-hover.btn:hover {
		background:  #6a68d2!important;
		cursor: default;
	}
	.fb_account_2a.no-hover.btn:hover {
		background:  #21759a!important;
		cursor: default;
	}
	#video .glass.glass1 span {
      display:none;
	}
}
=======
//	PAGE Style
//==================================================

body {
	// custom scroll-bar
	//.scroll-bar();
}
main {
}
#page {
	&.full {
		max-width : 100%;
		width     : 100%;
	}
}
//	HEADER Style
//==================================================
header {
	background : @header-bg;
	color      : @header-color;
	.box-shadow(0 1px 5px @gray);

	// -- LOGO Style
	.logo {
		text-decoration : none;
		margin          : 0;
		padding         : 0.5em 1%;

		a {
			display : inline-block;
		}

		img {
		}
	}
}
.header-nav {
	text-align : right;
	.btn {
		padding        : 1.7em 2em;
		min-width      : 120px;
		text-transform : uppercase;
		&::before {
			display : block;
			margin  : 0.35em 0 0.25em;
		}
		.button-color(@primary-color; transparent; transparent; @primary-color; @brand-warning; @brand-warning);
	}
}
// -- NAV Style
nav {
}
//	CONTENT Style
//==================================================
article {
}
section {
}
/* SLIDER */
.line-slider {
	position : relative;
	&::before {
		content    : "";
		width      : 360px;
		height     : 364px;

		position   : absolute;
		right      : 0;
		bottom     : 0;
		z-index    : 15;
		background : url("../images/seosamba-dragon.png") no-repeat scroll 0 0 transparent;
	}
}
/* END: SLIDER */

.testimonials-wrap {
	position : relative;
	color    : @primary-color;

	.logo-slider-circle {
		position : absolute;
		width    : 450px;
		height   : 450px;
		z-index  : 1;
		margin   : auto;
		left     : 0;
		right    : 0;
		bottom   : 317px;

		&::before {
			content           : "";
			.border-radius(50%);
			//.rotate(45deg);
			border            : 2px solid @primary-color;
			border-top-color  : transparent;
			border-left-color : transparent;
			position          : absolute;
			top               : -2px;
			right             : -2px;
			bottom            : -2px;
			left              : -2px;
			.rotate(45deg);
		}

		&::after {
			content             : "";
			position            : absolute;
			left                : 0;
			right               : 0;
			top                 : 0;
			bottom              : 0;
			background-color    : @primary-color;
			.border-radius(50%);
			border              : 35px solid;
			border-left-color   : #ff9b19;
			border-right-color  : #31a0cc;
			border-top-color    : #31a0cc;
			border-bottom-color : #ff9b19;
			.rotate(45deg);
		}

		.cycle-slideshow {
			//.rotate(-45deg);
			position   : absolute;
			top        : 50%;
			left       : 0;
			right      : 0;
			z-index    : 2;
			text-align : center;
			.translate(0; -50%);
		}

		.fix-style {
			border-top   : 300px solid transparent;
			border-left  : 42px solid #ff9b19;
			border-right : 42px solid #31a0cc;
			position     : absolute;
			bottom       : -2px;
			left         : 0;
			right        : 0;
			width        : 0;
			margin       : auto;
		}
	}
}
.testimonials-block {
	padding    : 3em;
	min-height : 600px;

	&.side {
		&-l {
			background-color : #ff9b19;
		}
		&-r {
			background-color : #31a0cc;
		}
	}

	.above-block-title {
		font-size   : 3.5em;
		text-align  : center;
		line-height : 1;
		margin      : 0 0 .75em;
		color       : inherit;
	}
	.above-block-desc {
		font-size   : 1.45em;
		font-weight : 200;
		line-height : 1.75em;
		margin      : 0 5%;
		min-height  : 230px;
	}
	.above-block-slogan {
		font-size      : 2.75em;
		text-align     : center;
		margin         : 1em 0 2em;
		letter-spacing : 0.15em;
	}
}
/* Testimonials slide */
.testimonials-slider {
	border     : 2px solid @primary-color;
	min-height : 500px;
	text-align : center;
	position   : relative;

	.cycle-slideshow {
		position : absolute;
		/* height: 100%; */
		top      : 50%;
		.translate(0; -50%);
		margin   : auto;
		width    : 56%;
		left     : 0;
		right    : 0;
	}

	.photo {
		.border-radius(50%);
		overflow : hidden;
		width    : 130px;
		height   : 130px;
		display  : inline-block;
		margin   : auto;
		border   : 3px solid @primary-color;

	}
	.name {
		font-size   : 1.35em;
		color       : @primary-color;
		font-family : @font-family-text;
		font-weight : 400;
		margin      : 0.5em 0 0.5em;
	}
	.position {
		font-size      : 1.05em;
		text-transform : uppercase;
		margin         : 0;
		opacity        : 0.5;
	}
	.desc {
		font-size   : 1.1em;
		font-style  : italic;
		font-weight : 300;
	}

}
.line {
	&-slogan-1 {
		padding        : 3em 0;
		text-transform : uppercase;
		text-align     : center;

		p {
			font-size : 3.2em;
			margin    : 0;

			&:nth-child(1) {
				font-weight : bold;
			}
			&:nth-child(2) {
				font-size      : 2.5em;
				letter-spacing : 0.05em;
			}
		}

	}
}
/* line do it */
.line-do-it {
	background-color : @brand-primary1;
	color            : @primary-color;
	padding          : 1em 0;
	font-weight      : bold;
	text-transform   : uppercase;
	position         : relative;
	z-index          : 2;

	& > span {
		font-size      : 14em;
		overflow       : hidden;
		display        : inline-block;
		width          : 33.33%;
		letter-spacing : 0.1em;
		text-align     : center;
		opacity        : 0.15;
		line-height    : 1;
		& + span {
			margin-left : 33.33%;
		}
	}

	.do-it-circle {
		text-transform  : uppercase;
		//background-color : ;
		width           : 10em;
		height          : 10em;
		color           : @primary-color;
		font-size       : 4em;
		border-radius   : 50%;
		text-align      : center;
		padding         : 2.25em;
		font-weight     : bold;
		position        : absolute;
		z-index         : 1;
		left            : 0;
		right           : 0;
		margin          : auto;
		top             : 50%;
		//border           : 1.45em solid @primary-color;
		background      : url("../images/do-it-circle.png") no-repeat scroll 0 0 @brand-primary1;
		background-size : cover;
		.translate(0; -50%);
		.border-radius(50%);
		span {
			display   : block;
			font-size : 1.25em;

		}
	}
}
.line-green-block {
	min-height : 500px;
	background : url("../images/sales-bg.png") repeat scroll 0 0 #70ad29;
}
/* line do it */

/* line parallax */
.line-parallax {

	.lp-top, .lp-bottom {
		background-color : @brand-primary1;
		padding          : 4em 0;
	}

	.lp-top {
		.title {
			font-size      : 2.5em;
			font-family    : @font-family-text;
			font-weight    : bold;
			text-align     : center;
			color          : @primary-color;
			letter-spacing : 0.03em;
			margin         : 0;
		}
	}
	.lp-middle {
		text-align : center;
		padding    : 8em 0;
		position   : relative;

		&::before, &::after {
			content    : "";
			background : url("../images/arrows-line.png") repeat-x scroll 0 0 transparent;
			left       : 0;
			right      : 0;
			z-index    : 5;
			height     : 78px;
			display    : block;
			position   : absolute;
		}

		&::before {
			background-position : 0 -78px;
			top                 : -40px;
		}

		&::after {
			background-position : 0 0;
			bottom              : -40px;
		}

		.title {
			font-size      : 4em;
			font-family    : @font-family-text;
			font-weight    : bold;
			text-align     : center;
			color          : @primary-color;
			letter-spacing : 0.03em;
			margin         : 0;
		}
		.btn {
			.button-color(@primary-color; @brand-warning; @brand-warning);
			text-transform : uppercase;
			font-size      : @font-size-larger;
			margin-top     : 2.5em;
			margin-bottom  : 2.5em;
			padding-left   : 2em;
			padding-right  : 2em;
		}
		.list {
			list-style : none;
			.inline-block-wrap;
			li {
				.grid-elements(3; @grid-margin-width; false; 3, 1);
				font-size   : @font-size-base + 2;
				text-align  : center;
				line-height : 1.35em;
				font-weight : 500;
				color       : @primary-color;
				margin      : 0;

				&::before {
					content     : "\e0d6";
					font-family : "flexkit-icons";
					display     : block;
					font-size   : 3em;
					line-height : initial;
					padding     : 12px;
					text-align  : center;
				}

				&:nth-child(1) {
					&::before {
						content : "\e0ed";
					}
				}
				&:nth-child(2) {
					&::before {
						content : "\e0ee";
					}
				}
				&:nth-child(3) {
					&::before {
						content : "\e0ec";
					}
				}

			}
		}
	}
	.lp-bottom {
		padding : 6em 0;
		.title.h2 {
			font-size      : 3em;
			font-family    : @font-family-text;
			font-weight    : bold;
			text-align     : center;
			color          : @primary-color;
			letter-spacing : 0.03em;
			margin         : 0;
			border         : 2px solid lighten(@brand-primary1, 5%);
			padding        : 0.75em 1em;
		}
	}

	[class*="account-"] {
		margin-top : -35px;
		text-align : center;

		&.account-seotoaster {
			.btn:nth-of-type(2) {
				.button-color(@primary-color; #6a68d2; #6a68d2);
			}
			&::before {
				content : "\e0eb";
			}
		}
		&.account-wordpress {
			.btn:nth-of-type(2) {
				.button-color(@primary-color; #21759a; #21759a);
			}
			&::before {
				content : "\e0f0";
			}
		}

		&::before {
			content          : "\e0d6";
			font-family      : "flexkit-icons";
			display          : inline-block;
			font-size        : 3em;
			line-height      : initial;
			background-color : @brand-primary1;
			padding          : 12px;
			color            : @primary-color;
		}

		.title {
			color         : @primary-color;
			text-align    : center;
			line-height   : 1.35em;
			font-weight   : 500;
			margin-bottom : 1.5em;
		}
		.btn {
			.button-color(@primary-color; #5d6e7f; #5d6e7f);
			width          : 45%;
			margin-left    : 1%;
			margin-right   : 1%;
			text-transform : uppercase;
			font-size      : 1.25em;
			line-height    : 3em;
		}
	}
}
/* line parallax */

/* line sell more */
.line-sell-more {
	@sell-more-bg: #038bad;

	background-color : @sell-more-bg;
	padding          : 8em 0;

	&::before, &::after {
		content    : "";
		background : url("../images/arrows-line.png") repeat-x scroll 0 0 transparent;
		left       : 0;
		right      : 0;
		z-index    : 5;
		height     : 78px;
		display    : block;
		position   : absolute;
	}
	&::before {
		background-position : 0 -78px;
		top                 : -40px;
	}
	&::after {
		background-position : 0 0;
		bottom              : -40px;
	}

	.title, .title-separate {
		clear       : both;
		border      : none;
		border-top  : 2px solid lighten(@sell-more-bg, 5%);
		line-height : 0;
		margin      : 1em 0;
		background  : @sell-more-bg;
		color       : @primary-color;
		font-size   : 2.75em;
		text-align  : center;

		// With text
		&::before {
			content     : attr(title);
			top         : -0.6em;
			position    : relative;
			line-height : 1.2em;
			color       : inherit;
			max-width   : 94%;
			margin      : -(@hr-size / 2) 3% 0;
			padding     : 0 .75em;
			background  : inherit;
			.text-overflow();
			.inline-block();
		}
	}
	.title-separate {
		margin : 45px 0 0;
	}

	.sell-more-l {
		text-align : center;
		color      : @primary-color;
		//font-size      : 5em;
		//text-transform : uppercase;
		//text-align     : center;
		//font-weight    : 500;
		//color          : @primary-color;
		//line-height    : 1;
		//letter-spacing : 0.035em;
		//padding        : 0 50px;
		//p {
		//	margin : 0;
		//	&.big {
		//		font-size : 4.75em;
		//
		//		& ~ p {
		//			font-size : 0.53em;
		//		}
		//	}
		//}
		.title-separate {
			font-size      : 1.5em;
			text-transform : uppercase;
			letter-spacing : 0.035em;
		}
	}

	.sell-more-r {
		padding    : 0 50px;
		text-align : center;

		.title-separate {
			font-size      : 2.35em;
			//text-transform : uppercase;
			letter-spacing : 0.035em;
			font-weight    : 500;
		}

		ul {
			display    : inline-block;
			color      : @primary-color;
			text-align : left;
			margin     : 0 0;
			clear      : both;
			//.inline-block-wrap;
			li {
				font-size   : @font-size-base + 8;
				color       : darken(@gray-lighter, 3%);
				font-weight : 700;
				//.grid-elements(3; @grid-margin-width; false);
				&::before {
					color : @primary-color;
				}
			}
		}
	}

}
/* end: line sell more */

/* create performance */
.create-performance {
	background-color : @brand-primary1;
	padding          : 6em 0;
	color            : #d7dfe4;

	.title {
		clear       : both;
		border      : none;
		//line-height : 0;
		//margin      : 1em 0;
		background  : @brand-primary1;
		color       : @primary-color;
		display     : inline-block;
		font-size   : 2.75em;
		text-align  : center;
		font-weight : 500;
		padding     : 0 1em;

	}

	.title-separate {
		clear       : both;
		border      : none;
		border-top  : 2px solid lighten(@brand-primary1, 5%);
		line-height : 0;
		margin      : 1em 0;
		background  : @brand-primary1;
		color       : @primary-color;
		font-size   : 2.75em;
		text-align  : center;
		font-weight : 500;

		// With text
		&::before {
			content     : attr(title);
			top         : -0.6em;
			position    : relative;
			line-height : 1.2em;
			color       : inherit;
			max-width   : 94%;
			margin      : -(@hr-size / 2) 3% 0;
			padding     : 0 .75em;
			background  : inherit;
			.text-overflow();
			.inline-block();
		}
	}
	.title-separate {
		margin : 45px 0 0;
	}

	ul {
		color      : @primary-color;
		text-align : left;
		margin     : 0 5%;
		li {
			font-size : @font-size-base + 2;

		}
		&.list-arrow {
			li {
				font-size   : @font-size-base + 10;
				color       : darken(@gray-lighter, 3%);
				font-weight : 700;
				//.grid-elements(3; @grid-margin-width; false);

				&::before {
					font-size   : 0.65em;
					line-height : 2.3em;
					color       : @primary-color;
				}
			}
		}
	}

	.border-box {
		&-top {
			border              : 2px solid lighten(@brand-primary1, 7%);
			border-bottom-width : 0;
			text-align          : center;
			.title {
				.translate(0; -60%);
			}
		}
		&-bottom {
			border           : 2px solid lighten(@brand-primary1, 7%);
			border-top-width : 0;
			padding          : 1.5em 8em;
			font-size        : 1.85em;
			text-align       : center;
			p {
				margin : 0;
			}
		}
	}
}
.get-started-list {
	.inline-block-wrap;
	li {
		.grid-elements(3; 0; false; 3; 1);
		padding       : 5em 3em;
		color         : @primary-color;
		text-align    : center;
		margin-bottom : 0;

		&::before {
			content       : "\e0eb";
			font-family   : "flexkit-icons";
			display       : inline-block;
			font-size     : 2.75em;
			line-height   : initial;
			margin-bottom : 1em;

		}

		&:nth-child(1) {
			background-color : #ff3366;
		}
		&:nth-child(2) {
			background-color : #00ccff;
		}
		&:nth-child(3) {
			background-color : #7876e2;
		}

		.list-title {
			color          : inherit;
			font-size      : 1.75em;
			font-weight    : 400;
			line-height    : 1.25em;
			margin-bottom  : 1.25em;
			letter-spacing : 0.035em;
		}
		.btn {
			.button-color(@gray-darker; @primary-color; @primary-color);
		}
	}
}
/* end:create performance */

.services-wrap {
	list-style : none;
	margin     : 0;
	padding    : 0;
	.inline-block-wrap;

	.flexbox(row; nowrap);

	& > .generator-links {
		position : absolute;
	}

	li {
		.grid-elements(4; 0; false; 2; 1);
		padding    : 6em 3.8em 13em;
		margin     : 0;
		color      : @primary-color;
		text-align : center;

		&:nth-of-type(1) {
			background-color : #f63d3d;
		}
		&:nth-of-type(2) {
			background-color : @brand-warning;

			.extra {
				.desc {
					font-size     : 1em;
					margin-bottom : 1em;
				}
				& + .extra {
					margin-top : 2.5em;
				}
			}

		}
		&:nth-of-type(3) {
			background-color : #ff3366;
		}
		&:nth-of-type(4) {
			background-color : #00ccff;
		}

		.title {
			color         : inherit;
			font-size     : 2.45em;
			margin-bottom : 1em;
		}

		.desc {
			color         : inherit;
			font-size     : 1.5em;
			font-weight   : 300;
			line-height   : 1.65em;
			margin-bottom : 3em;

			p {
				margin : 0;
			}
		}

		.btn {
			text-transform : uppercase;
			border-width   : 2px;
			padding-left   : 2.15em;
			padding-right  : 2.15em;

			&[href="#"] {
				display : none;
			}
		}

	}
}
//	SIDEBAR Style
//==================================================
aside {
	.aside-box {
		margin-bottom : 30px;
	}
}
//	FOOTER Style
//==================================================
.line-bottom-nav, footer, .line-under-slider {
	[class*="block-"] {

		position : relative;
		overflow : hidden;
		padding  : 3em 3em 3em (6.2em + 3em);
	}

	.block-flat-menu {
		padding : 3em 3em 3em 3em;
	}

	.title {
		color          : @primary-color;
		font-size      : 2.5em;
		letter-spacing : 0.05em;
		text-transform : uppercase;

		padding        : .5em .72em;
		position       : absolute;
		left           : 0;
		top            : 0;
		bottom         : 0;
		right          : initial;
		margin         : 0;

		&:not(.not-rotate) {
			margin-bottom            : 0;
			-webkit-transform-origin : 0 0;
			-ms-transform-origin     : 0 0;
			transform-origin         : 0 0;
			-webkit-transform        : rotate(-90deg) translate(-100%, 0%);
			-ms-transform            : rotate(-90deg) translate(-100%, 0%);
			transform                : rotate(-90deg) translate(-100%, 0%);
			text-align               : right;
			left                     : 0;
			right                    : 0;
			top                      : 0;
			bottom                   : initial;
			padding                  : .5em 1em;
			min-width                : 500px;
			width                    : 100%;
		}
	}

	.block-social {
		padding    : 0;
		text-align : right;
		a {
			display : block;
			clear   : both;
			float   : right;
		}
		.btn {
			.border-radius(0 0 0 0);
			line-height : 5em;
			width       : 5em;
		}
	}
}
.line-bottom-nav {
	background-color : #70ad29;
	.flexbox();
	.title {
		background-color : darken(#70ad29, 3%);
	}
	[class*="block-"] {
		//min-height : 350px;
	}
}
.line-under-slider {
	.title {
		background-color : darken(@body-bg, 3%);
		color            : @brand-primary1;
	}
}
footer {
	padding     : 0;
	background  : @footer-bg;
	color       : @footer-color;
	font-weight : 300;
	.flexbox();
	//font-size  : @font-size-small;
	.title {
		background-color : darken(@footer-bg, 3%);
	}

	& > div {
		position : relative;
		overflow : hidden;
		padding  : 4.5em 2em;
	}

	address {
		color : @primary-color;
	}
	a {
		.link-color(@primary-color);
		text-decoration : none;
	}
}
//	Button to scroll top
//==================================================
#go-top {
	.button-color(#ffffff; fade(#000000, 50%); fade(#000000, 50%); @primary-color; @primary-bg; @primary-bg);
}
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
