<<<<<<< HEAD
// Buttons style
// --------------------------------------------------
& when (@button-styles) {
    &.rounded when (@button-styles-rounded) {
        .border-radius(.25em);
    }

    &.circle when (@button-styles-circle) {
        .border-radius(10em);
    }
}

// Buttons social
// --------------------------------------------------
&.social when (@social-button) and (@social-styles) {
    &::before {
        font-size : @social-icon-size;
    }
=======
// Buttons style
// --------------------------------------------------
& when (@button-styles) {
    &.rounded when (@button-styles-rounded) {
        .border-radius(.25em);
    }

    &.circle when (@button-styles-circle) {
        .border-radius(10em);
    }
}

// Buttons social
// --------------------------------------------------
&.social when (@social-button) and (@social-styles) {
    &::before {
        font-size : @social-icon-size;
    }
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
}