<<<<<<< HEAD
// Block button
// --------------------------------------------------
&.block when (@button-type-block) and (@button-types) {
    float         : none;
    padding-left  : 0;
    padding-right : 0;
    width         : 100%;

    // Vertically space out multiple block buttons
    & + .block {
        margin-top : 0.5em;
    }
=======
// Block button
// --------------------------------------------------
&.block when (@button-type-block) and (@button-types) {
    float         : none;
    padding-left  : 0;
    padding-right : 0;
    width         : 100%;

    // Vertically space out multiple block buttons
    & + .block {
        margin-top : 0.5em;
    }
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
}