<<<<<<< HEAD
// Example code for dropdown menu
// <span class="menu-btn _BUTTON POSITION_" data-menu-position="top|right|left|bottom">_SAMPLE TEXT_</span>
// _BUTTON POSITION_ - left|right

=======
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
// Example code for sub main menu
//{ifpages}
//  <span class="sub-menu-btn d-hide"></span> - button for sub menu
//{/ifpages}
<<<<<<< HEAD
// Mobile menu

@menu-height                       : @button-height-large;

@menu-bg                           : @primary-bg;
@menu-color                        : @primary-color;

@menu-bg-li-hover                  : darken(@menu-bg, 5%);
@menu-bg-li-current                : @menu-bg-li-hover;

@menu-color-li-hover               : @menu-color;
@menu-color-li-current             : @menu-color-li-hover;

@menu-drop-down-list-bg            : #FFF;
@menu-drop-down-list-bg-hover      : darken(@menu-drop-down-list-bg, 5%);
@menu-drop-down-list-bg-current    : @menu-drop-down-list-bg-hover;

@menu-drop-down-list-color         : @text-color;
@menu-drop-down-list-color-hover   : @menu-drop-down-list-color;
@menu-drop-down-list-color-current : @menu-drop-down-list-color;

@mobile-bar-zindex : 105;

@top-block        : true;
@top-block-height : unit(@button-line-height * 2, em);
@top-block-bg     : @primary-bg;
@top-block-color  : @primary-color;

@bottom-block        : false;
@bottom-block-height : unit(@button-line-height * 3, em);
@bottom-block-bg     : @primary-bg;
@bottom-block-color  : @primary-color;

@menu-line-height : 2em;
@menu-bg          : @brand-primary;
@menu-color       : @text-color;
// Used for left and right menu
@menu-width       : 300px;
// Used for top and bottom menu
@menu-height      : 300px;

@top-block-height : @button-height-large;
@top-block-bg     : rgba(255, 255, 255, 0.9);
@top-block-color  : @primary-color;
@top-block-zindex : 100;

@bottom-block-height : @button-height-large;
@bottom-block-bg     : @primary-bg;
@bottom-block-color  : @primary-color;
@bottom-block-zindex : 100;

& when (@responsive), (@adaptive) {
	@media (min-width : (@responsive-size-tablet + 1)) {
		.mobile-bar, .mobile-menu {
			display : none;
=======

//http://labs.rampinteractive.co.uk/android_dp_px_calculator/

@m-text-color    : #212121;
@m-font-family    : "Roboto", Tahoma, Arial;
@m-font-size    : 14px;

@m-top-nav: true;
@m-top-nav-bg        : @brand-primary;
@m-top-nav-color    : #ffffff;
@m-top-nav-height    : 56px;
@m-side-nav-width    : 260px;
@m-side-item-height    : 48px;
@m-top-nav-scroll-effect: false;

@m-block-shadow: 0 0 7px fade(#000000, 50%);

@m-tabs: true;
@m-tabs_sub-of-main: false;

@m-tabs-height: 48px;
@m-tabs-item-gutter: 12px;
@m-tabs-color        : lighten(@brand-primary, 25%);
@m-tabs-color-active: @primary-color;
@m-tabs-border-color: @primary-color;

//

@mobile-bar-zindex : 90;

@top-block : true;
@top-block-height : @m-top-nav-height;
//unit(@button-line-height * 2, em);
@top-block-bg : @primary-bg;
@top-block-color : @primary-color;

@bottom-block : false;
@bottom-block-height : @m-top-nav-height;
//unit(@button-line-height * 3, em);
@bottom-block-bg : #ffffff;
@bottom-block-color : @primary-color;

@menu-line-height : unit(@button-line-height * 2, em);
@menu-bg : #ffffff;
@menu-color : #212121;
// Used for left and right menu
@menu-width : 300px;
// Used for top and bottom menu
@menu-height : 300px;

& when (@responsive), (@adaptive) {
	@media (min-width : (@responsive-size-tablet + 1)) {
		body {
			.mobile-bar, .mobile-menu {
				display : none;
			}
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
		}
	}
	@media only screen and (max-width : @responsive-size-tablet) {
		body {
<<<<<<< HEAD
			& when (@top-block) {
				padding-top : @top-block-height;
			}
			& when (@bottom-block) {
				padding-bottom : @bottom-block-height;
			}
			&[data-menu-open] {
=======
			& when (@top-block) and not(@m-tabs) {
				padding-top : @top-block-height;
			}
			& when (@top-block) and (@m-tabs){
				padding-top : @m-top-nav-height + @m-tabs-height;
			}
			& when (@bottom-block) {
				padding-bottom : @bottom-block-height;
			}
			&[data-menu-open], &[data-overlay] {
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
				overflow : hidden;

				&::after {
					content  : '';
					position : fixed;
					top      : 0;
					left     : 0;
					right    : 0;
					bottom   : 0;
					z-index  : @mobile-bar-zindex + 1;
				}
			}
		}
<<<<<<< HEAD
		[data-menu-open] {
			&::after {
				.rgba(#000; 50%);
=======
		[data-menu-open], &[data-overlay] {
			&::after {
				.rgba(#000000; 50%);
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
			}
		}
	}

	.mobile-bar {
		position    : fixed;
		left        : 0;
		right       : 0;
		z-index     : @mobile-bar-zindex;
<<<<<<< HEAD
		.box-shadow(0 0 7px fade(#000, 50%));
		.clearfix-mixin();
		position    : fixed;
		left        : 0;
		top         : 0;
		right       : 0;
		z-index     : @top-block-zindex;
		height      : @top-block-height;
		line-height : @top-block-height;
		color       : @top-block-color;
		background  : @top-block-bg;
		.box-shadow(0 0 7px @gray-dark);

		@media only print {
			& {
				display : none;
			}
		}

		.btn {
			line-height : inherit;

			&.btn-caption when (@button-type-caption) and (@button-types) {
				line-height : (@bottom-block-height / 2) - .5;

				&::before {
					line-height : inherit;
				}
			}
		}
=======
		font-family : @m-font-family;
		.flexbox(row; wrap);
		.box-shadow(@m-block-shadow);
		.clearfix-mixin;
		.translate3d(0; 0; 0);

		&.scroll-effect when(@m-top-nav-scroll-effect) {
			// scroll effect
			&.bar-scroll-hide {
				.animation(hide 0.5s forwards);

			}
			&:not(.bar-scroll-hide) {
				.animation(show 0.5s forwards);
			}

			@-webkit-keyframes hide {
				0% {
					.translate3d(0; 0; 0);
				}
				100% {
					.translate3d(0; -100%; 0);
				}
			}
			@-webkit-keyframes show {
				0% {
					.translate3d(0; -100%; 0);

				}
				100% {
					.translate3d(0; 0; 0);
				}
			}
		}
		// scroll effect end
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30

		&.top when (@top-block) {
			top         : 0;
			line-height : @top-block-height;
			color       : @top-block-color;
			background  : @top-block-bg;

			.btn {
				&.icon when (@flexkit-icons) and (@button-type-icon) and (@button-types) {
					width : @top-block-height;
				}
			}
		}

		&.bottom when (@bottom-block) {
			bottom      : 0;
			line-height : @bottom-block-height;
			color       : @bottom-block-color;
			background  : @bottom-block-bg;
<<<<<<< HEAD
=======
			border-top  : 1px solid darken(@menu-bg, 5%);
			.box-shadow(none);

			.flexbox(row; nowrap);

			& > * {
				.flex-box-size(1);
				text-align : center;
				font-size  : 12px;
			}

			a {
				text-decoration : none;
				color           : lighten(@m-text-color, 15%);
			}
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30

			.btn {
				&.icon when (@flexkit-icons) and (@button-type-icon) and (@button-types) {
					width : @bottom-block-height;
				}
			}
		}
<<<<<<< HEAD
	}

	.mobile-menu {
		// reset style for menu
		float      : none;
		height     : auto;
		text-align : left;
		margin     : 0 !important;
		padding    : 0;
		//style menu mobile
		width      : 85%;
		max-width  : @menu-width;
		position   : fixed;
		z-index    : 0;
		overflow   : auto;
		background : @menu-bg;
		color      : @menu-color;
		.transition();

		&.left, &.right {
			top    : 0;
			bottom : 0;
		}

		&.left {
			left : 0;
		}

		&.right {
			right : 0;
		}

		&.top, &.bottom {
			left       : 0;
			right      : 0;
			width      : auto;
			height     : @menu-height;
			max-height : 80%;
			max-width  : none;
		}

		&.top {
			top : 0;
		}

		&.bottom {
			bottom : 0;
		}

		> ul {
			border-top: 1px solid #6c931a;
			background  : transparent;
			color       : inherit;
			position    : relative;
			line-height : @menu-line-height;
			width       : auto;
			margin-top  : 50px;
			.box-shadow(none);
			a {
				display     : block;
				padding     : 0.535rem 1.25rem;
				line-height : 2em;
				overflow    : hidden;
			}
			> li > a {
				color            : #FFF;
				background-color : @brand-primary;

				&:hover, &.current {
					background : darken(@brand-primary, 10%);
				}
			}

			ul {
				width      : auto;
				position   : static;
				display    : none !important;
				background : @menu-drop-down-list-bg;
				color      : @menu-drop-down-list-color;
				.box-shadow(none);

				a {
					color : #000;
					&:hover, &.current {
						background : @menu-drop-down-list-bg-hover;
						color      : @menu-drop-down-list-color-hover;
					}
				}
				&.open {
					display : block !important;
				}
			}

		}

		li {
			float         : none;
			display       : block;
			border        : none;
			border-bottom : 1px solid darken(@brand-primary, 10%);

			&:hover {
				& when not(@nav-bg = @nav-bg-li-hover) {
					background : transparent;
				}
				& when not(@nav-color = @nav-color-li-hover) {
					color : inherit;
				}

				ul {
					display : none;
				}
			}

			li {
				border     : none;
				border-top : 1px solid @gray-lighter;
			}
		}
	}

	.menu-btn {
		cursor        : pointer;
		background    : @brand-primary;
		padding       : 0 @padding-base-horizontal;
		border-radius : 0;
		.user-select();

		//&::before{
		//    content    : '';
		//    height     : @top-block-height / 3;
		//    width      : @top-block-height / 3;
		//    margin-top : @top-block-height / 3;
		//    .transition();
		//    .gradient-vertical(#fff 0%, #fff 20%, transparent 20%, transparent 40%, #fff 40%, #fff 60%, transparent 60%, transparent 80%, #fff 80%, #fff 100%);
		//
		//    .mobile-bar.bottom &{
		//        margin-top : (@bottom-block-height - @top-block-height / 3) / 2;
		//    }
		//}

		&.left {
			float : left;

			&::before {
				margin-right : @top-block-height / 10;
				float        : left;
			}
		}
		&.right {
			float      : right;
			text-align : right;

			&::before {
				margin-left : @top-block-height / 10;
				float       : right;
			}
		}

		&.icon {
			width : @top-block-height;
			//text-indent : -9999px;

			&::before {
				margin-right : 0;
				margin-left  : 0;
			}
		}

		&:hover, &.active {
			background-color : darken(@brand-primary, 10%);
=======

		@media only print {
			& {
				display : none;
			}
		}

		.title {
			font-size    : 20px;
			padding      : 0 ~'calc(72px - ' @m-top-nav-height ~')';
			margin-right : auto;
			.flex-flexible(0; 1; 50%);
			.text-overflow;
		}

		.btn {
			line-height : inherit;
			width       : @m-top-nav-height;
			color       : inherit;
			//background-color : transparent;
			border      : none;
			.flex-flexible(0 0 @m-top-nav-height);

			&::before {
				margin    : initial;
				font-size : 18px;
			}
		}
	}

	// Top tabs
	//==================================================
	.tabs when not(@m-tabs) {
		display : none;
	}
	.tabs when (@m-tabs) {
		.flexbox(row; nowrap);
		.flex-flexible(1; 0; 100%);
		text-transform : uppercase;
		color          : @m-tabs-color;
		font-weight    : 500;
		overflow-x     : auto;
		height         : @m-tabs-height;
		line-height    : @m-tabs-height;
		.scroll-bar(0);

		// reset styles
		.sub-menu-btn {
			display : none;
		}
		li, a {
			padding : 0;
			margin  : 0;

		}

		.items-wrap, ul {
			.reset-style;
			.inline-block-wrap(middle; @font-size: @m-font-size);
			min-width   : 100vw;
			white-space : nowrap;
			text-align  : center;
			// TODO fix on desktop
			overflow    : visible;
		}

		li {
			display : inline-block;
			float   : none;

			//TODO fix on desktop
			border  : none !important;
		}

		a {
			display         : block;
			text-decoration : none;
			color           : inherit;
			border-bottom   : 2px solid transparent;
			padding         : 0 @m-tabs-item-gutter;
			line-height     : @m-tabs-height - 2px;

			&.current {
				// TODO remove !important
				background-color : transparent !important;
				border-color     : @m-tabs-border-color;
				color            : @m-tabs-color-active
			}
		}
		&.sub-of-main when not (@m-tabs_sub-of-main) {
			display : none;
		}
		&.sub-of-main when (@m-tabs_sub-of-main) {
			.category:not(.category-current) {
				display : none;
			}
			.category-current {
				.scroll-bar(0);
				&::after {
					content : none;
				}
				& > a, .sub-menu-btn {
					display : none;
				}
				ul {
					.inline-block-wrap(middle; @font-size: @m-font-size);
					display     : block;
					white-space : nowrap;
					position    : static;
					&::after {
						content : none;
					}
				}
			}
		}
	}


	.menu-btn {
		&:hover, &.active {
			.rgba(#000000; 10%);
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
		}

		&.active {
		}
	}

	.sub-menu-btn {
<<<<<<< HEAD
		float            : right;
		//line-height      : unit(@button-line-height * 2, em);
		//width            : unit(@button-line-height * 2, em);
		line-height      : 3.25em;
		width            : 3.2em;
		text-align       : center;
		color            : @primary-color;
		background-color : darken(@brand-primary, 10%);

		&::before {
			content : '';
			height  : 20px;
			width   : 20px;
			.inline-block();
			.gradient-vertical(#FFF 0%, #FFF 20%, transparent 20%, transparent 40%, #FFF 40%, #FFF 60%, transparent 60%, transparent 80%, #FFF 80%, #FFF 100%);
		}

		&:hover, &.active {
			background-color : darken(@brand-primary, 10%);
			//.rgba(#000; 20%);
=======
		//float      : right;
		width      : @m-side-item-height; //unit(@button-line-height * 2, em);
		text-align : center;
		color      : @primary-color;
		font-size  : 1.25em;
		position   : absolute;
		right      : 0;
		top        : 0;

		&::before {
			content     : "\e0ac";
			font-family : @font-family-icons;
			color       : @gray-light;

		}

		&:hover, &.active {
			&::before {
				content : "\e0aa";
			}
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
		}
	}
	@media only screen and (max-width : @responsive-size-tablet) {
		& when (@mobile-menu-over) {
			@import "menu/over";
		}
		& when (@mobile-menu-under) and not(@mobile-menu-over) {
			@import "menu/under";
		}
	}
}
<<<<<<< HEAD
& when (@mobile-dropdown) {
	@import "menu/dropdown";
}
=======

@import "menu/menu";

& when (@mobile-dropdown) {
	@import "menu/dropdown";
}
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
