<<<<<<< HEAD
.icon12, .icon14, .icon16, .icon18, .icon24, .icon32, .icon48, .icon64 {
    .inline-block();
    .box-sizing(content-box);
}
.icon12 { .icon-size(12px; true) !important; }
.icon14 { .icon-size(14px; true) !important; }
.icon16 { .icon-size(16px; true) !important; }
.icon18 { .icon-size(18px; true) !important; }
.icon24 { .icon-size(24px; true) !important; }
.icon32 { .icon-size(32px; true) !important; }
.icon48 { .icon-size(48px; true) !important; }
.icon64 { .icon-size(64px; true) !important; }

[class*="@{icon-prefix}-"], [class^=" @{icon-prefix}-"] {
    position : relative;
}

.flexkit-icon,
[class*="@{icon-prefix}-"]::before, [class^=" @{icon-prefix}-"]::before,
[data-icon]::before {
    font-family             : @font-family-icons;
    speak                   : none;
    font-style              : normal;
    font-weight             : normal;
    text-transform          : none;
    line-height             : 1;
    position                : relative;
    text-align              : center;
    .inline-block();

    // Better Font Rendering
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
}

// Use the following CSS code if you want to use data attributes for inserting your icons
[data-icon]:before{
    content : attr(data-icon);
}

.icon-home:before {
    content: "\e000";
}
.icon-home2:before {
    content: "\e001";
}
.icon-home3:before {
    content: "\e002";
}
.icon-office:before {
    content: "\e003";
}
.icon-newspaper:before {
    content: "\e004";
}
.icon-pencil:before {
    content: "\e005";
}
.icon-pencil2:before {
    content: "\e006";
}
.icon-pencil3:before {
    content: "\e007";
}
.icon-pencil4:before {
    content: "\e008";
}
.icon-feather:before {
    content: "\e009";
}
.icon-brush:before {
    content: "\e00a";
}
.icon-pictures:before {
    content: "\e00b";
}
.icon-pictures2:before {
    content: "\e00c";
}
.icon-picture:before {
    content: "\e00d";
}
.icon-picture2:before {
    content: "\e00e";
}
.icon-pictures3:before {
    content: "\e00f";
}
.icon-camera:before {
    content: "\e010";
}
.icon-camera2:before {
    content: "\e011";
}
.icon-movie:before {
    content: "\e012";
}
.icon-movie2:before {
    content: "\e013";
}
.icon-movie3:before {
    content: "\e014";
}
.icon-film:before {
    content: "\e015";
}
.icon-film2:before {
    content: "\e016";
}
.icon-king:before {
    content: "\e017";
}
.icon-queen:before {
    content: "\e018";
}
.icon-announcement:before {
    content: "\e019";
}
.icon-announcement2:before {
    content: "\e01a";
}
.icon-broadcast:before {
    content: "\e01b";
}
.icon-books:before {
    content: "\e01c";
}
.icon-reading:before {
    content: "\e01d";
}
.icon-file:before {
    content: "\e01e";
}
.icon-file-add:before {
    content: "\e01f";
}
.icon-file-remove:before {
    content: "\e020";
}
.icon-copy:before {
    content: "\e021";
}
.icon-stack:before {
    content: "\e022";
}
.icon-folder:before {
    content: "\e023";
}
.icon-folder2:before {
    content: "\e024";
}
.icon-folder-add:before {
    content: "\e025";
}
.icon-folder-remove:before {
    content: "\e026";
}
.icon-folder-add2:before {
    content: "\e027";
}
.icon-folder-remove2:before {
    content: "\e028";
}
.icon-folder-download:before {
    content: "\e029";
}
.icon-folder-upload:before {
    content: "\e02a";
}
.icon-folder-download2:before {
    content: "\e02b";
}
.icon-folder-upload2:before {
    content: "\e02c";
}
.icon-folder3:before {
    content: "\e02d";
}
.icon-folder4:before {
    content: "\e02e";
}
.icon-tag:before {
    content: "\e02f";
}
.icon-tag2:before {
    content: "\e030";
}
.icon-tag3:before {
    content: "\e031";
}
.icon-tag4:before {
    content: "\e032";
}
.icon-tag5:before {
    content: "\e033";
}
.icon-barcode:before {
    content: "\e034";
}
.icon-barcode2:before {
    content: "\e035";
}
.icon-ticket:before {
    content: "\e036";
}
.icon-cart:before {
    content: "\e037";
}
.icon-cart2:before {
    content: "\e038";
}
.icon-cart3:before {
    content: "\e039";
}
.icon-cart4:before {
    content: "\e03a";
}
.icon-cart-add:before {
    content: "\e03b";
}
.icon-cart-remove:before {
    content: "\e03c";
}
.icon-cart-checkout:before {
    content: "\e03d";
}
.icon-basket:before {
    content: "\e03e";
}
.icon-basket2:before {
    content: "\e03f";
}
.icon-bag:before {
    content: "\e040";
}
.icon-coin:before {
    content: "\e041";
}
.icon-support:before {
    content: "\e042";
}
.icon-phone:before {
    content: "\e043";
}
.icon-phone2:before {
    content: "\e044";
}
.icon-phone3:before {
    content: "\e045";
}
.icon-phone4:before {
    content: "\e046";
}
.icon-address:before {
    content: "\e047";
}
.icon-address2:before {
    content: "\e048";
}
.icon-notebook:before {
    content: "\e049";
}
.icon-mail:before {
    content: "\e04a";
}
.icon-mail2:before {
    content: "\e04b";
}
.icon-mail3:before {
    content: "\e04c";
}
.icon-mail4:before {
    content: "\e04d";
}
.icon-mail5:before {
    content: "\e04e";
}
.icon-location:before {
    content: "\e04f";
}
.icon-location2:before {
    content: "\e050";
}
.icon-location3:before {
    content: "\e051";
}
.icon-location4:before {
    content: "\e052";
}
.icon-map:before {
    content: "\e053";
}
.icon-map2:before {
    content: "\e054";
}
.icon-history:before {
    content: "\e055";
}
.icon-clock:before {
    content: "\e056";
}
.icon-clock2:before {
    content: "\e057";
}
.icon-wrist-watch:before {
    content: "\e058";
}
.icon-calendar:before {
    content: "\e059";
}
.icon-calendar2:before {
    content: "\e05a";
}
.icon-printer:before {
    content: "\e05b";
}
.icon-printer2:before {
    content: "\e05c";
}
.icon-screen:before {
    content: "\e05d";
}
.icon-screen2:before {
    content: "\e05e";
}
.icon-laptop:before {
    content: "\e05f";
}
.icon-mobile:before {
    content: "\e060";
}
.icon-tablet:before {
    content: "\e061";
}
.icon-mobile2:before {
    content: "\e062";
}
.icon-disk:before {
    content: "\e063";
}
.icon-cd:before {
    content: "\e064";
}
.icon-comments:before {
    content: "\e065";
}
.icon-comments2:before {
    content: "\e066";
}
.icon-comments3:before {
    content: "\e067";
}
.icon-comments4:before {
    content: "\e068";
}
.icon-comments5:before {
    content: "\e069";
}
.icon-comments6:before {
    content: "\e06a";
}
.icon-comments7:before {
    content: "\e06b";
}
.icon-comments8:before {
    content: "\e06c";
}
.icon-comments9:before {
    content: "\e06d";
}
.icon-user:before {
    content: "\e06e";
}
.icon-user-add:before {
    content: "\e06f";
}
.icon-user-remove:before {
    content: "\e070";
}
.icon-users:before {
    content: "\e071";
}
.icon-users2:before {
    content: "\e072";
}
.icon-quote:before {
    content: "\e073";
}
.icon-quote2:before {
    content: "\e074";
}
.icon-quote3:before {
    content: "\e075";
}
.icon-quote4:before {
    content: "\e076";
}
.icon-search:before {
    content: "\e077";
}
.icon-search2:before {
    content: "\e078";
}
.icon-zoom-in:before {
    content: "\e079";
}
.icon-zoom-out:before {
    content: "\e07a";
}
.icon-key:before {
    content: "\e07b";
}
.icon-key2:before {
    content: "\e07c";
}
.icon-locked:before {
    content: "\e07d";
}
.icon-unlocked:before {
    content: "\e07e";
}
.icon-locked2:before {
    content: "\e07f";
}
.icon-unlocked2:before {
    content: "\e080";
}
.icon-cogs:before {
    content: "\e081";
}
.icon-cog:before {
    content: "\e082";
}
.icon-cog2:before {
    content: "\e083";
}
.icon-remove:before {
    content: "\e084";
}
.icon-remove2:before {
    content: "\e085";
}
.icon-remove3:before {
    content: "\e086";
}
.icon-remove4:before {
    content: "\e087";
}
.icon-remove5:before {
    content: "\e088";
}
.icon-clipboard:before {
    content: "\e089";
}
.icon-clipboard2:before {
    content: "\e08a";
}
.icon-grid:before {
    content: "\e08b";
}
.icon-list:before {
    content: "\e08c";
}
.icon-list2:before {
    content: "\e08d";
}
.icon-list3:before {
    content: "\e08e";
}
.icon-grid2:before {
    content: "\e08f";
}
.icon-list4:before {
    content: "\e090";
}
.icon-list5:before {
    content: "\e091";
}
.icon-list6:before {
    content: "\e092";
}
.icon-menu:before {
    content: "\e093";
}
.icon-menu4:before {
    content: "\e094";
}
.icon-link:before {
    content: "\e095";
}
.icon-star:before {
    content: "\e096";
}
.icon-star2:before {
    content: "\e097";
}
.icon-star3:before {
    content: "\e098";
}
.icon-heart:before {
    content: "\e099";
}
.icon-heart2:before {
    content: "\e09a";
}
.icon-thumbs-up:before {
    content: "\e09b";
}
.icon-thumbs-down:before {
    content: "\e09c";
}
.icon-male:before {
    content: "\e09d";
}
.icon-female:before {
    content: "\e09e";
}
.icon-reload:before {
    content: "\e09f";
}
.icon-turn:before {
    content: "\e0a0";
}
.icon-expand:before {
    content: "\e0a1";
}
.icon-cancel:before {
    content: "\e0a2";
}
.icon-checkmark:before {
    content: "\e0a3";
}
.icon-checkmark2:before {
    content: "\e0a4";
}
.icon-checkmark3:before {
    content: "\e0a5";
}
.icon-minus:before {
    content: "\e0a6";
}
.icon-plus:before {
    content: "\e0a7";
}
.icon-plus-sign:before {
    content: "\e0a8";
}
.icon-minus-sign:before {
    content: "\e0a9";
}
.icon-remove-sign:before {
    content: "\e0aa";
}
.icon-ok-sign:before {
    content: "\e0ab";
}
.icon-question-sign:before {
    content: "\e0ac";
}
.icon-exclamation-sign:before {
    content: "\e0ad";
}
.icon-info-sign:before {
    content: "\e0ae";
}
.icon-login:before {
    content: "\e0af";
}
.icon-logout:before {
    content: "\e0b0";
}
.icon-arrow-up:before {
    content: "\e0b1";
}
.icon-arrow-right:before {
    content: "\e0b2";
}
.icon-arrow-down:before {
    content: "\e0b3";
}
.icon-arrow-left:before {
    content: "\e0b4";
}
.icon-arrow-up2:before {
    content: "\e0b5";
}
.icon-arrow-right2:before {
    content: "\e0b6";
}
.icon-arrow-down2:before {
    content: "\e0b7";
}
.icon-arrow-left2:before {
    content: "\e0b8";
}
.icon-arrow-up3:before {
    content: "\e0b9";
}
.icon-arrow-right3:before {
    content: "\e0ba";
}
.icon-arrow-down3:before {
    content: "\e0bb";
}
.icon-arrow-left3:before {
    content: "\e0bc";
}
.icon-arrow-up4:before {
    content: "\e0bd";
}
.icon-arrow-right4:before {
    content: "\e0be";
}
.icon-arrow-down4:before {
    content: "\e0bf";
}
.icon-arrow-left4:before {
    content: "\e0c0";
}
.icon-arrow-down5:before {
    content: "\e0c1";
}
.icon-arrow-left5:before {
    content: "\e0c2";
}
.icon-arrow-right5:before {
    content: "\e0c3";
}
.icon-arrow-up5:before {
    content: "\e0c4";
}
.icon-arrow-left6:before {
    content: "\e0c5";
}
.icon-arrow-right6:before {
    content: "\e0c6";
}
.icon-arrow-up7:before {
    content: "\e0c7";
}
.icon-arrow-right7:before {
    content: "\e0c8";
}
.icon-arrow-left7:before {
    content: "\e0c9";
}
.icon-arrow-down7:before {
    content: "\e0ca";
}
.icon-sort-up:before {
    content: "\e0cb";
}
.icon-sort-down:before {
    content: "\e0cc";
}
.icon-sort:before {
    content: "\e0cd";
}
.icon-delivery:before {
    content: "\e0ce";
}
.icon-delivery2:before {
    content: "\e0cf";
}
.icon-delivery3:before {
    content: "\e0d0";
}
.icon-delivery4:before {
    content: "\e0d1";
}
.icon-delivery5:before {
    content: "\e0d2";
}
.icon-idcard:before {
    content: "\e0d3";
}
.icon-idcard2:before {
    content: "\e0d4";
}
.icon-idcard3:before {
    content: "\e0d5";
}
.icon-mail-book:before {
    content: "\e0d6";
}
.icon-user-book:before {
    content: "\e0d7";
}
.icon-earth:before {
    content: "\e0d8";
}
.icon-gplus:before {
    content: "\e0d9";
}
.icon-gplus2:before {
    content: "\e0da";
}
.icon-gplus3:before {
    content: "\e0db";
}
.icon-facebook:before {
    content: "\e0dc";
}
.icon-facebook2:before {
    content: "\e0dd";
}
.icon-facebook3:before {
    content: "\e0de";
}
.icon-twitter:before {
    content: "\e0df";
}
.icon-twitter2:before {
    content: "\e0e0";
}
.icon-twitter3:before {
    content: "\e0e1";
}
.icon-feed:before {
    content: "\e0e2";
}
.icon-feed2:before {
    content: "\e0e3";
}
.icon-feed3:before {
    content: "\e0e4";
}
.icon-youtube:before {
    content: "\e0e5";
}
.icon-youtube2:before {
    content: "\e0e6";
}
.icon-vimeo:before {
    content: "\e0e7";
}
.icon-vimeo2:before {
    content: "\e0e8";
}
.icon-linkedin:before {
    content: "\e0e9";
}
.icon-linkedin4:before {
    content: "\e0f1";
}
.icon-linkedin2:before {
    content: "\e0f2";
}
.icon-html5:before {
    content: "\e0f3";
}
.icon-html52:before {
    content: "\e0f4";
}
.icon-chrome:before {
    content: "\e0f5";
}
.icon-firefox:before {
    content: "\e0f6";
}
.icon-IE:before {
    content: "\e0f7";
}
.icon-opera:before {
    content: "\e0f8";
}
.icon-safari:before {
    content: "\e0f9";
}
.icon-toaster:before {
    content: "\e0fa";
}
.icon-brace-up:before {
    content: "\e0fb";
}
.icon-brace-right:before {
    content: "\e0fc";
}
.icon-brace-left:before {
    content: "\e0fd";
}
.icon-lamp:before {
    content: "\e0fe";
}
.icon-wand:before {
    content: "\e0ff";
}
.icon-eye:before {
    content: "\e100";
}
.icon-zoom-in2:before {
    content: "\e101";
}
.icon-warning:before {
    content: "\e102";
}
.icon-compass:before {
    content: "\e103";
}
.icon-pin:before {
    content: "\e104";
}
.icon-broadcast2:before {
    content: "\e105";
}
.icon-phone6:before {
    content: "\e0ea";
}
.icon-toaster2:before {
    content: "\e0eb";
}
.icon-track-calls:before {
    content: "\e0ec";
}
.icon-track-search:before {
    content: "\e0ed";
}
.icon-track-socials:before {
    content: "\e0ee";
}
.icon-user-plus:before {
    content: "\e0ef";
}
.icon-wordpress:before {
    content: "\e0f0";
}
.icon-brand:before {
    content: "\e0f0";
}
.icon-social:before {
    content: "\e0f0";
}
.icon-cms:before {
    content: "\e0f0";
}
=======
.icon12, .icon14, .icon16, .icon18, .icon24, .icon32, .icon48, .icon64 {
    .inline-block();
    .box-sizing(content-box);
}
.icon12 { .icon-size(12px; true) !important; }
.icon14 { .icon-size(14px; true) !important; }
.icon16 { .icon-size(16px; true) !important; }
.icon18 { .icon-size(18px; true) !important; }
.icon24 { .icon-size(24px; true) !important; }
.icon32 { .icon-size(32px; true) !important; }
.icon48 { .icon-size(48px; true) !important; }
.icon64 { .icon-size(64px; true) !important; }

[class*="@{icon-prefix}-"], [class^=" @{icon-prefix}-"] {
    position : relative;
}

.flexkit-icon,
[class*="@{icon-prefix}-"]::before, [class^=" @{icon-prefix}-"]::before,
[data-icon]::before {
    font-family             : @font-family-icons;
    speak                   : none;
    font-style              : normal;
    font-weight             : normal;
    text-transform          : none;
    line-height             : 1;
    position                : relative;
    text-align              : center;
    .inline-block();

    // Better Font Rendering
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
}

// Use the following CSS code if you want to use data attributes for inserting your icons
[data-icon]::before {
    content : attr(data-icon);
}
.@{icon-prefix}-home:before {
    content: "\e000";
}
.@{icon-prefix}-home2:before {
    content: "\e001";
}
.@{icon-prefix}-news:before {
    content: "\e002";
}
.@{icon-prefix}-paper:before {
    content: "\e002";
}
.@{icon-prefix}-pencil:before {
    content: "\e003";
}
.@{icon-prefix}-pencil2:before {
    content: "\e004";
}
.@{icon-prefix}-pencil3:before {
    content: "\e005";
}
.@{icon-prefix}-brush:before {
    content: "\e006";
}
.@{icon-prefix}-camera:before {
    content: "\e007";
}
.@{icon-prefix}-picture:before {
    content: "\e008";
}
.@{icon-prefix}-movie2:before {
    content: "\e009";
}
.@{icon-prefix}-film:before {
    content: "\e00a";
}
.@{icon-prefix}-king:before {
    content: "\e00b";
}
.@{icon-prefix}-queen:before {
    content: "\e00c";
}
.@{icon-prefix}-announcement:before {
    content: "\e00d";
}
.@{icon-prefix}-announcement2:before {
    content: "\e00e";
}
.@{icon-prefix}-broadcast:before {
    content: "\e00f";
}
.@{icon-prefix}-books:before {
    content: "\e010";
}
.@{icon-prefix}-reading:before {
    content: "\e011";
}
.@{icon-prefix}-file:before {
    content: "\e012";
}
.@{icon-prefix}-file-add:before {
    content: "\e013";
}
.@{icon-prefix}-file-remove:before {
    content: "\e014";
}
.@{icon-prefix}-copy:before {
    content: "\e015";
}
.@{icon-prefix}-stack:before {
    content: "\e016";
}
.@{icon-prefix}-folder:before {
    content: "\e017";
}
.@{icon-prefix}-folder2:before {
    content: "\e018";
}
.@{icon-prefix}-folder-add:before {
    content: "\e019";
}
.@{icon-prefix}-folder-remove:before {
    content: "\e01a";
}
.@{icon-prefix}-folder-add2:before {
    content: "\e01b";
}
.@{icon-prefix}-folder-remove2:before {
    content: "\e01c";
}
.@{icon-prefix}-folder-download:before {
    content: "\e01d";
}
.@{icon-prefix}-folder-upload:before {
    content: "\e01e";
}
.@{icon-prefix}-folder-download2:before {
    content: "\e01f";
}
.@{icon-prefix}-folder-upload2:before {
    content: "\e020";
}
.@{icon-prefix}-folder3:before {
    content: "\e021";
}
.@{icon-prefix}-folder4:before {
    content: "\e022";
}
.@{icon-prefix}-tag2:before {
    content: "\e023";
}
.@{icon-prefix}-tag3:before {
    content: "\e024";
}
.@{icon-prefix}-barcode:before {
    content: "\e025";
}
.@{icon-prefix}-barcode2:before {
    content: "\e026";
}
.@{icon-prefix}-ticket:before {
    content: "\e027";
}
.@{icon-prefix}-cart:before {
    content: "\e028";
}
.@{icon-prefix}-cart2:before {
    content: "\e029";
}
.@{icon-prefix}-cart3:before {
    content: "\e02a";
}
.@{icon-prefix}-backet:before {
    content: "\e02b";
}
.@{icon-prefix}-basket2:before {
    content: "\e02c";
}
.@{icon-prefix}-basket3:before {
    content: "\e02d";
}
.@{icon-prefix}-bag2:before {
    content: "\e02e";
}
.@{icon-prefix}-bag:before {
    content: "\e02f";
}
.@{icon-prefix}-coin:before {
    content: "\e030";
}
.@{icon-prefix}-support:before {
    content: "\e031";
}
.@{icon-prefix}-fax:before {
    content: "\e032";
}
.@{icon-prefix}-phone:before {
    content: "\e033";
}
.@{icon-prefix}-phone2:before {
    content: "\e034";
}
.@{icon-prefix}-phone3:before {
    content: "\e035";
}
.@{icon-prefix}-phone4:before {
    content: "\e036";
}
.@{icon-prefix}-phone5:before {
    content: "\e037";
}
.@{icon-prefix}-phone6:before {
    content: "\e038";
}
.@{icon-prefix}-address:before {
    content: "\e039";
}
.@{icon-prefix}-address2:before {
    content: "\e03a";
}
.@{icon-prefix}-notebook:before {
    content: "\e03b";
}
.@{icon-prefix}-mail:before {
    content: "\e03c";
}
.@{icon-prefix}-mail2:before {
    content: "\e03d";
}
.@{icon-prefix}-mail3:before {
    content: "\e03e";
}
.@{icon-prefix}-mail4:before {
    content: "\e03f";
}
.@{icon-prefix}-mail5:before {
    content: "\e040";
}
.@{icon-prefix}-send:before {
    content: "\e041";
}
.@{icon-prefix}-location:before {
    content: "\e042";
}
.@{icon-prefix}-location2:before {
    content: "\e043";
}
.@{icon-prefix}-location3:before {
    content: "\e044";
}
.@{icon-prefix}-location4:before {
    content: "\e045";
}
.@{icon-prefix}-map:before {
    content: "\e046";
}
.@{icon-prefix}-map2:before {
    content: "\e047";
}
.@{icon-prefix}-wrist-watch:before {
    content: "\e048";
}
.@{icon-prefix}-calendar:before {
    content: "\e049";
}
.@{icon-prefix}-calendar2:before {
    content: "\e04a";
}
.@{icon-prefix}-calendar3:before {
    content: "\e04b";
}
.@{icon-prefix}-calendar4:before {
    content: "\e04c";
}
.@{icon-prefix}-printer:before {
    content: "\e04d";
}
.@{icon-prefix}-printer2:before {
    content: "\e04e";
}
.@{icon-prefix}-screen:before {
    content: "\e04f";
}
.@{icon-prefix}-screen2:before {
    content: "\e050";
}
.@{icon-prefix}-laptop:before {
    content: "\e051";
}
.@{icon-prefix}-mobile:before {
    content: "\e052";
}
.@{icon-prefix}-tablet:before {
    content: "\e053";
}
.@{icon-prefix}-disk:before {
    content: "\e054";
}
.@{icon-prefix}-cd:before {
    content: "\e055";
}
.@{icon-prefix}-comments:before {
    content: "\e056";
}
.@{icon-prefix}-comments2:before {
    content: "\e057";
}
.@{icon-prefix}-comments3:before {
    content: "\e058";
}
.@{icon-prefix}-comments4:before {
    content: "\e059";
}
.@{icon-prefix}-comments5:before {
    content: "\e05a";
}
.@{icon-prefix}-comments6:before {
    content: "\e05b";
}
.@{icon-prefix}-comments7:before {
    content: "\e05c";
}
.@{icon-prefix}-comments8:before {
    content: "\e05d";
}
.@{icon-prefix}-comments9:before {
    content: "\e05e";
}
.@{icon-prefix}-user:before {
    content: "\e05f";
}
.@{icon-prefix}-user-add:before {
    content: "\e060";
}
.@{icon-prefix}-user-remove:before {
    content: "\e061";
}
.@{icon-prefix}-users:before {
    content: "\e062";
}
.@{icon-prefix}-users2:before {
    content: "\e063";
}
.@{icon-prefix}-quote:before {
    content: "\e064";
}
.@{icon-prefix}-quote2:before {
    content: "\e065";
}
.@{icon-prefix}-quote3:before {
    content: "\e066";
}
.@{icon-prefix}-quote4:before {
    content: "\e067";
}
.@{icon-prefix}-search:before {
    content: "\e068";
}
.@{icon-prefix}-zoom-in:before {
    content: "\e069";
}
.@{icon-prefix}-zoom-out:before {
    content: "\e06a";
}
.@{icon-prefix}-key:before {
    content: "\e06b";
}
.@{icon-prefix}-key2:before {
    content: "\e06c";
}
.@{icon-prefix}-locked:before {
    content: "\e06d";
}
.@{icon-prefix}-unlocked:before {
    content: "\e06e";
}
.@{icon-prefix}-locked2:before {
    content: "\e06f";
}
.@{icon-prefix}-unlocked2:before {
    content: "\e070";
}
.@{icon-prefix}-cogs:before {
    content: "\e071";
}
.@{icon-prefix}-cogs2:before {
    content: "\e072";
}
.@{icon-prefix}-cog:before {
    content: "\e073";
}
.@{icon-prefix}-cog2:before {
    content: "\e074";
}
.@{icon-prefix}-remove:before {
    content: "\e075";
}
.@{icon-prefix}-remove2:before {
    content: "\e076";
}
.@{icon-prefix}-remove3:before {
    content: "\e077";
}
.@{icon-prefix}-remove4:before {
    content: "\e078";
}
.@{icon-prefix}-remove5:before {
    content: "\e079";
}
.@{icon-prefix}-clipboard:before {
    content: "\e07a";
}
.@{icon-prefix}-clipboard2:before {
    content: "\e07b";
}
.@{icon-prefix}-menu:before {
    content: "\e07c";
}
.@{icon-prefix}-more-vert:before {
    content: "\e07d";
}
.@{icon-prefix}-grid:before {
    content: "\e07e";
}
.@{icon-prefix}-list:before {
    content: "\e07f";
}
.@{icon-prefix}-list2:before {
    content: "\e080";
}
.@{icon-prefix}-list3:before {
    content: "\e081";
}
.@{icon-prefix}-grid2:before {
    content: "\e082";
}
.@{icon-prefix}-list4:before {
    content: "\e083";
}
.@{icon-prefix}-list5:before {
    content: "\e084";
}
.@{icon-prefix}-menu2:before {
    content: "\e085";
}
.@{icon-prefix}-menu4:before {
    content: "\e086";
}
.@{icon-prefix}-link:before {
    content: "\e087";
}
.@{icon-prefix}-link2:before {
    content: "\e088";
}
.@{icon-prefix}-star:before {
    content: "\e089";
}
.@{icon-prefix}-star2:before {
    content: "\e08a";
}
.@{icon-prefix}-star3:before {
    content: "\e08b";
}
.@{icon-prefix}-heart:before {
    content: "\e08c";
}
.@{icon-prefix}-heart2:before {
    content: "\e08d";
}
.@{icon-prefix}-thumbs-up:before {
    content: "\e08e";
}
.@{icon-prefix}-thumbs-down:before {
    content: "\e08f";
}
.@{icon-prefix}-male:before {
    content: "\e090";
}
.@{icon-prefix}-female:before {
    content: "\e091";
}
.@{icon-prefix}-reload:before {
    content: "\e092";
}
.@{icon-prefix}-reload2:before {
    content: "\e093";
}
.@{icon-prefix}-reload3:before {
    content: "\e094";
}
.@{icon-prefix}-reload4:before {
    content: "\e095";
}
.@{icon-prefix}-turn:before {
    content: "\e096";
}
.@{icon-prefix}-expand:before {
    content: "\e097";
}
.@{icon-prefix}-close:before {
    content: "\e098";
}
.@{icon-prefix}-close2:before {
    content: "\e099";
}
.@{icon-prefix}-close3:before {
    content: "\e09a";
}
.@{icon-prefix}-checkmark:before {
    content: "\e09b";
}
.@{icon-prefix}-checkmark2:before {
    content: "\e09c";
}
.@{icon-prefix}-checkmark3:before {
    content: "\e09d";
}
.@{icon-prefix}-add:before {
    content: "\e09e";
}
.@{icon-prefix}-add-circle:before {
    content: "\e09f";
}
.@{icon-prefix}-cancel-circle:before {
    content: "\e0a0";
}
.@{icon-prefix}-check-circle:before {
    content: "\e0a1";
}
.@{icon-prefix}-error-circle:before {
    content: "\e0a2";
}
.@{icon-prefix}-info-circle:before {
    content: "\e0a3";
}
.@{icon-prefix}-login:before {
    content: "\e0a4";
}
.@{icon-prefix}-logout:before {
    content: "\e0a5";
}
.@{icon-prefix}-arrow-right:before {
    content: "\e0a6";
}
.@{icon-prefix}-arrow-right4:before {
    content: "\e0a7";
}
.@{icon-prefix}-arrow-down:before {
    content: "\e0a8";
}
.@{icon-prefix}-arrow-left:before {
    content: "\e0a9";
}
.@{icon-prefix}-arrow-up2:before {
    content: "\e0aa";
}
.@{icon-prefix}-arrow-right2:before {
    content: "\e0ab";
}
.@{icon-prefix}-arrow-down2:before {
    content: "\e0ac";
}
.@{icon-prefix}-arrow-left2:before {
    content: "\e0ad";
}
.@{icon-prefix}-arrow-up3:before {
    content: "\e0ae";
}
.@{icon-prefix}-arrow-right3:before {
    content: "\e0af";
}
.@{icon-prefix}-arrow-down3:before {
    content: "\e0b0";
}
.@{icon-prefix}-arrow-left3:before {
    content: "\e0b1";
}
.@{icon-prefix}-sort-up:before {
    content: "\e0b2";
}
.@{icon-prefix}-arrow-right5:before {
    content: "\e0b3";
}
.@{icon-prefix}-arrow-left4:before {
    content: "\e0b4";
}
.@{icon-prefix}-sort-down:before {
    content: "\e0b5";
}
.@{icon-prefix}-sort:before {
    content: "\e0b6";
}
.@{icon-prefix}-delivery:before {
    content: "\e0b7";
}
.@{icon-prefix}-delivery2:before {
    content: "\e0b8";
}
.@{icon-prefix}-delivery3:before {
    content: "\e0b9";
}
.@{icon-prefix}-delivery4:before {
    content: "\e0ba";
}
.@{icon-prefix}-delivery5:before {
    content: "\e0bb";
}
.@{icon-prefix}-idcard:before {
    content: "\e0bc";
}
.@{icon-prefix}-idcard2:before {
    content: "\e0bd";
}
.@{icon-prefix}-idcard3:before {
    content: "\e0be";
}
.@{icon-prefix}-mail-book:before {
    content: "\e0bf";
}
.@{icon-prefix}-user-book:before {
    content: "\e0c0";
}
.@{icon-prefix}-earth:before {
    content: "\e0c1";
}
.@{icon-prefix}-gplus:before {
    content: "\e0c2";
}
.@{icon-prefix}-facebook:before {
    content: "\e0c3";
}
.@{icon-prefix}-twitter:before {
    content: "\e0c4";
}
.@{icon-prefix}-feed:before {
    content: "\e0c5";
}
.@{icon-prefix}-youtube:before {
    content: "\e0c6";
}
.@{icon-prefix}-odnoklassniki:before {
    content: "\e0c7";
}
.@{icon-prefix}-vimeo:before {
    content: "\e0c8";
}
.@{icon-prefix}-blogger:before {
    content: "\e0c9";
}
.@{icon-prefix}-pinterest:before {
    content: "\e0ca";
}
.@{icon-prefix}-linkedin:before {
    content: "\e0cb";
}
.@{icon-prefix}-vk:before {
    content: "\e0cc";
}
.@{icon-prefix}-instagram-old:before {
    content: "\e0cd";
}
.@{icon-prefix}-instagram:before {
    content: "\e0ce";
}
.@{icon-prefix}-html5:before {
    content: "\e0cf";
}
.@{icon-prefix}-html52:before {
    content: "\e0d0";
}
.@{icon-prefix}-chrome:before {
    content: "\e0d1";
}
.@{icon-prefix}-firefox:before {
    content: "\e0d2";
}
.@{icon-prefix}-IE:before {
    content: "\e0d3";
}
.@{icon-prefix}-opera:before {
    content: "\e0d4";
}
.@{icon-prefix}-safari:before {
    content: "\e0d5";
}
.@{icon-prefix}-toaster:before {
    content: "\e0d6";
}
.@{icon-prefix}-file-zip:before {
    content: "\e0d7";
}
.@{icon-prefix}-file-doc:before {
    content: "\e0d8";
}
.@{icon-prefix}-file-pdf:before {
    content: "\e0d9";
}
.@{icon-prefix}-bell:before {
    content: "\e0da";
}
.@{icon-prefix}-arrow-right6:before {
    content: "\e0db";
}
.@{icon-prefix}-arrow-left5:before {
    content: "\e0dc";
}
.@{icon-prefix}-eye:before {
    content: "\e0dd";
}
.@{icon-prefix}-clock:before {
    content: "\e0de";
}
.@{icon-prefix}-light:before {
    content: "\e0df";
}
.@{icon-prefix}-copyright:before {
    content: "\e0e0";
}
.@{icon-prefix}-download:before {
    content: "\e0e1";
}
.@{icon-prefix}-headphones:before {
    content: "\e0e2";
}
.@{icon-prefix}-info:before {
    content: "\e0e3";
}
.@{icon-prefix}-play-circle:before {
    content: "\e0e4";
}
.@{icon-prefix}-pause-circle:before {
    content: "\e0e5";
}
.@{icon-prefix}-remove-circle:before {
    content: "\e0e6";
}
.@{icon-prefix}-back-to-top:before {
    content: "\e0e7";
}
.@{icon-prefix}-key3:before {
    content: "\e0e8";
}
.@{icon-prefix}-location4:before {
    content: "\e0e9";
}
.@{icon-prefix}-phone6:before {
    content: "\e0ea";
}
.@{icon-prefix}-toaster2:before {
    content: "\e0eb";
}
.@{icon-prefix}-track-calls:before {
    content: "\e0ec";
}
.@{icon-prefix}-track-search:before {
    content: "\e0ed";
}
.@{icon-prefix}-track-socials:before {
    content: "\e0ee";
}
.@{icon-prefix}-user-plus:before {
    content: "\e0ef";
}
.@{icon-prefix}-wordpress:before {
    content: "\e0f0";
}
.@{icon-prefix}check-circle2:before {
    content: "\e0f1";
}

>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
