<<<<<<< HEAD
// Table of Content
//==================================================
//	Links
//	Heading
//	Blockquotes
//  Toaster icon
//  Custom classes
//==================================================

// Links
//==================================================
a {
    color : @link-color;

    &:visited when not(@link-color-visited = none) {
        //color : @link-color-visited;
    }

    &:hover {
        color : @link-color-hover
    }

    &:active {
        color : @link-color-active;
    }
}

// Heading
//==================================================
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top    : 1.5em;
    margin-bottom : 0.5em;
    color         : @heading-color;
    font-family   : @font-family-headings;
    & when not(@heading-weight = bold) and not (@heading-weight = 700) {
        font-weight   : @heading-weight;
    }
    
    &:first-child:not(.logo) {
        margin-top : 0;
    }

    & when (@componentsJS) and (@widget-rotator) {
        .slide .slide-description & {
            color : @slider-heading-color;
        }
    }

    & when not(@footer-heading-color = @heading-color) {
        footer & {
            color : @footer-heading-color;
        }
    }

    &:empty {
        display : none;
    }
}
h1, .h1 { font-size : 2.25em; }
h2, .h2 {
    font-size : 1.75em;

    @media only screen and (max-width : @responsive-size-mobile){

        .btn{
            padding: 0 0.25em;
            font-size: 0.95em;
        }
    }
}
h3, .h3 { font-size : 1.25em; }
h4, .h4 { font-size : 1em; }
h5, .h5 { font-size : 0.875em; }
h6, .h6 { font-size : 0.75em; }

.subtitle {
    color     : @subheading-color;
    font-size : @font-size-mini;
}

p {
    margin-top    : 0;
    margin-bottom : 15px;
}

address {
    margin-bottom : 20px;
    font-style    : normal;
}
h1.blue-title{
    font-size      : 50px;
    color          : #3497CD;
    text-transform : uppercase;
    font-family    : 'Roboto Condensed', sans-serif;
    font-weight    : 700;
    margin-top: 50px!important;
}
h2.green-title{
    font-size      : 33px;
    color          : #4C9900;
    text-transform : uppercase;
    font-family    : 'Roboto Condensed', sans-serif;
    font-weight    : 700;
    margin-top: 25px;
    line-height: 1.1em;
}
.gray-text {
    font-size: 18px;
    color:#777;
}
.mt120px {
    margin-top: 120px;
}
p.title {
    color:#5e96cf;
    font-size: 30px;
    text-align: center;
    font-family    : 'Roboto Condensed', sans-serif;
    font-weight: 700;
}
h3.dark-gray-title {
    color:#3a3a3a;
    text-transform: uppercase;
    font-size: 22px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 40px;
    margin-top: 65px;
}
.footer-green {
   background: #4C9900;
    color:#fff;
   &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100vw;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        background-color: #4C9900;
   }
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}
span.tel {
    color:#fff;
    font-size: 40px;
    font-family    : 'Roboto Condensed', sans-serif;
    font-weight: 700;
=======
// Table of Content
//==================================================
//	Links
//	Heading
//	Blockquotes
//  Toaster icon
//  Custom classes
//==================================================

// Links
//==================================================
a {
	color : @link-color;

	&:visited when not(@link-color-visited = none) {
		color : @link-color-visited;
	}

	&:hover {
		color : @link-color-hover
	}

	&:active {
		color : @link-color-active;
	}
}
// Heading
//==================================================
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin-top    : 1.5em;
	margin-bottom : 0.5em;
	color         : @heading-color;
	font-family   : @font-family-headings;
	& when not(@heading-weight = bold) and not (@heading-weight = 700) {
		font-weight : @heading-weight;
	}

	&:first-child:not(.logo) {
		margin-top : 0;
	}

	& when (@componentsJS) and (@widget-rotator) {
		.slide .slide-description & {
			color          : @slider-heading-color;
			letter-spacing : 0.05em;

			&.title {
				font-size : 60px;
				margin    : 0;

				&:first-child {
					font-weight    : 300;
					text-transform : uppercase;
				}
			}
		}
	}

	& when not(@footer-heading-color = @heading-color) {
		footer & {
			color : @footer-heading-color;
		}
	}

	&:empty {
		display : none;
	}
	& when (@heading-color = #ffffff) {
		#tinymce & {
			color : #000000;
		}
	}

}
.h1, .h2, .h3, .h4, .h5, .h6 {
	& when (@heading-weight = bold) or (@heading-weight = 700) {
		font-weight : @heading-weight;
	}
}
h1, .h1 {
	font-size : 2.25em;
}
h2, .h2 {
	font-size : 1.75em;
}
h3, .h3 {
	font-size : 1.25em;
}
h4, .h4 {
	font-size : 1em;
}
h5, .h5 {
	font-size : 0.875em;
}
h6, .h6 {
	font-size : 0.75em;
}
.subtitle {
	color     : @subheading-color;
	font-size : @font-size-mini;
}
p {
	margin-top    : 0;
	margin-bottom : 15px;
}
address {
	margin-bottom : 20px;
	font-style    : normal;
>>>>>>> c7c6b71d9ee854cc2fc78f1e6c9256cd4ce5ba30
}